﻿
<style type="text/css">
	div#becomeAPartner  
	{
		border:solid 1px #666666;
		height:178px;
		width:178px;
		background-image:url(/Quantifi/Images/become_a_partner.png);
	}

 div#becomeAPartner div.innerPartner  { padding:5px; }
  div#becomeAPartner div.innerPartner h3 { font-size:12px; }
 div#becomeAPartner div.innerPartner  a {text-decoration:none;}	 
  div#becomeAPartner div.innerPartner a.callout {font-weight:700; text-decoration:underline;}
</style>


<div id="becomeAPartner" >
	<div class="innerPartner">
	<h3><a href="/partners.aspx">Become a Partner</a></h3>
		<a href="/partners.aspx">Discover how an alliance with Quantifi can benefit your business</a>
			<br /><br /><br /> 
			<a href="/partners.aspx" class="callout" >Learn More</a>
	</div>
</div>
