﻿<style type="text/css">
    HTML {
    MARGIN: 0px
    }
    BODY {
    MARGIN: 0px
    }
    BODY {
    PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
    }
    H1 {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    H2 {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    H3 {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    H4 {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    H5 {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    H6 {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    DIV {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    HTML {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    BODY {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    TABLE {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    TD {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    TH {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
    A {
    FONT-FAMILY: Arial; COLOR: rgb(77,77,77)
    }
</style>
<table style="background-color: rgb(189, 189, 189); font-family: Arial,Verdana; table-layout: auto;" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="top" align="center">
            <table style="background-color: rgb(255, 255, 255); table-layout: auto;" height="100%" border="0" cellpadding="0" cellspacing="0" width="650">
                <tbody>
                    <tr>
                        <td style="background-color: rgb(189, 189, 189); height: 4px;" valign="top" align="left"><img style="display: block;" alt="" src="http://my.dotmailer.com/CmpImg/2010/24973/1114410_spacer.gif" height="4" border="0" width="4"></td>
                    </tr>
                    <tr>
                        <td style="height: 218px;" valign="top" align="left"><!-- Header --><img style="display: block;" alt="" src="http://my.dotmailer.com/CmpImg/2010/24973/1945715_v10.2client.jpg" height="225" border="0" width="649"></td>
                    </tr>
                    <tr>
                        <td>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="width: 40px;">&nbsp; </td>
                                    <td style="width: 570px;">
                                    <table style="width: 570px; font-family: Arial; color: rgb(97, 99, 101); font-size: 12px; border-top: 2px solid rgb(110, 110, 110);" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td><br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><em><font style="font-size: 14px;"><strong>
                                                </strong></font></em>
                                                <ul><em><font style="font-size: 14px;"><strong>
                                                    <li>Delivers enhancments to FX Options and Hybrids along with simpler integration and expanded intra-day risk
                                                    </li>
                                                    </strong></font></em>
                                                    <li><em><font style="font-size: 14px;"><strong>Builds on support for rapidly evolving regulatory requirements including Basel lll, Dodd-Frank, MiFID and EMIR</strong></font></em></li>
                                                </ul>
                                                <div style="line-height: 19px; font-family: Arial;">Quantifi, a leading provider of analytics, trading and risk management solutions to the global OTC markets, today announced the latest version release of its award-winning pricing and risk analysis software, Quantifi Version 10.2 (V10.2). This release delivers significant enhancements across Quantifi’s entire product range, including intra-day risk management, expanded asset coverage and simplified data management capabilities.&nbsp;</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 20px;">&nbsp; </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                <div style="font-family: Arial; color: rgb(122, 184, 0); font-size: 12px; font-weight: 700;">Key enhancements include:</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 20px;">&nbsp; </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                <table style="line-height: 19px; color: rgb(97, 99, 101); font-size: 12px;" border="0" cellpadding="0" cellspacing="3">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top">• </td>
                                                            <td>&nbsp; </td>
                                                            <td valign="top">Significant improvements to counterparty party risk management including fast CVA VaR, AMC pricing of exotics, and improved marginal pricing tools&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top">• </td>
                                                            <td>&nbsp; </td>
                                                            <td valign="top">Broader support for money market securities, global bond futures and credit notes with defaultable funding</td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top">• </td>
                                                            <td>&nbsp; </td>
                                                            <td valign="top">Product enhancements for FX option modelling, hybrids modelling, and customised <br>
                                                            cashflow support</td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top">• </td>
                                                            <td>&nbsp; </td>
                                                            <td valign="top">Improved and simplified intra-day risk generation and reporting</td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top">• </td>
                                                            <td>&nbsp; </td>
                                                            <td valign="top">Expanded data management capabilities to simplify data integration</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 20px;">&nbsp; </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                <table style="border-width: 2px; border-style: solid; border-color: rgb(0, 60, 105); background-color: rgb(242, 242, 242);" border="0" cellpadding="18" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="height: 30px;" valign="top">
                                                                        <div style="color: rgb(122, 184, 0); font-size: 12px; font-weight: 700;">ROHAN DOUGLAS, CEO OF QUANTIFI</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                        <div style="line-height: 19px; font-family: Arial; font-size: 12px;">“As regulatory requirements including Basel III, Dodd-Frank, MiFID II and EMIR become a reality, more firms are reaching the critical point where significant investments need to be made in valuation and risk management infrastructure. This is an environment where Quantifi provides even more value to clients by providing tools that seamlessly deal with these challenges, allowing clients to focus on and respond immediately to market opportunities as well as risk. This release is just three months after our last major release demonstrating our unique pace of innovation.”</div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 20px;">&nbsp; </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top">
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td><a href="http://www.quantifisolutions.com/whitepapers.aspx" target="_blank"><img style="display: block;" alt="Whitepapers" src="http://my.dotmailer.com/CmpImg/2010/24973/1705349_whitepaper_header_resized.jpg" border="0"> </a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-bottom: 10px;" valign="top">
                                                                        <div style="line-height: 19px; font-family: Arial; color: rgb(0, 60, 105); font-size: 12px; font-weight: bold;">
                                                                        <ul>
                                                                            <li>
                                                                            <div style="line-height: 19px; font-family: Arial; color: rgb(0, 60, 105); font-size: 12px; font-weight: bold;">CVA, DVA and Q4 Bank Earnings</div>
                                                                            </li>
                                                                            <li>
                                                                            <div style="line-height: 19px; font-family: Arial; color: rgb(0, 60, 105); font-size: 12px; font-weight: bold;">How the Credit Crisis has Changed Counterparty Risk Management</div>
                                                                            </li>
                                                                            <li>
                                                                            <div style="line-height: 19px; font-family: Arial; color: rgb(0, 60, 105); font-size: 12px; font-weight: bold;">Basel lll and Systemic Risk</div>
                                                                            </li>
                                                                            <li>
                                                                            <div style="line-height: 19px; font-family: Arial; color: rgb(0, 60, 105); font-size: 12px; font-weight: bold;">Challenges in Implementing a Counterpartyr Risk Management Process</div>
                                                                            </li>
                                                                            <li>
                                                                            <div style="line-height: 19px; font-family: Arial; color: rgb(0, 60, 105); font-size: 12px; font-weight: bold;">OIS and CSA Discounting<br>
                                                                            <br>
                                                                            <a style="font-family: Arial; color: rgb(0, 60, 105); font-size: 12px; text-decoration: underline;" href="http://www.quantifisolutions.com/whitepapers.aspx" target="_blank">Request&nbsp;a&nbsp;copy</a> </div>
                                                                            </li>
                                                                        </ul>
                                                                        </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            </td>
                                                            <td style="width: 14px;">&nbsp; </td>
                                                            <td style="border-left: 2px solid rgb(110, 110, 110); width: 14px;">&nbsp; </td>
                                                            <td valign="top">
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td><a title="Visit CounterpartyRiskManagement.org" href="http://www.CounterpartyRiskManagement.org/"></a><img style="display: block;" alt="" src="http://my.dotmailer.com/CmpImg/2010/24973/1945789_risk_awards2012.png" height="131" border="0" width="150" align="left"><span style="color: rgb(234, 171, 0); font-size: 12pt;"><strong>Quantifi Wins:<br>
                                                                        </strong></span><span style="color: rgb(234, 171, 0); font-size: 12pt;">Risk Management Technology </span><span style="color: rgb(234, 171, 0); font-size: 12pt;">Product of the Year Award<strong> <br>
                                                                        <br>
                                                                        </strong>
                                                                        <p><font style="font-size: 12px;">Quantifi receives one of the most prestigious global risk management technology awards with accolades for OIS discounting, CVA/DVA, ease of implementation and customer satisfaction. </font></p>
                                                                        <p><font style="font-size: 12px;">The Risk Management Technology Product of the Year award recognises excellence and innovation of technology firms in the fast-changing risk management and OTC derivatives businesses.</font>&nbsp;<br>
                                                                        <br>
                                                                        <font style="font-size: 12px;"><u>Read More</u></font></p>
                                                                        </span></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 20px;">&nbsp; </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                <div>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 2.5%;">&nbsp; </td>
                                                            <td style="width: 30%;" align="center"><font style="font-size: 11px;" color="#4d4d4d" face="Arial"><b>NA:</b> +1 (212) 784 6814</font> </td>
                                                            <td style="width: 2.5%;">&nbsp; </td>
                                                            <td style="width: 30%;" align="center"><font style="font-size: 11px;" color="#4d4d4d" face="Arial"><b>EMEA:</b> +44 (0) 20 7397 8789</font> </td>
                                                            <td style="width: 2.5%;">&nbsp; </td>
                                                            <td style="width: 30%;" align="center"><font style="font-size: 11px;" color="#4d4d4d" face="Arial"><b>APAC:</b> +61 (02) 9221 0133</font> </td>
                                                            <td style="width: 2.5%;">&nbsp; </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                                <div align="center">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td><a title="Email us at enquire@quantifisolutions.com" href="mailto:enquire@quantifisolutions.com"><font style="font-size: 11px;" color="#4d4d4d" face="Arial">enquire@quantifisolutions.com</font> </a></td>
                                                            <td><font style="font-size: 11px;" color="#4d4d4d" face="Arial">|</font> </td>
                                                            <td><a title="Visit our website" href="http://www.quantifisolutions.com/"><font style="font-size: 11px;" color="#4d4d4d" face="Arial">www.quantifisolutions.com</font> </a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td valign="center"><a title="Follow us on YouTube" href="http://www.youtube.com/user/quantifi"><img style="display: block; vertical-align: middle;" alt="Follow us on YouTube" src="http://my.dotmailer.com/CmpImg/2010/24973/1553561_youtube4818.png" height="18" border="0" width="45"> </a></td>
                                                            <td valign="center"><a title="Follow us on LinkedIn" href="http://www.linkedin.com/company/205569"><img style="display: block; vertical-align: middle;" alt="Follow us on LinkedIn" src="http://my.dotmailer.com/CmpImg/2010/24973/1122114_linkedin_weblogo_lowresexample.jpg" height="18" border="0" width="72"></a> </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                                <div>
                                                <table summary="footer" border="0" cellpadding="2" cellspacing="2" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 50%;" height="30" align="left"><font color="#4d4d4d" face="Arial, Helvetica, sans-serif" size="1"></font><font color="#4d4d4d" face="Arial" size="1"></font><font color="#4d4d4d" face="Arial" size="1"><a style="color: rgb(77, 77, 77); text-decoration: none;" title="Want to unsubscribe or change your details?" href="http://$unsub$/">Want to unsubscribe or change your details?</a></font> </td>
                                                            <td style="width: 50%;" height="30" align="right"><a style="color: rgb(77, 77, 77); text-decoration: none;" title="Forward this mailing to a friend" href="http://$forward$/" target="undefined"><font face="Arial, Helvetica, sans-serif" size="1">Forward this mailing to a friend </font></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </td>
                                    <td style="width: 40px;">&nbsp; </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="bottom">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="background-color: rgb(142, 198, 63); width: 550px; height: 20px;">&nbsp; </td>
                                    <td style="background-color: rgb(1, 161, 175); width: 20px; height: 20px;">&nbsp; </td>
                                    <td style="background-color: rgb(3, 120, 173); width: 20px; height: 20px;">&nbsp; </td>
                                    <td style="background-color: rgb(154, 92, 165); width: 20px; height: 20px;">&nbsp; </td>
                                    <td style="background-color: rgb(248, 152, 32); width: 20px; height: 20px;">&nbsp; </td>
                                    <td style="background-color: rgb(237, 177, 31); width: 20px; height: 20px;">&nbsp; </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: rgb(189, 189, 189); height: 4px;" valign="top" align="left"><img style="display: block;" alt="" src="http://my.dotmailer.com/CmpImg/2010/24973/1114410_spacer.gif" height="4" border="0" width="4"></td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
