﻿<!--
		background-image: url(/Data/styles/Quantifi_Corp/images/side_blank.jpg);
		background-attachment: scroll; background-position: right top; background-repeat: no-repeat;	  background-color:transparent;
-->
<div class="wrapper">
	<div style=" padding:3px; background-image: url(/Data/style/Quantifi_Corp/images/side_blank.jpg); background-attachment: scroll; background-position: center top; background-repeat: no-repeat;	background-color:transparent;">
		<div id="TagCloud1">
		</div>
	</div>
	<script type="text/javascript">
		$(function () {
			var flashvars = {
				tcolor: "0x003C69",
				tcolor2: "0x003C69",
				hicolor: "0x7AB800",
				mode: "tags",
				distr: "true",
				tspeed: "100",
				tagcloud: "<tags><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=credit derivatives' style='20'  >credit derivatives</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=cds' style='19'  >cds</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=credit default swap' style='18'  >credit default swap</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=credit risk management' style='17'  >credit risk management</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=' style='16'  ></a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=cdo' style='15'  >cdo</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=cdos' style='14'  >cdos</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=Counterparty Risk' style='13'  >Counterparty Risk</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=Credit Value Adjustment' style='12'  >Credit Value Adjustment</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=CVA' style='11'  >CVA</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=Counterparty Credit Risk' style='10'  >Counterparty Credit Risk</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=credit market' style='10'  >credit market</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=structured credit' style='10'  >structured credit</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=cdo modeling' style='10'  >cdo modeling</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=credit' style='10'  >credit</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=Credit risk' style='10'  >Credit risk</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=Derivatives' style='10'  >Derivatives</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=Index tranches' style='10'  >Index tranches</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=pricing and analytics' style='10'  >pricing and analytics</a><a href='http://wbehrmannxpsi7/Quantifi/Controls/Tags/View.aspx?tag=Pricing Baskets' style='10'  >Pricing Baskets</a></tags>"
			};
			var params = {
				menu: "false",
				wmode: "transparent"
			};
			var attributes = {
				id: "TagCloud1",
				name: "tagcloud"
			};

			swfobject.embedSWF("/Quantifi/Controls/Tags/tagcloud.swf", "TagCloud1", "174", "174", "9.0.0", "expressInstall.swf", flashvars, params, attributes);
		});
	</script>
</div>
