﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AdditionalAnalyticsControl.ascx.cs" Inherits="Quantifi.UI.Controls.Analytics.AdditionalAnalyticsControl" %>


<%--
<!--VISISTAT SNIPPET//-->
<script type="text/javascript">
//<![CDATA[
	var DID = 87844;
	var pcheck = (window.location.protocol == "https:") ? "https://sniff.visistat.com/live.js" : "http://stats.visistat.com/live.js";
	document.writeln('<scr' + 'ipt src="' + pcheck + '" type="text\/javascript"><\/scr' + 'ipt>');
//]]>
</script>
<!--VISISTAT SNIPPET//-->
--%>


<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1067661434;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1067661434/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>