﻿<%@ Control Language="C#" AutoEventWireup="true"    
  ViewStateMode="Disabled"
  CodeBehind="CustomAnalyticsControl.ascx.cs"
  Inherits="Quantifi.UI.Controls.Analytics.CustomAnalyticsControl" %>


  <!-- CustomAnalytics -->