﻿<%@ Control Language="C#" 
  AutoEventWireup="true" 
  CodeBehind="LinkedInShareControl.ascx.cs"
  Inherits="Quantifi.UI.Controls.LinkedInShareControl" %>

<%-- 
<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>    
<script type="IN/Share" data-url="http://www.google.com"></script>
--%>

<!-- LinkedIn Share Start -->
<script type="IN/Share" data-counter="right" data-url="<%= this.LinkUrl %>" ></script>
<!-- LinkedIn Share End -->
