.aspcalendarmain { border-style:solid; padding:3; margin:0; color:Black; font-size:small;}
.aspcalendardayheader { font-weight:bold; font-size:8pt; color:Black; text-align:center; white-space:nowrap;}
.aspcalendarday { border: solid 1px black;  font-size:8pt; color:Black; text-align:center; white-space:nowrap;}
.aspcalendarnextprevious {  font-weight:bold; font-size:small; color:Black; text-align:center; white-space:nowrap; }
.aspcalendarothermonth {border: solid 1px black; background-color:#f3f3f3;  font-size:8pt; color:Black; text-align:center; white-space:nowrap; }
.aspcalendarselectedday {border: solid 1px black; background-color:#FFFFE0;  font-size:8pt; color:Black; text-align:center;  }
.aspcalendarselector { background-color: #eee; color:Green; border-color:Red; border-style:solid; font-size:8pt; font-weight:bold; text-align:center; white-space:nowrap;  }
.aspcalendartitle { font-size:8pt; font-weight:bold; text-align:center; white-space:nowrap; }
.aspcalendartoday { border: solid 1px black; background-color:#FFFFE0; color:Black; font-size:8pt; text-align:center; }
.aspcalendarweekendday { border: solid 1px black; background-color:#D3D3D3; color:Black; font-size:8pt; text-align:center; }


