﻿

/* Some Edit Mode CSS */
body.NonCmsBasePage div#wrapwebsite
{
  background-color: White;
}
body.NonCmsBasePage div#wrapwebsite div#wrapcontent
{
  height: auto !important;
}


#mcNav
{
  z-index: 25;
  position: absolute;
  top: 400px;
  right: 0;
  left: 0;
  text-align: center;
}


#mcNav .op
{
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  -khtml-opacity: 0.70;
  opacity: 0.70;
}

#mcNav .mcNavCont
{
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#mcNav .prev
{
  float: left;
  display: block;
  overflow: hidden;
  padding-top: 24px;
  width: 24px;
  height: 0;
  cursor: pointer;
  background: url("images/grey_arrows.png") no-repeat scroll 0px 0px transparent;
}

#mcNav .prev:hover
{
  background-position: 0px -24px;
}

#mcNav .next
{
  float: left;
  display: block;
  overflow: hidden;
  padding-top: 24px;
  width: 24px;
  height: 0;
  cursor: pointer;
  background: url("images/grey_arrows.png") no-repeat scroll 0px -48px transparent;
}

#mcNav .next:hover
{
  background-position: 0px -72px;
}

#mcNav .item
{
  float: left;
  display: block;
  overflow: hidden;
  padding-top: 24px;
  width: 24px;
  height: 0;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  background: url("images/grey_circle.png") no-repeat scroll 0px 0px transparent;
}

#mcNav .item:hover, #mcNav .selected
{
  background-position: 0px -24px;
}

.settingsPanels
{
  background-color: White;
  padding: 8px;
}

.settingContainer
{
}
.settingContainer .settingRow
{
  padding: 5px;
}
.settingContainer .settingRow .lbl
{
  padding-bottom: 4px;
  font-weight: bold;
}

.padFive
{
  padding: 5px;
}


.news-wrapper
{
  height: 173px;
  width: 283px;
  overflow: hidden;
  position: relative;
}

.news-wrapper .header
{
  border-bottom: 1px dotted white;
  height: 22px;
  margin: 0;
  padding: 8px 0 0 20px;
  color: #79B800;
  display: block;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}

.news-wrapper .header .mediaBtn 
{
 
}

.news-wrapper .header .btnUP, .news-wrapper .header .btnDOWN
{
  cursor: pointer;
	background-image: url('images/ui-icons_7ab800_256x240.png');
  background-color: Transparent;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 0px;
  padding-top: 16px;
  overflow: hidden;
  display: inline-block;
  width: 16px;
  text-indent: 1000000000;
  vertical-align: text-bottom;
}

.news-wrapper .header .btnUP
{
background-position: 0 -16px;
}
.news-wrapper .header .btnDOWN
{
  background-position: -64px -16px;
}


.news-wrapper .content
{
  position: relative;
  z-index: 50;
}

.news-wrapper .fade
{
  width: 283px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 12px;
}

 

.news-wrapper .mask
{
  background-color: #003C69;
  height: 173px;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 283px;
  z-index: 1;
}

.news-container
{
  overflow: hidden;
  position: relative;
}

.news-container .news-item
{
  height: 70px;
  padding: 0;
  margin: 0;
  color: #ffffff;
}
.news-container .news-item .pad
{
  padding: 5px 5px 5px 20px;
}
.news-container .news-item h3
{
  color: #96BAD4;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.news-container .news-item h3 a
{
  text-decoration: none;
  color: #96BAD4;
  font-size: 12px;
}

.news-container .news-item h3 a:hover
{
  text-decoration: underline;
}


.news-container .news-item .date
{
  font-size: 11px;
}

.news-container .news-item p
{
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
}
.float-right { float: right;}

.link-manage-img
{ 
  display: inline-block;  
  vertical-align: text-bottom;
  cursor: pointer;
  height: 0px;
  width: 24px;
  text-indent: 10000000;
  overflow: hidden;
  padding-top: 16px;
  text-decoration: none;
  background: url("/Data/SiteImages/office/folders.gif") no-repeat scroll 0px 50% transparent;
}

.link-settings-img
{
  vertical-align: text-bottom;
  display: inline-block;
  cursor: pointer;
  height: 0px;
    width: 24px;
  text-indent: 10000000;
  overflow: hidden;
  padding-top: 16px;
  text-decoration: none;
  background: url("/Data/SiteImages/wrench.png") no-repeat scroll 0px 50% transparent;
}

.link-create-img
{
  vertical-align: text-bottom;
  display: inline-block;
  cursor: pointer;
  height: 0px;
    width: 24px;
  text-indent: 10000000;
  overflow: hidden;
  padding-top: 16px;
  text-decoration: none;
  background: url("/Data/SiteImages/add.png") no-repeat scroll 0px 50% transparent;
}

.link-edit-img
{
  vertical-align: text-bottom;
  display: inline-block;
  cursor: pointer;
  height: 0px;
  width: 16px;
  text-indent: 10000000;
  overflow: hidden;
  padding-top: 16px;
  text-decoration: none;
  background: url("/Data/SiteImages/page_edit.png") no-repeat scroll 0px 50% transparent;
}




/*
* Featured content
*/


  .hp-featured
  {
    height: 173px;
    width: 283px;
  }
  .hp-featured .hp-featured-wrapper
  {
    position: relative;
  }
  .hp-featured .hp-featured-wrapper .mask
  {
    background-color: #003C69;
    top: 0;
    left: 0;
    opacity: 0.75;
    position: absolute;
    width: 283px;
    height: 173px;
    z-index: 1;
  }
  .hp-featured .hp-featured-wrapper .content
  {
    display: block;
    height: 173px;
    position: relative;
    width: 283px;
    z-index: 25;
    overflow: hidden;
  }
  .hp-featured .hp-featured-wrapper .content .header
  {
    border-bottom: 1px dotted white;
    height: 22px;
    margin: 0;
    padding: 8px 0 0 20px;
    color: #79B800;
    display: block;
    font-size: 14px;
    font-weight: 700;
  }
  
  .hp-featured .hp-featured-wrapper .content .header .prev, 
  .hp-featured .hp-featured-wrapper .content .header .pause, 
  .hp-featured .hp-featured-wrapper .content .header .play, 
  .hp-featured .hp-featured-wrapper .content .header .next
  {
    height: 0px;
    width: 16px;
    vertical-align: text-bottom;
    padding-top: 16px;
    text-indent: 10000000;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    background-image: url('images/ui-icons_7ab800_256x240.png');
    background-color: Transparent;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }
  .hp-featured .hp-featured-wrapper .content .header .prev
  {
    background-position: -64px -16px;
  }
  .hp-featured .hp-featured-wrapper .content .header .pause
  {
    background-position: -96px -160px;
  }
  .hp-featured .hp-featured-wrapper .content .header .next
  {
    background-position: 0px -16px;
  }
  
  .hp-featured .hp-featured-wrapper .content .header .play
  {
    background-position: -32px -16px;
  }
  
  .hp-featured .hp-featured-wrapper .feature-content
  {
    position: relative;
  }
  .hp-featured .hp-featured-wrapper .feature-item
  {
    position: relative;
  }
  
  
  
  
  .hp-featured .feature-item .link-edit-img
  {
    position: absolute;
    left: 0px;
    top: 7px;
  }
  
  .hp-featured .hp-featured-wrapper .feature-item .feature-txt
  {
  }
  
  .hp-featured .feature-txt h2, .hp-featured .feature-txt h3, .hp-featured .feature-txt h4, .hp-featured .feature-txt h5
  {
    font-size: 12px;
    margin: 5px 0;
  }
  
  .hp-featured .feature-txt h2.title, .hp-featured .feature-txt h3.title, .hp-featured .feature-txt h4.title, .hp-featured .feature-txt h5.title
  {
    font-size: 12px;
    margin: 0px 0px 5px 0px;
  }
  
  .hp-featured .feature-txt a
  {
    text-decoration: none;
    color: #96BAD4;
  }
  
  .hp-featured .feature-txt a:hover
  {
    text-decoration: underline;
  }
  
  .hp-featured .feature-txt ul
  {
    padding: 1px 0;
    margin: 0 0 0 20px;
    color: White;
  }
  
  .hp-featured .feature-txt ul li
  {
    padding: 0;
    margin: 3px 0;
  }
  
  .hp-featured .feature-txt p
  {
    padding: 0;
    margin: 0 0 4px 0;
    line-height: 14px;
    color: White;
  }
  
  .hp-featured .hp-featured-wrapper .feature-item
  {
    padding-top: 5px;
    position: relative;
  }
  
  .hp-featured .feature-item .feature-title a
  {
    text-decoration: none;
    color: #96BAD4;
    font-size: 12px;
  }
  
  /*  Text-Left - Image-Right  */
  
  /* No Title */
  .hp-featured .nt-tl-ir
  {
  }
  
  .hp-featured .nt-tl-ir .link-edit-img
  {
    position: absolute;
    left: 0px;
    top: 7px;
  }
  
  .hp-featured .nt-tl-ir .feature-txt
  {
    overflow: hidden;
    float: left;
    font-size: 11px;
    line-height: 13px;
    height: 133px;
    padding: 2px 4px 2px 20px;
    width: 152px;
  }
  
  .hp-featured .nt-tl-ir .feature-img
  {
    float: left;
    height: 133px;
    line-height: 133px;
    overflow: hidden;
    padding: 2px 8px 2px 0;
    text-align: center;
    vertical-align: middle;
    width: 99px;
  }
  
  .hp-featured .nt-tl-ir .feature-img a
  {
    display: block;
    padding-top: 130px;
    _padding-top: 111px; /* this did the trick. Only IE6 should process this line */
    width: 99px;
    height: 0px;
    text-indent: -100000px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .hp-featured .nt-tl-ir .feature-img img
  {
    vertical-align: middle;
    border: 0;
  }
  
  /* Title */
  .hp-featured .st-tl-ir
  {
  }
  
  .hp-featured .st-tl-ir .link-edit-img
  {
    position: absolute;
    left: 0px;
    top: 7px;
  }
  
  .hp-featured .st-tl-ir .feature-title
  {
    padding: 2px 20px 2px 20px;
  }
  
  
  .hp-featured .st-tl-ir .feature-txt
  {
    overflow: hidden;
    float: left;
    font-size: 11px;
    line-height: 13px;
    height: 133px;
    padding: 2px 4px 2px 20px;
    width: 152px;
  }
  
  .hp-featured .st-tl-ir .feature-img
  {
    float: left;
    height: 133px;
    line-height: 135px;
    overflow: hidden;
    padding: 2px 8px 2px 0;
    text-align: center;
    vertical-align: middle;
    width: 99px;
  }
  
  .hp-featured .st-tl-ir .feature-img a
  {
    display: block;
    padding-top: 130px;
    _padding-top: 111px; /* this did the trick. Only IE6 should process this line */
    width: 99px;
    height: 0px;
    text-indent: -100000px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .hp-featured .st-tl-ir .feature-img img
  {
    vertical-align: middle;
    border: 0;
  }
  
  
  
  
  
  
  
  /*   Text-Right - Image-Left */
  /* No Title */
  .hp-featured .nt-tr-il
  {
  }
  
  .hp-featured .nt-tl-ir .link-edit-img
  {
    position: absolute;
    right: 0px;
    top: 7px;
  }
  
  .hp-featured .nt-tr-il .feature-txt
  {
    overflow: hidden;
    float: right;
    font-size: 11px;
    line-height: 13px;
    height: 133px;
    padding: 2px 4px 2px 0px;
    width: 152px;
  }
  
  .hp-featured .nt-tr-il .feature-img
  {
    height: 133px;
    line-height: 133px;
    overflow: hidden;
    padding: 2px 4px 2px 20px;
    text-align: center;
    vertical-align: middle;
    width: 99px;
  }
  
  .hp-featured .nt-tr-il .feature-img a
  {
    display: block;
    padding-top: 130px;
    _padding-top: 111px; /* this did the trick. Only IE6 should process this line */
    width: 99px;
    height: 0px;
    text-indent: -100000px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .hp-featured .nt-tr-il .feature-img img
  {
    vertical-align: middle;
    border: 0;
  }
  
  /* Title */
  .hp-featured .st-tr-il
  {
  }
  
  .hp-featured .st-tl-ir .link-edit-img
  {
    position: absolute;
    right: 0px;
    top: 7px;
  }
  
  .hp-featured .st-tr-il .feature-title
  {
    padding: 2px 20px 2px 20px;
  }
  
  .hp-featured .st-tr-il .feature-txt
  {
    overflow: hidden;
    float: right;
    font-size: 11px;
    line-height: 13px;
    height: 130px;
    padding: 2px 4px 2px 0px;
    width: 152px;
  }
  
  .hp-featured .st-tr-il .feature-img
  {
    height: 130px;
    line-height: 130px;
    overflow: hidden;
    padding: 2px 2px 4px 20px;
    text-align: center;
    vertical-align: middle;
    width: 99px;
  }
  
  .hp-featured .st-tr-il .feature-img a
  {
    display: block;
    line-height: 130px;
    padding-top: 130px;
    _padding-top: 111px; /* this did the trick. Only IE6 should process this line */
    width: 99px;
    height: 0px;
    text-indent: -100000px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .hp-featured .st-tr-il .feature-img img
  {
    vertical-align: middle;
    border: 0;
  }
  
  
  /* No Title - Text Only  */
  
  .hp-featured .nt-txt-only
  {
  }
  
  .hp-featured .nt-txt-only .feature-txt
  {
    overflow: hidden;
    font-size: 11px;
    line-height: 13px;
    height: 133px;
    padding: 2px 4px 2px 20px;
  }
  
  .hp-featured .nt-txt-only .feature-img
  {
    display: none;
  }
  
  .hp-featured .nt-txt-only .feature-img a
  {
    display: none;
  }
  
  .hp-featured .nt-txt-only .feature-img img
  {
    display: none;
  }
  
  
  /* Show Title - Text Only  */
  
  .hp-featured .st-txt-only
  {
  }
  
  .hp-featured .st-txt-only .feature-txt
  {
    overflow: hidden;
    font-size: 11px;
    line-height: 13px;
    height: 133px;
    padding: 2px 4px 2px 20px;
  }
  
  .hp-featured .st-txt-only .feature-img
  {
    display: none;
  }
  
  .hp-featured .st-txt-only .feature-img a
  {
    display: none;
  }
  
  .hp-featured .st-txt-only .feature-img img
  {
    display: none;
  }
  
  /* No Title - Image Only  */
  
  .hp-featured .nt-img-only
  {
  }
  
  .hp-featured .nt-img-only .feature-txt
  {
    display: none;
  }
  
  .hp-featured .nt-img-only .feature-img
  {
    overflow: hidden;
    padding: 2px 20px 2px 20px;
  }
  
  .hp-featured .nt-img-only .feature-img a
  {
    display: block;
    padding-top: 130px;
    _padding-top: 111px; /* this did the trick. Only IE6 should process this line */
    line-height: 130px;
    width: 243px;
    height: 0px;
    text-indent: -100000px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .hp-featured .nt-img-only .feature-img img
  {
  }
  
  
  /* Show Title - Image Only  */
  .hp-featured .st-img-only
  {
  }
  
  .hp-featured .st-img-only .feature-title
  {
  }
  
  .hp-featured .st-img-only .feature-txt
  {
    padding: 2px 20px 2px 20px;
  }
  
  .hp-featured .st-img-only .feature-txt .title
  {
    margin: 0px;
  }
  
  .hp-featured .st-img-only .feature-img
  {
    overflow: hidden;
    padding: 2px 20px 4px 20px;
  }
  
  .hp-featured .st-img-only .feature-img a
  {
    display: block;
    padding-top: 110px;
    _padding-top: 91px; /* this did the trick. Only IE6 should process this line */
    line-height: 110px;
    width: 243px;
    height: 0px;
    text-indent: -100000px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  
  .hp-featured .st-img-only .feature-img img
  {
  }
  
  
/*
* Featured content
*/