
html, body { font-family: arial,sans-serif; font-size: 12px; margin: 0; padding: 0; }

ul {padding-left: 20px; margin-top:0; margin-left: 0px;}
li {padding:3px 0;}

body.pagebody { color: #585858; /*background-color: #BDBDBD;*/ }

legend { color: #585858; }


canvas {
    -ms-touch-action: double-tap-zoom;
}

div#wrapwebsite { height: auto !important; margin: 0 auto; height: 100%; position: relative;  width:auto; }



div#wrapwebsite div#content { height: auto; margin: 0 auto; height: 100%; /*min-height:784px;*/ position: relative; /*width:955px;*/ }

.cke_show_borders { background: none repeat scroll 0 0 #ffffff !important; color: #000000 !important; }

div#toolbar {z-index:1000;}

div#wrapwebsite div#content div.wrapcenter { margin: 4px 36px 0px 36px; }


div#wrapwebsite div#wrapfooter 
{ 
	position: relative; 
	background-color: #BDBDBD; 
	background-image: url(Images/footer_imageBar_9_1280.jpg); 
	background-position: top right; 
	background-repeat: no-repeat;
	display: block; 
	font-size: 10px; 
	text-align: center; 
	padding-top: 15px; 
	width: 100%;
	height: 3em; 
	z-index:5;
}



div#wrapwebsite div#wrapfooter ul      {
	text-align: center;
	list-style:none;
	padding:0;
	margin:0;
}

div#wrapwebsite div#wrapfooter ul li {
	vertical-align: top;
	display: inline-block;
	/* if you need ie6/7 support */
	*display: inline;
	zoom: 1;
	   height: 16px;
    line-height: 16px;
}
div#wrapwebsite div#wrapfooter ul li a,
div#wrapwebsite div#wrapfooter ul li span {
  float:left;
  text-decoration: none;
  cursor: pointer;
  height:16px;
  line-height:16px;
}
div#wrapwebsite div#wrapfooter ul li a:hover { text-decoration: underline;}

div#wrapwebsite div#wrapfooter span.userSignIn { color: #BDBDBD; position: absolute; right: 0;     top: 18px;}
div#wrapfooter span.userSignIn a { color: #BDBDBD; padding: 7px; }
div#wrapfooter span.showSignIn a { color: #585858; }
div#wrapwebsite div#wrapheader { height: 82px; margin: 0 36px; }

#wrapheader { position: relative; }
#wrapheader .toplogo { position: absolute; left: 0px; top: 13px; }
#wrapheader .subNav { position: absolute; right: 0px; top: 2px; }
#wrapheader .subNav a { color: #003C69; text-decoration: none; font-size: 10px; line-height: 14px; }
#wrapheader .subNav a:link { }
#wrapheader .subNav a:visited { }
#wrapheader .subNav a:hover { text-decoration: underline; }
#wrapheader .subNav a:active { }
#wrapheader .subNav span { padding: 0 2px; font-size: 12px; }
#wrapheader .headerDemo { position: absolute; right: 0px; bottom: 24px; }

div#wrapwebsite div#topnav { margin-left: 36px; height:24px; }
div#wrapwebsite div#content { width: 100%; }

.altcontent1 .panelwrapper { margin: 0px; padding: 0px; }



.center-nomargins { float: left; width: 100%; }
.center-rightandleftmargins { float: left; }
.center-rightmargin { float: left; }
.center-leftmargin { float: left; }

.rightside { float: left; width: 180px; }
.leftside { float: left; width: 157px; margin-right: 18px; }

.content-leftright { padding-left: 175px; padding-right: 195px; }
.content-left { padding-left: 175px; }
.content-right { padding-right: 195px; }
.content-none { }

.content-leftright #ctl00_divCenter, .content-right #ctl00_divCenter, .content-left #ctl00_divCenter { width: 100%; }

#ctl00_divCenter div.admin { background-color: White; z-index: 5; display: block; padding: 5px; z-index:100;}

.content-leftright .center-rightandleftmargins .panelwrapper, .content-right .center-rightmargin .panelwrapper { /*margin-right: 15px;*/ margin-right: 0px; }

.content-leftright #ctl00_divLeft, .content-left #ctl00_divLeft { left: 36px; position: absolute; width: 157px; }


.content-right #ctl00_divRight,
.content-leftright #ctl00_divRight { float: left; margin-right: -195px; width: 195px; min-height: 480px; }

.content-right #ctl00_divRight .panelwrapper, 
.content-leftright #ctl00_divRight .panelwrapper { margin-left: 15px; }


#wrapfooter { position: relative; }
#wrapfooter #footerImg { position: absolute; top: 0; right: 0; }


/* Elements */
p { line-height: 20px; }
blockquote { background: #FFF8EA url(images/quote_wh.gif) no-repeat 5px 10px !important; background-position: 8px 10px; font-weight: 700; margin: 15px; padding: 0 0 0 32px; }
hr { color: Silver; height: 1pt; text-align: left; }
img { border: 0; }


/* Headings */
h1 { color: #7AB800; font-size: 105%; }
h2 { color: #7AB800; font-size: 100%; }
h3 {  font-size: 95%; margin: 0; }
h4 {  font-size: 90%; margin: 0; }

.sitelogo { position: absolute; top: 5px; left: 5px; z-index: 300; margin: 0; }
h1.siteheading { width: 250px; display: block; float: left; text-transform: uppercase; font-size: 20px; font-weight: 700; margin: 25px 0 0 65px; padding: 0; }

/*
.moduletitle {color: #7AB800; vertical-align: middle; margin: 0; padding: 0px 0px 3px 0px; font-size: 18px; height: 24px; vertical-align: text-bottom; font-weight: 400; border-bottom: 1px dotted #4F7997; }
*/
.moduletitle {
border-bottom:1px dotted #4F7997;
color:#7AB800;
font-weight:400;
margin:0;
min-height:28px;
position:relative;
}

div.center-nomargins .moduletitle { font-size: 22px; }
div.center-rightandleftmargins .moduletitle { font-size: 22px; }
div.center-rightmargin .moduletitle { font-size: 22px; }
div.center-leftmargin .moduletitle { font-size: 22px; }



.smallModuleTitle div.center-nomargins .moduletitle { font-size: 16px; }
.smallModuleTitle div.center-rightandleftmargins .moduletitle { font-size: 16px; }
.smallModuleTitle div.center-rightmargin .moduletitle { font-size: 16px; }
.smallModuleTitle div.center-leftmargin .moduletitle { font-size: 16px; }


.moduleTitle20px div.center-nomargins .moduletitle { font-size: 20px; }
.moduleTitle20px div.center-rightandleftmargins .moduletitle { font-size: 20px; }
.moduleTitle20px div.center-rightmargin .moduletitle { font-size: 20px; }
.moduleTitle20px div.center-leftmargin .moduletitle { font-size: 20px; }


/*
div.leftside .moduletitle { font-size: 16px; }
div.leftside ul { margin-left: 0; }
div.leftside ul li { }
div.rightside .moduletitle { font-size: 16px; }
*/

div.rightside .topColumnSpacer {min-height: 27px; height: 27px; display:block;}

.panelwrapper { position:relative; }

.panelwrapper .adminWrapper {position:absolute;  z-index:100;   top:0; right:0;}
.panelwrapper .adminWrapper  .adminContainer {   float:right !important;    padding:2px;  z-index:98; }

.panelwrapper  .adminWrapper .adminContainer a,
.panelwrapper  .adminWrapper .adminContainer input { float: right;  margin-left: 3px; color:#003C69;}

.moduletitle .ModuleEditLink { float: right; font-size: 8px; margin-left: 3px; }

.modulesubtitle { height: 23px; vertical-align: bottom; font-size: small; font-weight: 700; margin: 5px 0 0; padding: 4px 0 4px 5px; }

.pagelayout h2 { font-size: 14px; }

/* Form styles */
.editforminput { margin-bottom: 5px; padding: 3px; }

.editforminput .editLabel, .editforminput .editLableRow { padding: 1px; font-weight: 700; }

.editforminput .editLabel { width: 20em; float: left; clear: left; }
.editforminput .editLableRow { margin-bottom: 5px; }

.altRow { background-color: #F2F2F2; }


fieldset { border: 1px solid #ccc; margin: 0; padding: 1em; }
legend { font-weight: 700; }
.settinglabel { float: left; clear: left; width: 20em; padding: 1px; }
.settinglabelFixedHeight { float: left; clear: left; width: 20em; height: 77px; padding: 1px; }
.settinglabel, .settinglabelFixedHeight { font-weight: 700; font-size: smaller; }
.settingrow { clear: left; padding: 4px 0; }
.settingrow { clear: left; padding: 4px 0; }
.settingrow .ajax__htmleditor_editor_base ajax__htmleditor_editor_default { }
.settinglabeltight { float: left; clear: left; width: 8em; font-weight: 700; padding: 1px; }
.settingrowtight { clear: left; padding: 1px 0; }
.modulebuttonrow { clear: left; text-align: center; }
.smalltextbox { width: 4em; }
.normaltextbox { width: 10em; }
.mediumtextbox { width: 15em; }
.widetextbox { width: 25em; }
.verywidetextbox { width: 35em; }
.txterror { font-size: 100%; font-weight: 700; color: Red; }
.watermarktextbox { width: 9em; color: Gray; }
.subscribeemail { color: Gray; width: 14em; }
.txtcopyright { font-size: 80%; font-weight: 400; }
input.openid_login { background: url('images/openidlogin.gif') no-repeat; background-color: #fff; background-position: 0 50%; color: #000; padding-left: 18px; }


/* Grids and Tables */
table.editgrid th { font-weight: 700; padding: 7px; }
.AspNet-GridView table thead tr th { padding: 2px; }
.AspNet-GridView table tbody tr td { color: #333; background: #FFF; border-bottom: solid 1px #CCC; border-right: solid 1px #CCC; text-align: left; padding: 2px 20px 2px 2px; }
.AspNet-GridView table tbody tr.AspNet-GridView-Alternate td { background: #F7F6F3; }
table.editgrid td { padding: 7px; }


/* Lists */
.topnav { position: absolute; top: 0; right: 0; width: 100%; height: 26px; text-align: right; padding: 0 20px 0 0; }
.topnav ul { float: right; display: inline; margin: 5px 0 0 10px; }
li.topnavitem { float: left; list-style-type: none; border-left: solid thin #666; padding: 0 7px; }
li.firstnav { float: left; list-style-type: none; padding: 0 7px 0 0; }
li.linkitem, li.linkaltitem { display: block; min-height: 18px; border-bottom-color: #737373; border-width: 0 0 1px; margin: 5px 0 0; }
/*.linkitem a { padding:7px 0 0 4px; }*/
.simplelist, .simplelist li { list-style: none; padding: 0 0 10px 3px; }
ul.linkitem { list-style-type: none; margin: 0; padding: 2px; }


ul.linkitems { list-style-type: none; margin: 0; padding: 2px; }


li.linkitem, li.linkaltitem .linksthumb { }
li.linkitem, li.linkaltitem .linktext { position: relative; }

li.linkitem { position: relative; }
li.linkitem .title { margin-bottom: 2px; font-weight: bold; }
li.linkitem .imgThumb { float: left; margin-right: 3px; margin-bottom: 2px; }
li.linkitem .date { font-weight: bold; color: #297493; font-size: 90%; margin-bottom: 2px; }
li.linkitem .loc { position: absolute; right: 0px; top: 0px; font-size: 90%; }
li.linkitem .editlink { position: absolute; right: 2px; top: 2px; z-index: 5; }
li.linkitem .editlink img { filter: alpha(opacity=75); -moz-opacity: 0.75; -khtml-opacity: 0.75; opacity: 0.75; }
li.linkitem .desc p { margin-top: 0px; margin-bottom: 0px; }
li.linkitem .desc .readmore { font-size: 86%; }

li.linkaltitem { margin-top: 10px; margin-bottom: 10px; position: relative; }
li.linkaltitem .title { margin-bottom: 2px; font-weight: bold; }
li.linkaltitem .imgThumb { float: left; margin-right: 3px; margin-bottom: 2px; }
li.linkaltitem .date { font-weight: bold; color: #297493; font-size: 90%; margin-bottom: 2px; }

li.linkaltitem .loc { position: absolute; right: 0px; top: 0px; font-size: 90%; }
li.linkaltitem .editlink { position: absolute; right: 2px; top: 2px; z-index: 5; }
li.linkaltitem .editlink img { filter: alpha(opacity=75); -moz-opacity: 0.75; -khtml-opacity: 0.75; opacity: 0.75; }
li.linkaltitem .desc p { margin-top: 0px; margin-bottom: 0px; }
li.linkaltitem .desc .readmore { font-size: 90%; }


div.imagelinks { }
div.linksheader { display: block; }
div.linksfooter { display: block; }

div.sitemap ul, div.sitemap ul li { list-style: none; font-size: 100%; }
.site-statistics { border-bottom: solid thin #ccc; margin: 0 0 5px; padding: 0 0 5px; }
ul.userstats { list-style-type: none; font-size: 90%; margin: 0 0 0 -40px; }
ul.userstats ul { display: block; margin: 0; padding: 0; }
ul.userstats li { position: relative; list-style: none; font-size: 100%; }
div.AspNet-RadioButtonList ul, div.AspNet-CheckBoxList ul { list-style-type: none; margin: 0; padding: 0; }
div.simplehorizontalmenu { clear: both; width: 100%; height: 27px; }
ul.simplehorizontalmenu { float: left; list-style: none; margin: 0; padding: 0; }
ul.simplehorizontalmenu li { display: inline; padding: 0 10px; }
li.linkitem a, li.linkaltitem a { color: #626365; text-decoration: none; }
li.AspNet-RadioButtonList-Item, li.AspNet-CheckBoxList-Item { white-space: nowrap; }
ul.simplehorizontalmenu li.selecteditem { font-weight: 700; }

.tag-cloud { list-style-type: none; margin: 15px 0 3px -30px; }
.tag-cloud li { display: inline; list-style-type: none; }
.tagcount { font-size: x-small; }
.tag-cloud .weight1 { font-size: 90%; }
.tag-cloud .weight2 { font-size: 110%; }
.tag-cloud .weight3 { font-size: 120%; }
.tag-cloud .weight4 { font-size: 130%; }
.tag-cloud .weight5 { font-size: 140%; }
.tag-cloud .weight6 { font-size: 150%; }
.tag-cloud .weight7 { font-size: 160%; }
.tag-cloud .weight8 { font-size: 180%; }
.tag-cloud .weight9 { font-size: 200%; }
.tag-cloud .weight10 { font-size: 210%; }


/* Links */
h1.siteheading a.siteheading:link, a.siteheading:visited, a.siteheading:hover, a.siteheading:active { color: #616365; }
a.ModuleEditLink, a.ModuleEditLink:link, a.ModuleEditLink:visited, a.ModuleEditLink:hover, a.ModuleEditLink:active { color: #003C69; font-size: 10px; }
a: hover { color: #003C69; }
.sitelink, a.sitelink:link, a.sitelink:visited, a.sitelink:hover, a.sitelink:active, h3 a, a, a:link, a:visited, a:active, .modulepager, a.ModulePager:link, a.ModulePager:visited, a.ModulePager:active, #wrapfooter, #wrapfooter a { color: #666; }
legend a, a.siteheading:link, a.siteheading:visited, a.siteheading:hover, a.siteheading:active, a.sitelink:link, a.sitelink:visited, a.sitelink:active, a.selectedcrumb:link, a.selectedcrumb:visited, a.selectedcrumb:active, a.unselectedcrumb:link, a.unselectedcrumb:visited, a.unselectedcrumb:active { text-decoration: none; }
a.sitelink:hover, a.selectedcrumb:hover, li.linkitem a:hover, li.linkaltitem a:hover, a.unselectedcrumb:hover, #wrapfooter a { text-decoration: underline; }
.pageditlinks a { margin: 3px 7px 3px 0px; }
a.adminlink, a.adminlink:link, a.adminlink:visited, a.adminlink:hover, a.adminlink:active { font-size: 16px; border-left: 1px solid #a4a4a4; padding: 8px 8px 10px 8px; line-height: 32px; color: #555; text-decoration: none; }
a.adminlink:hover { text-decoration: underline; }

.accent { color: #666; font-weight: 700; }
.buttonlink { background-color: transparent; color: #03F; cursor: pointer; text-decoration: underline; font-size: 13px; border-style: none; }


/* breadcrumbs */
.breadcrumbs { width: 99%; padding-top: 8px; font-size: 10px; color: #003c69; }
.breadcrumbs span { color: #003c69; font-weight: 700; }
.selectedcrumb { font-weight: 400; color: #003c69 !important; text-decoration: underline !important; }
.unselectedcrumb { font-weight: 700; color: #b2b2b2 !important; }

.modulepager { font-size: 100%; font-weight: 700; }
a.ModulePager:hover { color: #000; text-decoration: underline; }
a.SelectedPage:hover { color: #000; text-decoration: underline; }
.selectedpage { font-size: 80%; font-weight: 700; line-height: 12px; }
.selectedpage, a.SelectedPage:link, a.SelectedPage:visited, a.SelectedPage:active { color: #000; }
.modulepager, .ModulePager, .PageInfo, .SelectedPage, .pageditlinks a { font-size: 12px; margin-top: 5px; }
.PageInfo { margin-right: 10px; }

.modulecontent { vertical-align: top; padding: 0 0 0 0px; }
.modulefooter { display: none; font-size: smaller; text-align: center; }
.modulerow { background-color: #FFF; }


.altcontent1 .rtop, .altcontent1 .rbottom, .center-leftmargin .rtop, .center-leftmargin .rbottom, .center-rightmargin .rtop, .center-rightmargin .rbottom, .center-nomargins .rtop, .center-nomargins .rbottom, .center-rightandleftmargins .rtop, .center-rightandleftmargins .rbottom, .logolist, .pageicons, .skiplink { display: none; }

.gmaptextbox { width: 27em; }
.gmap { margin: 0 0 10px; }

.foldergallery h1 { font-size: large; margin-bottom: 20px; }
.albumMetaName { font-weight: 700; }
.albumFloat { float: left; text-align: center; margin-right: 8px; margin-bottom: 4px; }
.albumMetaSectionHead { background-color: Gray; color: #FFF; font-weight: 700; }

.ratingcontainer { float: right; }
.ratingrow { white-space: nowrap; }
.ratingStar { white-space: nowrap; height: 14px; margin: 1em; }
.ratingStar .ratingItem { font-size: 0; width: 13px; height: 12px; display: block; background-repeat: no-repeat; cursor: pointer; margin: 0; padding: 0; }
.ratingStar .Filled { background-image: url('images/ratingStarFilled.png'); }
.ratingStar .Empty { background-image: url('images/ratingStarEmpty.png'); }
.ratingStar .Saved { background-image: url('images/ratingStarSaved.png'); }
.ratingcomments { border: #000 1px solid; background-color: #eee; color: #000; width: 300px; height: 210px; position: absolute; margin-top: 15px; padding: 5px; }
.ratingcommentbox { width: 280px; height: 100px; }

.forumnotify { white-space: nowrap; vertical-align: middle; padding: 10px 0px 5px 0px; }
.forumnotify img { float: left; }

div.addthisbutton { position: absolute; top: 37px; right: 280px; }
.clearpanel { clear: left; padding-top: 15px; }
.minheightpanel { min-height: 200px; }
.center { text-align: center; }
.vevent { padding: 10px; }
.vevent abbr { border: 0; }
.whoson { float: left; padding: 5px; }
.clear { clear: both; }
.searchterm { color: #000; background-color: #FF0; }
.templatewrapper { border-bottom: solid 4px #000; }
.linkdescription { font-size: 100%; font-weight: 400; font-style: italic; }



.padded { padding: 7px; }

/*    */


td.choices { }
td.choices ul { float: left; padding: 0; margin: 0; }
td.choices ul li { float: left; list-style: none outside none; margin: 0 8px 0 0; padding: 0; }

table.contactForm th { text-align: left; padding: 2px; }

table.contactForm td { padding: 2px; }

table.contactForm th.choices, table.contactForm th.extra, table.contactForm th.questions, table.contactForm th.attachment { text-align: left; }

table.contactForm td input[type="text"] { width: 275px; }

table.contactForm td.questions textarea { width: 275px; }
table.contactForm td .validator { margin: 0 2px; color: Red; font-weight: bold; }

table.contactForm td.choices input[type="text"], table.contactForm td.extra input[type="text"] { width: 95%; }


table.contactForm .inputFocused { background-color: #CEF6F5; }

div.panelwrapper { margin-bottom: 25px; }

#ctl00_divRight div.panelwrapper { margin-bottom: 10px; }



div.editContactUs p.info, div.contactus p.info { font-size: 11px; }


div.editContactUs h3 { font-size: 106%; }


fieldset.wrapperDownloadFile div.left { float: left; width: 450px; }
fieldset.wrapperDownloadFile div.right { float: left; }

table.formDownloadFile th { text-align: left; }
table.formDownloadFile td { text-align: left; }


div.toggleHeader h2 a.title, div.toggleHeader h2 a.title:link, div.toggleHeader h2 a.title:visited, div.toggleHeader h2 a.title:active { margin-left: 10px; cursor: pointer; font-size: 126%; text-decoration: none; }

div.toggleHeader h2 a.title:hover { text-decoration: underline; }

div.toggleHeader h2 a.expand { margin-top: 1px; float: left; width: 15px; padding-top: 15px; height: 0px; overflow: hidden; background: url(Images/green_arrows.png) no-repeat scroll 0px 0px transparent; cursor: pointer; }


div.toggleHeader h2 a.collapse { background: url(Images/green_arrows.png) no-repeat scroll 0px -15px transparent; }

div.toggleHeader h2 a.edit { float: right; margin-left: 10px; color: #3399CC; font-size: 10px; font-weight: normal; }
div.pwCollapsible div.content { padding-left: 24px; padding-bottom: 20px; }
div.pwCollapsible div.hide { display: none; }


div.fsc div.selectorContainer { }
div.fsc div.selectorContainer a { margin-left: 10px; }
div.fsc div.selectorContainer input { }

div.fsc div.imgWrapper { position: relative; }

div.fsc div.imgWrapper div.imgContainer { margin-top: 10px; max-height: 250px; max-width: 800px; overflow: auto; }

div.fsc div.imgContainer img { padding: 2px; }


img.LightBoxImage { }
img.ClickImage { border: 1px solid transparent; cursor: pointer; }
img.ClickImage:hover { border: 1px solid black; }
img.ClickImageHover { border: 1px solid black; }


div.bannerEdit { margin-bottom: 20px; }
div.bannerEdit div.buttons { padding: 3px; }
div.bannerEdit div.buttons input { margin-right: 15px; }

.QLightTheme { }

.QLightTheme .ui-state-default a, .QLightTheme .ui-state-default a:link, .QLightTheme .ui-state-default a:visited, .QLightTheme .ui-state-active a, .QLightTheme .ui-state-active a:link, .QLightTheme .ui-state-active a:visited { color: #003C69; }
.QLightTheme .ui-state-hover a, .QLightTheme .ui-state-hover a:link, .QLightTheme .ui-state-hover a:visited { color: #7ab800; }
.QLightTheme .ui-state-active, .QLightTheme .ui-widget-content .ui-state-active, .QLightTheme .ui-widget-header .ui-state-active { background: none; border: none; }
.QLightTheme .ui-widget-content { background: none; border: none; }
.QLightTheme .ui-state-default, .QLightTheme .ui-widget-content .ui-state-default, .QLightTheme .ui-widget-header .ui-state-default { background: none; border: none; }
.QLightTheme .ui-state-hover, .QLightTheme .ui-widget-content .ui-state-hover, .QLightTheme .ui-widget-header .ui-state-hover, .QLightTheme .ui-state-focus, .QLightTheme .ui-widget-content .ui-state-focus, .QLightTheme .ui-widget-header .ui-state-focus { background: none; border: none; }

.QLightTheme .ui-state-default .ui-icon { background-image: url("Images/ui-icons_003c69_256x240.png"); }
.QLightTheme .ui-state-active .ui-icon, .QLightTheme .ui-state-hover .ui-icon, .QLightTheme .ui-state-focus .ui-icon { background-image: url("Images/ui-icons_7ab800_256x240.png"); }

.QAccordianTheme { }

.QAccordianTheme .ui-state-default a, .QAccordianTheme .ui-state-default a:link, .QAccordianTheme .ui-state-default a:visited, .QAccordianTheme .ui-state-active a, .QAccordianTheme .ui-state-active a:link, .QAccordianTheme .ui-state-active a:visited { color: #003C69; }
.QAccordianTheme .ui-state-hover a, .QAccordianTheme .ui-state-hover a:link, .QAccordianTheme .ui-state-hover a:visited { color: #7ab800; }
.QAccordianTheme .ui-state-active, .QAccordianTheme .ui-widget-content .ui-state-active, .QAccordianTheme .ui-widget-header .ui-state-active { background: none; border: none; }
.QAccordianTheme .ui-widget-content { background: none; border: none; }
.QAccordianTheme .ui-state-default, .QAccordianTheme .ui-widget-content .ui-state-default, .QAccordianTheme .ui-widget-header .ui-state-default { background: none; border: none; }
.QAccordianTheme .ui-state-hover, .QAccordianTheme .ui-widget-content .ui-state-hover, .QAccordianTheme .ui-widget-header .ui-state-hover, .QAccordianTheme .ui-state-focus, .QAccordianTheme .ui-widget-content .ui-state-focus, .QAccordianTheme .ui-widget-header .ui-state-focus { background: none; border: none; }

.QAccordianTheme .ui-state-default .ui-icon { background-image: url("Images/ui-icons_003c69_256x240.png"); }
.QAccordianTheme .ui-state-active .ui-icon, .QAccordianTheme .ui-state-hover .ui-icon, .QAccordianTheme .ui-state-focus .ui-icon { background-image: url("Images/ui-icons_7ab800_256x240.png"); }



.AccordianLeftNavPanel { position: relative; }
.AccordianLeftNavPanel .ui-accordion .ui-accordion-header .ui-icon { left: -3px; }
.AccordianLeftNavPanel .ui-accordion-icons .ui-accordion-header a { padding-left: 1.2em; }
.AccordianLeftNavPanel .ui-accordion .ui-accordion-content { padding: 0.0em 0.5em 1em 1.2em; }
.AccordianLeftNavPanel .ModuleEditLink { position: absolute; top: 0; right: 0; z-index: 100; }


.AccordianLeftNavPanel div.AspNet-TreeView ul ul {}
.AccordianLeftNavPanel .AspNet-TreeView ul li.AspNet-TreeView-Root {font-weight:normal;}
.AccordianLeftNavPanel li.AspNet-TreeView-Root ul li.AspNet-TreeView-Leaf { padding-left:4px; font-size:smaller; }
.AccordianLeftNavPanel .AspNet-TreeView > ul li .AspNet-TreeView-Leaf.AspNet-TreeView-Selected{background:none;}

.AccordianLeftNavPanel .AspNet-TreeView ul li.AspNet-TreeView-Root  a{}
.AccordianLeftNavPanel .AspNet-TreeView ul li.AspNet-TreeView-Root  a{}


.AccordianLeftNavPanel .AspNet-TreeView ul li.AspNet-TreeView-Root  a:link { color: #003C69;}
.AccordianLeftNavPanel .AspNet-TreeView ul li.AspNet-TreeView-Root  a:visited { color: #003C69; }
.AccordianLeftNavPanel .AspNet-TreeView ul li.AspNet-TreeView-Root  a:hover { text-decoration: underline; color: #7AB800 !important; }
.AccordianLeftNavPanel .AspNet-TreeView ul li.AspNet-TreeView-Root  a:active {  color: #003C69;}


div.blogRoll { min-height: 350px; }
ul.blognav li.ActiveCatYear { font-weight: 700; }

div.editRow { margin: 4px 0; clear: left; padding: 4px 0; }
div.editRow .label { font-weight: bold; clear: left; float: left; padding: 1px; width: 10em; }
div.editRow .longtxtbox { width: 500px; }
div.htmlEditorRow { margin: 15px 0; }
div.selectTags { width: 400px; float: left; }
div.createTags { margin-left: 4em; width: 300px; float: left; }


div.createTags div.message p { border: solid 1px Green; font-weight: 700; }

div.editRow .saveButton, div.editRow .deleteButton, div.editRow .cancelButton { margin-right: 10em; }


/*google search div */
div.cse {margin-top:15px;}


div.gallerymodule div.mojogallery {margin:12px 0px;}



#wrapfooter .linkedIn { display:inline-block; height:12px; vertical-align:text-bottom; padding-top: 3px; line-height: 12px;}
 
#wrapfooter .linkedIn img { height:12px;}


/* twitter_newbird_blue_h12.png */

#wrapfooter .ftwitter  
{
  display:inline-block; 
  height:12px; 
  vertical-align:text-bottom;
  background: url("images/twitter_newbird_blue_h12.png") no-repeat scroll right center transparent;
  margin-right: 3px;
  margin-left: 3px;
  padding: 0 18px 0 0px !important;
 
 }
 
#wrapfooter .ftwitter:hover  
{
  
}