@fonts-path: '/Data/fonts/';

.normal-font {
	font-family: 'Avenir Roman';
	font-weight: normal;
}

.medium-font {
	font-family: 'Avenir Medium';
	font-weight: normal;
}

.bold-font {
	font-family: 'Avenir Heavy';
	font-weight: normal;
}

.extrabold-font {
	font-family: 'Avenir Black';
	font-weight: normal;
}

@font-face {
	font-family: 'Avenir Roman';
	src: url('@{fonts-path}AvenirLTStd-Roman.eot');
	src: url('@{fonts-path}AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		 url('@{fonts-path}AvenirLTStd-Roman.woff') format('woff'),
		 url('@{fonts-path}AvenirLTStd-Roman.ttf')  format('truetype'),
		 url('@{fonts-path}AvenirLTStd-Roman.svg#1297092b477b7e1dcddfcf3bbb416185') format('svg');     
	font-style:   normal;
	font-weight:  normal;
}

@font-face {
	font-family: 'Avenir Medium';
	src: url('@{fonts-path}AvenirLTStd-Medium.eot');
	src: url('@{fonts-path}AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
		 url('@{fonts-path}AvenirLTStd-Medium.woff') format('woff'),
		 url('@{fonts-path}AvenirLTStd-Medium.ttf')  format('truetype'),
		 url('@{fonts-path}AvenirLTStd-Medium.svg#ef669aafc9b550b465914779447af056') format('svg');
	font-style:   normal;
	font-weight:  normal;
}

@font-face {
	font-family: 'Avenir Heavy';
	src: url('@{fonts-path}AvenirLTStd-Heavy.eot');
	src: url('@{fonts-path}AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
		 url('@{fonts-path}AvenirLTStd-Heavy.woff') format('woff'),
		 url('@{fonts-path}AvenirLTStd-Heavy.ttf')  format('truetype'),
		 url('@{fonts-path}AvenirLTStd-Heavy.svg#a1eb5a5cfcec2ff7c30fe732daf3b2e8') format('svg');
	font-style:   normal;
	font-weight:  normal;
}

@font-face {
	font-family: 'Avenir Black';
	src: url('@{fonts-path}AvenirLTStd-Black.eot');
	src: url('@{fonts-path}AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
		 url('@{fonts-path}AvenirLTStd-Black.woff') format('woff'),
		 url('@{fonts-path}AvenirLTStd-Black.ttf')  format('truetype'),
		 url('@{fonts-path}AvenirLTStd-Black.svg#2d55e36446b90be6f85f84e74f83cb6c') format('svg');
	font-style:   normal;
	font-weight:  normal;
}