.button-variant(@color; @background; @border) {
	color: @color;
	background-color: @background;
	border-color: @background;

	&:hover,
	&:focus,
	&:active,
	&.active,
	.open .dropdown-toggle& {
		color: @color;
		background-color: darken(@background, 8%);
				border-color: darken(@background, 8%);
	}
	&:active,
	&.active,
	.open .dropdown-toggle& {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&:active,
		&.active {
			background-color: @background;
			border-color: @background;
		}
	}

	.badge {
		color: @background;
		background-color: @color;
	}

	&.btn-shiney {
		border: none;
		#gradient > .vertical(mix(@background, #fff, 68%); @background; 48%; 52%);

		&:hover {
			#gradient > .vertical(mix(@background, #fff, 90%); mix(@background, #000, 88%); 48%; 52%);
		}
	}

	&.inactive {
		cursor: default;

		&:hover,
		&:focus,
		&:active,
		&.active,
		.open .dropdown-toggle& {
			background-color: @background;
			border-color: @background;
		}
	}
}