.sprite {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background: url('images/sprite.png');
  text-indent: -9999px;
}

  @arrow-hollow-left-grey: 0px 63px 0px -63px 25px 32px 149px 109px '../../images/sprite.png';
  .sprite.arrow-hollow-left-grey { .sprite(@arrow-hollow-left-grey); }
  @arrow-hollow-left: 63px 0px -63px 0px 42px 52px 149px 109px '../../images/sprite.png';
  .sprite.arrow-hollow-left { .sprite(@arrow-hollow-left); }
  @arrow-hollow-right-grey: 27px 63px -27px -63px 25px 32px 149px 109px '../../images/sprite.png';
  .sprite.arrow-hollow-right-grey { .sprite(@arrow-hollow-right-grey); }
  @arrow-hollow-right: 107px 0px -107px 0px 42px 52px 149px 109px '../../images/sprite.png';
  .sprite.arrow-hollow-right { .sprite(@arrow-hollow-right); }
  @chevron-down-black: 54px 86px -54px -86px 13px 8px 149px 109px '../../images/sprite.png';
  .sprite.chevron-down-black { .sprite(@chevron-down-black); }
  @email-header: 78px 63px -78px -63px 29px 15px 149px 109px '../../images/sprite.png';
  .sprite.email-header { .sprite(@email-header); }
  @email-small: 0px 97px 0px -97px 22px 12px 149px 109px '../../images/sprite.png';
  .sprite.email-small { .sprite(@email-small); }
  @email: 109px 63px -109px -63px 29px 15px 149px 109px '../../images/sprite.png';
  .sprite.email { .sprite(@email); }
  @search-small: 54px 63px -54px -63px 22px 21px 149px 109px '../../images/sprite.png';
  .sprite.search-small { .sprite(@search-small); }
  @slide-arrow-outline: 0px 0px 0px 0px 61px 61px 149px 109px '../../images/sprite.png';
  .sprite.slide-arrow-outline { .sprite(@slide-arrow-outline); }

  .sprite(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    // background-image: url(@sprite-image);

    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;

    width: ~`"@{sprite}".split(', ')[4]`;
    height: ~`"@{sprite}".split(', ')[5]`;
  }
