{
  // Default options
  'functions': true
}

.sprite {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background: url('images/sprite.png');
  text-indent: -9999px;
}

{{#items}}
  @{{name}}: {{px.x}} {{px.y}} {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{px.total_width}} {{px.total_height}} '{{{escaped_image}}}';
  .sprite.{{name}} { .sprite(@{{name}}); }
{{/items}}

{{#options.functions}}
  .sprite(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    // background-image: url(@sprite-image);

    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;

    width: ~`"@{sprite}".split(', ')[4]`;
    height: ~`"@{sprite}".split(', ')[5]`;
  }
{{/options.functions}}