﻿

.pagebody { background-color:#BDBDBD; }

div#wrapwebsite   
{
	background-color:White;  
	margin: 0 auto;
	min-width: 995px;
	max-width: 1280px;}
	
div#wrapheader { height:82px; margin:0 36px; }
div#wrapfooter { margin-top:15px; }

#content { min-height: 784px; }
#content .topwrapcenter { margin: 0px 36px; }
#content div.topwrapcenter div.topbanner  
{
    display:block;
    position:relative;
    height:109px; 

    background-attachment:scroll; 
    background-position:0 0;
    background-repeat:no-repeat;
}

div.topbanner div.topbannerEdit 
{
	position:absolute; 
  border:1px solid;
  background-color:White;
  padding:3px;
  top:3px;
  right:3px;
} 


#content .topwrapcenter .topbanner span 
{
  cursor:default;
  color:White;
  font-family:Arial;
  font-size:44px;
  font-weight:400;
  position:absolute;   
  left:173px;
  top:45px;
}



/*
 
.blueBullet  ul li { list-style-image:url("images/bullet_003C69.gif"); }
.greenBullet ul li { list-style-image:url("images/bullet_7AB800.gif"); }

*/

.scheduleDemo,
.becomePartner,
.Downloads 
{ 
	margin-bottom:5px; 
}





div.leftside .panelwrapper {margin-top:10px;}

 