.blogRoll  {   }
.blogRoll  .blogitem {  margin-bottom:10px; border-bottom:1px dotted #4F7997; }
.blogRoll  .blogitem .postlistcontent{ margin-bottom:3px;  padding-right:10px; }
.blogRoll  .blogitem .blogtext { margin-bottom:5px;   }
.blogRoll  .blogitem .blogtext p { margin:6px 0; }



.blogtitle {position: relative;}

h1.blogtitle  {
	border-bottom:1px dotted #4F7997;
	font-size:16px;
	font-weight:400;
	min-height:24px;
	margin:0 0 10px 0;
	padding:0 0 3px;
	vertical-align:text-bottom;
	position:relative;
}

h2.blogtitle  
{
	border-bottom:1px dotted #4F7997;
	font-size:16px;
	font-weight:400;
	height:22px;
	margin:0;
	padding:3px 0 8px;
	vertical-align:middle;

}

h2.blogtitle a {color:#003C69;}
h2.blogtitle a:link,
h2.blogtitle a:visited,
h2.blogtitle a:active { text-decoration:none; }
h2.blogtitle a:hover {	text-decoration:underline;}


h3.blogtitle 	
{
	color:#003C69;
	font-size:106%;
	font-weight:bold;
	margin:5px 0 0;
}

h3.blogtitle a
{
	text-decoration:none;
	color:#003C69;
}

h3.blogtitle a:link,
h3.blogtitle a:visited,
h3.blogtitle a:active {color:#003C69; text-decoration:none; }
h3.blogtitle a:hover {color:#003C69;	text-decoration:underline;}

.blogtitle a.ModuleEditLink,
.blogtitle a.editlink 
{ 
  position:absolute; 
  right:2px;
  top:2px;  
  text-indent:10000000;
  overflow: hidden;
	height: 0; 
  display: block;
	z-index: 100;
  padding-top: 16px;
  width: 16px;
  background: url('/Data/SiteImages/page_white_edit.png') scroll center center transparent;
 }


h3.blogtitle a.ModuleEditLink,
h3.blogtitle a.ModuleEditLink:link,
h3.blogtitle a.ModuleEditLink:visited,
h3.blogtitle a.ModuleEditLink:hover,
h3.blogtitle a.ModuleEditLink:active 
{
	 color:#39C; 
	 font-size:10px; 
	 float:right; 
}
 
 
div.blogtext
{
	line-height:20px;
}
 
.blog_Feeds ul,
.blog_Statistics ul,
.blog_Categories ul,
.blog_Archives ul 
{
  margin:3px 0;
  padding:0; 
}

.blog_Feeds ul li,
.blog_Statistics ul li,
.blog_Categories ul li,
.blog_Archives ul li
{
  margin:3px 0;
  padding:0; 
}

.blogitem .blogdate { padding: 3px 5px 3px 0px; text-align:left; font-size:smaller;  }

.blogitem .tags 
{

   margin-bottom: 10px;
 
  
}

.blogitem .tags-toggle { padding-bottom:1px; text-decoration:none;   }

.blogitem .tags .taglink  {font-size:smaller; padding-left:4px; }



div.blogitem div.blogdate { margin:3px 0; font-size: 11px; }
div.blogview div.blogitem div.blogtext { min-height: 300px; } 
div.blogitem div.blogtext {  padding-right:10px; } 

div.blogitem div.tags { margin-bottom:10px; height: 15px; }
div.blogitem div.tags .tags-toggle 
{  
  text-decoration:none; 
  height:0px; 
  width:37px; 
  padding-top:14px; 
  background: transparent url('images/tags-icon.png') no-repeat top center;
  overflow: hidden;                                  
  text-indent: -1000000000px;
  display: block;
  float: left;
  vertical-align: bottom;
  cursor: pointer;
  
  -moz-opacity:.75; 
  filter:alpha(opacity=75);
  opacity:.75;
                         
 }
 
 div.blogitem div.tags .tags-toggle:hover 
{  
  -moz-opacity:1; 
  filter:alpha(opacity=100);
  opacity:1;
}
 
div.blogitem div.tags a.taglink { font-size: 11px; float: left;}
div.blogitem div.tags-hidden a.tags-toggle { }
div.blogitem div.tags-hidden a.taglink { display:none; }

div.blogitem div.social { margin-bottom:10px; }

div.blogpager { margin-top:5px; padding: 5px 0 5px 0;  height:20px; border-top:1px dotted #4F7997; }


div.blogpager a { padding: 2px; text-decoration:none; }
div.blogpager a:link { }
div.blogpager a:visited { }
div.blogpager a:hover { text-decoration:underline; }
div.blogpager a:active { }
 
div.blogpager a.prevPost  
{
  background-image: url(Images/left-small-arrow.gif); 
  background-position: center left; 
  background-repeat: no-repeat;
  padding-left: 14px;   
  float:left;  
}

div.blogpager a.nextPost  
{
  float:right; 
  background-image: url(Images/right-small-arrow.gif); 
  background-position: center right; 
  background-repeat: no-repeat; 
  padding-right: 14px;                     
}


div.blogRoll {}
div.blogRoll ul.archiveList { padding:0; list-style-type:none;  margin-left:0px;}
div.blogRoll ul.archiveList li.item { margin-left:0px; }
div.blogRoll ul.archiveList li.item h3.blogtitle {margin-top:10px; }
div.blogRoll ul.archiveList li.item h3.blogtitle a.title {}
div.blogRoll ul.archiveList li.item h3.blogtitle a.date { float:right; font-size:88%; font-weight:400;  color:#666666}

div.blogRoll ul.archiveList li.item div.bdate {text-align:left;  padding: 3px 5px 3px 0px; text-align:left; font-size:10px;}
div.blogRoll ul.archiveList li.item div.bdate a {text-decoration:none; }



div.blogtext .callOutText {
	color:#666466;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	line-height:16px;
	margin:20px 0 12px 0;
}



.blogArchive {min-height:300px;}