//
// STYLES APPLICABLE TO ALL MEDIA SIZES
// ------------------------------------------------------------------------------------------------------

body {
	position: relative;

	.btn,
	.btn-lg {
		font-size: 16px;
	}

	.container {
		padding: 0;
		// border-left: 1px solid #e4e4e4;
		// border-right: 1px solid #e4e4e4;

		&.top {
			position: relative;
			z-index: 10000;
		}

		> .content-pad {
			background: #fff;
			padding: 70px 100px;

			.nopad {
				margin-left: -100px;
				margin-right: -100px;
			}

			&.has-fixed-menu {
				padding-left: 190px;
			}

			&.wider {
				padding: 70px 40px;
			}

			&.no-top {
				padding-top: 0px !important;
			}

			&.no-bottom {
				padding-bottom: 0px !important;
			}
		}
	}

	.outer {
		background: #fff;
	}

	.browsehappy {
		background: @brand-warning;
		color: #fff;
		padding: 10px 30px;

		p {
			margin: 0;
		}

		a {
			color: #fff;
			.medium-font;
			text-decoration: underline;
		}

		a:hover {
			text-decoration: none;
		}
	}

	.content {

	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0px;
		.medium-font;

		&.blue {
			color: @blue;
		}
	}

	h2 {
		font-size: 178%;
		margin: 0 0 40px;
	}

	.btn-lg {
		font-size: 14px;
		padding: 12px 18px;
		.medium-font;
	}

	.btn-white {
	  .button-variant(#000; #fff; #fff);

	  &:hover {
	  	background: #ddd;
	  }
	}

	.btn-grey {
	  .button-variant(#fff; @gray-light; @gray-light);

	  &:hover {
	  	background: @gray-dark;
	  }
	}

	.btn-light-orange {
	  .button-variant(#fff; @light-orange; @light-orange);
	}

	.btn-icon {
		overflow: hidden;
		width: 34px; height: 34px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
		font-size: 95%;
		line-height: 22px;

		&.btn-xs {
			width: 22px; height: 22px;
		}

		&.btn-sm {
			width: 30px; height: 30px;
		}

		&.btn-lg {
			width: 44px; height: 44px;
		}
	}

	.btn.btn-circle-outline {
		background: transparent;
		width: 46px;
		height: 46px;
		line-height: 15px;
		text-align: center;
		padding: 14px 0 13px;
		.border-radius(23px);
		border: 2px solid #000;
		font-size: 15px;
		overflow: hidden;
		.transition(background 120ms ease-out);

		&.btn-primary { color: @brand-primary; border-color: @brand-primary; }
		&.btn-primary:hover { color: darken(@brand-primary, 10%); border-color: darken(@brand-primary, 10%); }
		&.btn-success { color: @brand-success; border-color: @brand-success; }
		&.btn-success:hover { color: darken(@brand-success, 10%); border-color: darken(@brand-success, 10%); }
		&.btn-info { color: @brand-info; border-color: @brand-info; }
		&.btn-info:hover { color: darken(@brand-success, 10%); border-color: darken(@brand-success, 10%); }
		&.btn-warning { color: @brand-warning; border-color: @brand-warning; }
		&.btn-warning:hover { color: darken(@brand-success, 10%); border-color: darken(@brand-success, 10%); }
		&.btn-danger { color: @brand-danger; border-color: @brand-danger; }
		&.btn-danger:hover { color: darken(@brand-success, 10%); border-color: darken(@brand-success, 10%); }
		&.btn-white { color: #fff; border-color: #fff; }
		&.btn-white:hover { background: rgba(0,0,0,.2); }

		&:hover,
		&:active {
			// color: #fff;
			background: transparent;
		}

		.fa {
			position: relative;
			height: 15px;
		}

		.fa-arrow-right {
			left: -1px;
		}
	}

	.btn-social {
		width: 34px;
		height: 34px;
		line-height: 35px;
		padding: 0px;
		.border-radius(50%);
		text-align: center;
		color: #fff;
		font-size: 19px;
		overflow: hidden;

		&:hover {
			color: #fff;
		}

		&.google-plus {
			line-height: 66px;
		}
	}

	.btn {
		.transition(background .1s ease-out);

		&.twitter {
			color: #fff;
			background: #78cbef;
			&:hover { background: darken(#78cbef, 7%); }
		}
		&.google-plus {
			color: #fff;
			background: #4b4b4b;
			&:hover { background: darken(#4b4b4b, 7%); }
		}
		&.linkedin {
			color: #fff;
			background: #1384c7;
			&:hover { background: darken(#1384c7, 7%); }
		}
		&.youtube {
			color: #fff;
			background: #e9644a;
			&:hover { background: darken(#e9644a, 7%); }
		}
		&.email {
			color: #fff;
			background: #7AB800;
			&:hover { background: darken(#7AB800, 7%); }
		}
	}

	.more-link {
		color: @text-color;
		font-size: 128%;
		white-space: nowrap;

		.btn {
			margin-left: 12px;
		}
	}

	.page-heading {
		.medium-font;
		color: @blue;
		font-size: 257%;
		margin: 0 0 50px 0;

		&.pad-right {
			padding-right: 130px;
		}
	}

	.content-block {
		margin-bottom: 40px;
	}

	.hr {
		max-width: 840px;
		margin: 0 auto 60px;
		overflow: hidden;
		height: 2px;
		background: #E6E6E6;
	}

	[data-stellar-background-ratio] {
		
	}

	.pagination {
		font-size: 115%;
		margin: 0 0 60px 0;

		li > a,
		li > span {
			border: none;
			color: @gray-light;
			padding: 6px;
		}

		li > span:hover {
			background: none;
			color: @gray-light;
		}

		li.num > a,
		li.num > span {
			width: 20px;
			padding: 6px 0;
			text-align: center;
		}

		li.active > a {
			.bold-font;
			color: @blue;
			background: none;
		}

		li.status > span {
			margin-right: 10px;
		}
	}

}

// --------------------------------------------------
// Header

.sticky-header {
	width: 100%;
	position: relative;
	z-index: 100;
}

.site-header {
	background: #fff;
	height: auto;
	margin: 0;
	border: none;
	z-index: 10000;

	.navbar-header {
		float: none;
		position: relative;
		z-index: 9999;
	}

	.contact-mobile {
		width: 44px;
		height: 34px;
		position: absolute;
		top: 7px;
		right: 60px;
		font-size: 26px;
		line-heigth: 34px;
		color: @gray-light;

		&:hover {
			color: @gray;
		}
	}

	.navbar-brand {
		display: block;
		height: 60px;
		padding: 14px 30px;

		&.has-tagline {
			padding: 10px 30px 32px;

			img {
				margin: 0 0 3px;
			}
		}

		img {
			height: 100%;
			width: auto;
			display: block;
		}

		.tagline {
			.medium-font;
			display: block;
			font-size: 70%;
			margin: 0 0 0 2px;
			font-style: italic;
		}
	}

	.navbar-collapse {
		clear: both;
		padding: 0;

		> .container {
			border: none;
			position: relative;
		}

		.logo {
			position: absolute;
			top: 5px;
			left: 50%;
			height: 26px;
			width: auto;
			opacity: 0;
		}

		.fixed-right:extend(.list-unstyled) {
			white-space: nowrap;
			position: absolute;
			top: 7px;
			right: 50%;
			visibility: hidden;
			opacity: 0;

			li {
				display: inline-block;
				overflow: hidden;
				margin-left: 16px;
			}
		}
	}

	.fixed-header.affix-top {

		> .container {
			width: auto;
			border: none;
		}
	}

	.fixed-header.affix {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		overflow: hidden;
		z-index: 10000;

		.logo,
		.fixed-right {
			visibility: visible;
			opacity: 1;
			.transition(opacity .2s ease-out);
		}

		> .container {
			border-left: 1px solid #e4e4e4;
			border-right: 1px solid #e4e4e4;
		}
	}

	.nav-top:extend(.hidden-xs) {
		float: right;
		.medium-font;
		padding: 13px @grid-gutter-width;
		white-space: nowrap;
		height: 60px;

		ul:extend(.list-unstyled) {
			margin: 0 0 10px;
			display: inline-block;
		}

		li {
			line-height: .75;
			padding: 2px 8px 0 10px;
			display: inline-block;
			border-left: 1px solid #616365;

			a {
				color: #616365;
			}
		}

		li:first-child {
			border: none;
			padding-left: 0px;
		}

		.btn {
			margin: 0 8px 0 0;
		}
	}

	.nav-outer {
		position: relative;
		background: #616365;
		z-index: 2;

		> .container {
			//position: relative;
			padding: 0;
		}
	}

	.nav {
		font-size: 110%;
		text-align: center;
		// position: relative;

		> li > a {
			white-space: nowrap;
		}
		
		li {
			.transition(width .2s ease-out);
			position: static;
			display: inline-block;
			width: 176px;
			text-align: left;
		}

		li:hover {

			a > span {
				background: @turquoise;
			}

			> .subnav,
			> ul.dynamic {
				height: 74px;

				.col {
					opacity: 1;
				}
			}
		}

		.fa-caret-right,
		.fa-caret-down {
			display: none;
			font-size: 78%;
			margin: 0 0 0 6px;
		}

		a {
			color: #fff;
			padding: 0;
		}

		> li > a > span {
			.transition(padding .2s ease-out);
			display: inline-block;
			padding: 9px 30px 8px;
		}

		a:hover {
			background: transparent;
		}

		li.active > a {
			text-decoration: none;

			> span {
				background: @turquoise;
			}
		}

		.has-submenu .fa-caret-down {
			display: inline-block;
		}
	}

	.subnav,
	.nav li ul.dynamic {
		background: #009AA6;
		position: absolute;
		top: 38px;
		left: 0px;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		overflow: hidden;
		height: 0px;
		.transition(height 120ms ease-out);

		.col {
			.list-unstyled;
			white-space: normal;
			text-align: left;
			display: inline-block;
			width: 176px;
			position: relative;
			padding: 10px 0;
			opacity: 0;
			.transition(opacity 300ms ease-out);
			font-size: 90%;
			vertical-align: top;
		}

		.col:before {
			content: " ";
			display: block;
			width: 2px;
			height: 36px;
			position: absolute;
			top: 17px;
			left: 0px;
			background: #fff;
		}

		.col:first-child:before,
		.col.empty:before {
			display: none;
		}

		li {
			display: block;
			.medium-font;
		}

		a {
			white-space: nowrap;
			padding: 3px 30px 3px;
			display: block;
		}
	}

}

// --------------------------------------------------
// Forms

.form {

	fieldset {
		max-width: 560px;
	}

	.form-group {
		margin-bottom: 22px;
	}

	.form-title {
		font-family: 'Avenir Roman';
		font-weight: normal;
		line-height: 1.4;
		font-size: 143%;
		color: @blue;
		margin: 0 0 30px;
	}

	.control-label {
		font-size: 115%;
		color: @gray;
		.normal-font;
	}

	.form-control {
		height: 36px;
		border: 2px solid #999999;
		.box-shadow(none);
		.border-radius(10px);
		font-size: 110%;
	}

	.form-legend {
		font-size: 86%;
		line-height: 1.5;
	}

	select.form-control {
		text-indent: 10px;
	}

	.form-control:focus {
		border-color: lighten(@blue, 5%);
	}

	.two {
		.clearfix;
		margin-left: -10px;
		margin-right: -10px;

		> .form-group {
			float: left;
			padding-left: 10px;
			padding-right: 10px;
			width: 50%;
		}
	}

	.checkbox {
		margin-bottom: 26px;

		label {
			font-size: 100%;
			padding-left: 30px;
		}

		a {
			.medium-font;
			color: @text-color;
			text-decoration: underline;
		}

		a:hover {
			text-decoration: none;
		}

		input {
			margin-left: -30px;
		}
	}

	.submit-row {
		text-align: right;
		padding-top: 20px;

		.btn-lg {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.fileinput {

		.fileinput-label {
			display: inline-block;
			margin: 0 0 0 8px;
		}
	}

	textarea {
		min-height: 180px;
	}
}

// --------------------------------------------------
// Page sections

.page-section {
	position: relative;
	background: #fff;

	&.intro {
		text-align: center;


		&.left {
			text-align: left;
		}

		h1 {
			font-size: 257%;
			.medium-font;
			color: @blue;
			margin: 0 0 56px;
		}

		p {
			font-size: 143%;
			color: @gray;
		}
	}
}

// --------------------------------------------------
// Page banner image

.page-banner {
	background: #f6f6f6;
	max-height: 400px;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

// --------------------------------------------------
// Breadcrumbs

.breadcrumb {
	position: relative;
	margin: 0;
	padding-left: 36px;
	background: #fff;
	z-index: 9999;
	.border-radius(0px);

	a {
		text-decoration: underline;
		color: @text-color;
	}

	a:hover {
		text-decoration: none;
	}

	span {
		font-style: italic;
		.medium-font;
	}

	> li+li:before,
	> a+a:before {
		.fa;
		display: inline-block;
		font-size: 80%;
		content: @fa-var-arrow-right;
		padding: 0 7px 0px 6px;
	}
}

// --------------------------------------------------
// Fixed page navigation

.fixed-page-nav:extend(.hidden-xs) {
	text-align: left;
	position: absolute;
	top: -32px;
	left: 50%;
	z-index: 9998;
	padding: 70px 0 0 35px;
	font-size: 90%;
	line-height: 21px;

	&.affix {
		position: fixed;
		top: 0px;
		left: 50%;
	}

	ul:extend(.list-unstyled) {
		display: inline-block;
		border-left: 2px solid @green;
	}

	> ul > li {
		position: relative;
		top: 10px;
		margin: 30px 0 0 -11px;
		height: 24px;
		overflow: hidden;

		&.passed a {
			opacity: .5;
		}

		&:hover a {
			opacity: 1;
		}

		&.active {
			
			a {
				padding-right: 16px;
			}
		}
	}

	> ul > li > a {
		position: relative;
		display: inline-block;
		.border-radius(12px);
		color: #fff;
		padding: 2px 12px 2px 30px;
		.transition(padding .1s ease-out);
	}

	i {
		position: absolute;
		top: 0px;
		left: 0px;
		display: block;
		width: 24px;
		height: 24px;
		.border-radius(12px);
	}

	.top {
		position: absolute;
		top: 65px;
		left: 31px;
		display: block;
		width: 10px;
		height: 10px;
		background: @green;
	}

	.item-color(@bg) {
		& a { background: @bg; }
		& i { background: darken(@bg, 14%); }
		& a:hover {
			text-decoration: none;
			background: darken(@bg, 5%);
			padding-right: 12px;
		}
	}

	.green { .item-color(@green); }
	.turquoise { .item-color(@turquoise); }
	.blue { .item-color(@blue); }
	.purple { .item-color(@purple); }
	.red { .item-color(@red); }
	.orange { .item-color(@orange); }

	&.green {

		.top {
			background: @green;
		}

		ul {
			border-color: @green;
		}

		> ul > li {
			.item-color(@green);
		}
	}

	&.grey {

		.top {
			background: #999;
		}

		ul {
			border-color: #999;
		}

		> ul > li {
			.item-color(#999);
		}
	}
}

// --------------------------------------------------
// Box slides

.box-slides {
	width: 100%;
	position: relative;
	padding: 24px 0 0 0;

	.slides {
		white-space: nowrap;
		overflow: hidden;
		margin: 0;
	}

	.box-slide {
		color: #fff;
		float: left;
		width: 290px;
		white-space: normal;
		overflow: hidden;
	}

	a.box-slide {
		

		.box {
			.transition(all .2s ease-out);
		}

		p {
			.transition(opacity .2s ease-out);
			opacity: 0;
		}

		&:hover {
			text-decoration: none;

			.heading {

			}

			.box {
				padding-top: 15px;
			}

			p {
				opacity: 1;
			}

			footer span {
				opacity: 1;
				margin-top: 0px;
			}
		}
	}

	.box {
		position: relative;
		height: 240px;
		padding: 40px 30px 0;
		.border-radius(8px);
		text-align: center;

		p {
			font-size: 13px;
			text-align: left;
		}
	}

	.heading {
		font-size: 145%;
		line-height: 1.4;
		.medium-font;
	}

	footer {
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
		height: 43px;
		padding: 11px 0 0;
		.border-radius(0 0 8px 8px);

		span {
			.transition(opacity .2s ease-out, margin .2s ease-out);
			display: block;
			text-align: center;
			opacity: 0;
			margin-top: 10px;
		}
	}

	.next,
	.prev {
		color: @orange;
		position: absolute;
		top: 50%;
		margin: -36px 0 0;
		font-size: 60px;
		.transform(scale(1.1, 1));

		a {
			position: absolute;
			top: -2px; right: -2px; bottom: -2px; left: -2px;
			display: block;
		}
	}

	.next {
		right: -24px;
	}

	.prev {
		left: -24px;
	}

	.item-color(@bg) {

		@darker: darken(@bg, 14%);

		.box {
			background: @bg;
			background: rgba(red(@bg), green(@bg), blue(@bg), 0.8);
		}

		&:hover .box {
			background: @bg;
		}

		footer {
			background: @darker;
			background: rgba(red(@darker), green(@darker), blue(@darker), 0.8);
		}
		
	}

	.box-slide.green { .item-color(@green); }
	.box-slide.turquoise { .item-color(@turquoise); }
	.box-slide.blue { .item-color(@blue); }
	.box-slide.purple { .item-color(@purple); }
	.box-slide.red { .item-color(@red); }
	.box-slide.orange { .item-color(@orange); }
}

// --------------------------------------------------
// Numbered Grid

.numbered-grid {
	padding-top: 30px;

	.item {
		margin-bottom: 35px;
		padding-left: 40px;
		position: relative;

		p {
			margin: 0 0 22px;
		}
	}

	.num {
		display: inline-block;
		position: absolute;
		top: -5px;
		left: 15px;
		font-size: 168%;
		.bold-font;
		color: @turquoise;
	}

	.hr {
		height: 0px;
		border-top: 2px solid @turquoise;
		border-bottom: 2px solid darken(@turquoise, 16%);
		max-width: 30%;
		margin-bottom: 26px;
		position: relative;
		left: -16px;
	}
}

// --------------------------------------------------
// Block quote with image

blockquote.img {
	position: relative;
	border: none;
	padding: 0 0 0 160px;
	margin: 0;
	font-size: 100%;
	.medium-font;

	p {
		font-style: italic;
	}

	.img {
		position: absolute;
		top: 0px;
		left: 0px;
		overflow: hidden;
		.border-radius(50%);
		width: 140px;
		height: 140px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.person {
		display: block;
		font-size: 87%;
	}
}

// --------------------------------------------------
// Footer

.footer-navigation {
	background: #7c7d7f url('/Data/skins/QC_v12/images/global/footer-map-dark.png') 46% 40% no-repeat;
	.background-size(contain);
	color: #fff;
	padding: 42px 50px 10px;

	a {
		color: #fff;
	}

	h3,
	.moduletitle {
		color: #fff;
		.medium-font;
		margin: 0 0 30px;
		font-size: 178%;
	}

	h4 {
		.medium-font;
		font-size: 130%;
		margin: 0 0 4px;
		line-height: 1.25;
	}

	ul {
		.list-unstyled;
		font-size: 115%;
		margin: 0 0 36px;
	}

	li {
		margin: 0 0 4px;
	}

	.telephone-list {

		li {
			margin-bottom: 6px;
		}

		b {
			.medium-font;
			white-space: nowrap;
			display: inline-block;
			width: 108px;
		}

		span {
			white-space: nowrap;
		}
	}

	.email-link {
		.medium-font;
		display: inline-block;
		margin: 20px 0 0;
		font-size: 130%;

		.sprite {
			position: relative;
			top: -2px;
			margin: 0 0 0 20px;
		}
	}

	.tweet {
		position: relative;
		margin: 0 0 24px;
		padding: 2px 0 0 40px;
		font-size: 115%;
		line-height: 1.45;

		.fa-twitter {
			font-size: 30px;
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}
}

.footer-social {
	background: #e5e5e5;
	text-align: center;
	padding: 60px 0 36px;

	.buttons {
		display: inline-block;
		position: relative;
		padding: 0 30px;
		white-space: nowrap;

		h3 {
			.medium-font;
			position: absolute;
			top: -10px;
			right: 100%;
			white-space: nowrap;
		}
	}

	.social-btn {
		display: inline-block;
		width: 58px;
		height: 58px;
		line-height: 62px;
		.border-radius(29px);
		text-align: center;
		color: #fff;
		margin: 0 28px;
		font-size: 30px;
		overflow: hidden;

		i {
			position: relative;
		}

		&.twitter {
			background: #78cbef;
			&:hover { background: darken(#78cbef, 7%); }
			i { top:-2px; }
		}
		&.google-plus {
			background: #4b4b4b; line-height: 66px;
			&:hover { background: darken(#4b4b4b, 7%); }
			i { top:-2px; left: 1px; }
		}
		&.linkedin {
			background: #1384c7;
			&:hover { background: darken(#1384c7, 7%); }
			i { top:-3px; left: 1px; }
		}
		&.youtube {
			background: #e9644a;
			&:hover { background: darken(#e9644a, 7%); }
			i { top:-3px; }
		}
	}
}

.footer-bottom {
	background: #e5e5e5;
	text-align: right;
	border-bottom: 7px solid #616365;
	padding: 0 20px 0px;

	ul {
		.list-inline;
		white-space: nowrap;

		> li {
			padding: 0;
			margin-bottom: 6px;
		}

		.div {
			display: none;
		}
	}

	a {
		color: @gray;
	}

	.userSignIn {
		display: inline-block;
		margin: 0 8px 0 0;

		a {
			visibility: hidden;
		}

		&:hover a {
			visibility: visible;
		}
	}
}

// --------------------------------------------------
// Homepage banner slides

.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	width: 100%;
	height: auto;
	max-width: 100%;
	display: block;
}

.banner-slideshow {
	position: relative;

	.banner-slide {
		max-height: 700px;

		.slide-content {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
		}

		.container {
			position: relative;
		}
	}

	.bx-default-pager {
		.clearfix;
		white-space: nowrap;

		.bx-pager-item {
			width: 14px;
			height: 14px;
			display: inline-block;
			margin: 0 8px;
		}

		.bx-pager-link {
			background: #ffffff;
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			text-indent: -9999px;
			.border-radius(50%);
			.box-shadow(0px 0px 10px rgba(0,0,0,.5));
		}
	}

	.controls {
		display: inline-block;
		position: absolute;
		top: 50%;
		right: 50%;
		margin: -65px 0 0;

		.pager,
		.simple-pager {
			display: block;
			color: #fff;
			font-size: 110%;
			text-align: center;
			padding: 0 2px 0 0;
			margin: 0 0 9px;
		}

		.next-slide,
		.prev-slide {
			position: relative;
			overflow: visible;
			margin: 0;

			a {
				position: absolute;
				top: -2px; right: -2px; bottom: -2px; left: -2px;
				display: block;
				.border-radius(50%);
			}
		}

		.prev-slide {
			margin: 0 0 10px;
		}
	}

	.overlay-box {
		display: block;
		position: absolute;
		bottom: @grid-gutter-width * 2;
		right: 186px;
		width: 26%;
		min-width: 260px;
		padding: 32px 34px;
		.border-radius(8px);
		font-size: 140%;
		line-height: 1.3;
		color: #fff;
		.item-color(@gold);

		.heading {
			.bold-font;
			font-size: 100%;
			margin: 0 0 14px;
			line-height: 1.3;
		}

		a {
			color: #fff;
		}

		p {
			font-size: 90%;
			margin: 0 0 20px;
		}

		.more {
			.extrabold-font;
		}

		&:hover,
		&:hover a {
			color: #eee;
			text-decoration: none;
		}

		.item-color(@bg) {
			background: @bg;
			background: rgba(red(@bg), green(@bg), blue(@bg), 0.92);
		}

		&.green { .item-color(@green); }
		&.turquoise { .item-color(@turquoise); }
		&.blue { .item-color(@blue); }
		&.purple { .item-color(@purple); }
		&.red { .item-color(@red); }
		&.orange { .item-color(@orange); }
		&.gold { .item-color(@gold); }

	}
}

// --------------------------------------------------
// Homepage sections

.back-to-top {
	display: inline-block;
	text-align: center;
	color: #fff;
	white-space: nowrap;
	.medium-font;

	.btn {
		display: block;
		margin: 0 auto 8px;
	}

	&:hover {
		color: #fff;
		text-decoration: none;

		.btn {
			background: rgba(255,255,255,.2);
		}
	}
}

.home-section {
	background: #fff;
	text-align: center;
	position: relative;

	> .container {
		padding: 90px 120px;
	}

	.bg-image {
		position: absolute;
		top: -20px;
		right: 0px;
		bottom: -20px;
		left: 0px;
		.background-size(cover);
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		-ms-behavior: url('/Data/vendor/background-size-polyfill/backgroundsize.min.htc');

		/* Put the bg into the HW Compositing layer right from the start */
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);

		//.transition(top .1s ease-out);
	}

	.content {
		position: relative;
		z-index: 1;
	}

	.section-heading {
		.medium-font;
		font-size: 260%;
		display: inline-block;
		color: @blue;
		position: relative;
		margin: 0 0 54px;
		
		&:after {
			content:" ";
			display: block;
			background: @blue;
			overflow: hidden;
			height: 1px;
			width: 30%;
			margin: 18px auto 0;
			min-width: 60px;
		}
	}

	p {
		font-size: 140%;
	}

	.grey {
		color: #716f6a;
	}

	.intro {
		font-size: 140%;
		margin: 0 auto 30px;
	}

	.align-left {
		text-align: left;
	}
}

.home-section.has-bg {
	overflow: hidden;
}

.home-section.has-bg,
.home-section.inverse {

	&,
	p,
	.section-heading {
		color: #fff;
	}

	.intro,
	.section-heading {
		text-shadow: 0px 0px 30px #000;
	}

	.section-heading:after {
		background: #fff;
	}

}

.home-section.solution {

	> .container {
		padding-top: 120px;
	}

	.btn-circle-outline {
		position: absolute;
		top: 10px;
		left: 50%;
		margin: 0 0 0 -25px;
		cursor: pointer;
	}
	
	.icon-features {
		margin-bottom: 50px;

		.item {
			position: relative;
			padding: 0 @grid-gutter-width;
		}

		img {
			display: block;
			width: 59px;
			height: auto;
			margin: 0 auto 36px;
		}

		h3 {
			color: @blue;
		}

		p {
			font-size: 120%;
			color: #716f6a;
			position: relative;
		}

		p:before {
			content:" ";
			display: block;
			overflow: hidden;
			position: absolute;
			top: 0px;
			left: -31px;
			width: 2px;
			height: 47px;
			background: @blue;
		}

		.item:first-child p:before {
			display: none;
		}
	}
}

.home-section.markets {

	.pad {
		padding: 0 80px 0 0;
	}

	> .container {
		padding-bottom: 40px;
	}

	.grid-list {
		text-align: left;
		margin: 0 -10px;

		@orange-dark: darken(@orange, 6%);

		.item {
			text-align: center;
			border: 1px solid #fff;
			.medium-font;
			display: inline-block;
			oveflow: hidden;
			width: 140px;
			height: 64px;
			background: #CC6600;
			background: rgba(red(@orange), green(@orange), blue(@orange), 0.75);
			margin: 0 10px 20px;
			.border-radius(10px);
			padding: 10px;
			font-size: 120%;
			border: 1px solid rgba(255,255,255,.8);
			color: #fff;
			.transition(background-color .2s ease-out);

			> span {
				display: table;
				width: 100%;
				height: 100%;
			}

			b {
				.medium-font;
				display: table-cell;
				width: 100%;
				height: 100%;
				vertical-align: middle;
			}
		}

		.item:hover {
			text-decoration: none;
			background: rgba(red(@orange-dark), green(@orange-dark), blue(@orange-dark), 0.75);
		}

		.clearfix {
			display: block;
			clear: both;
		}
	}
}

.home-section.explore {
	position: relative;
	z-index: 100;

	.intro {
		width: 50%;
		position: relative;
		z-index: 1;
	}

	.canvas {
		margin: -120px auto 0;
		width: 100%;
		position: relative;

		.box {
			border: 3px solid #E98300;
			background: #fff;
			padding: 12px 14px;
			width: 220px;
			.border-radius(14px);
			position: absolute;
			top: 0px;
			left: 0px;
			display: inline-block;
			opacity: 0;
			visibility: hidden;
			.transition(opacity .15s ease-out);

			p {
				margin: 0;
				font-size: 110%;
				line-height: 1.6;
			}
		}

		.box.active {
			opacity: 1;
			visibility: visible;
		}

		.box-img {
			width: auto;
			.border-radius(50%);
			padding: 6px;

			.img {
				display: block;
				width: 100%;
				height: 100%;
				background-position: 50% 50%;
				.background-size(cover);
				-ms-behavior: url('/Data/vendor/background-size-polyfill/backgroundsize.min.htc');
				.border-radius(50%);
			}
		}
	}

	.temp {
		display: block;
		max-width: 100%;
		height: auto;
		margin: -525px auto 0;
		opacity: .2;
	}

	svg.hits {
		position: absolute;
		top: 0px;
		left: 0px;

		polygon.hover {
			cursor: pointer;
		}
	}
}

.no-svg .home-section.explore {
	display: none;
}

.home-section.research {

	> .container {
		padding-bottom: 120px;
		padding-left: 180px;
	}

	.intro {
		width: 45%;
		min-width: 300px;
		margin-bottom: 80px;
	}

	.box-slides {
		padding-top: 0px;

		.heading {
			// text-shadow: 0px 0px 70px #000;
		}

		.next {
			right: -58px;
		}

		.prev {
			left: -58px;
		}
	}

	.more {
		font-size: 120%;

		.btn {
			margin-left: 4px;
		}
	}

}

.home-section.about {

	> .pad {
		padding: 0 15% 40px;
	}

	> .container {
		padding-bottom: 70px;
	}

	.intro {
		width: 82%;
		font-size: 140%;
		//min-width: 300px;
		margin-bottom: 40px;
	}

	.sub-heading {
		.medium-font;
		color: @blue;
		font-size: 140%;
		text-align: left;
		margin: 20px 0 80px;
	}

	p.grey {
		margin-bottom: 70px;
		color: @text-color;
	}

	.more {
		.medium-font;
		color: @blue;
		font-size: 134%;
		text-align: left;
		margin: 0 0 30px;

		.btn {
			margin-left: 8px;
		}
	}

	.col-bottom {
		padding-right: 120px;
		padding-bottom: 30px;
	}

	.icon-features-horizontal {
		padding: 0 0 0 12%;
		text-align: left;

		img {
			display: block;
			max-width: 57px;
			height: auto;
			position: absolute;
			top: 0px;
			left: 15px;
		}

		.heading {
			color: @blue;
		}

		p {
			color: #716f6a;
			font-size: 125%;
		}

		.item {
			padding: 14px 15px 30px 103px;
			position: relative;
		}

		.item:hover {
			text-decoration: none;

			p {
				text-decoration: underline;								
			}
		}
	}
}

.home-section.citizenship {
	background: #3c7467;
	overflow: hidden;

	> .container {
		padding: 0;
	}

	.text {
		position: relative;
		padding: 90px 45px 90px 15px;

		ul {
			.list-unstyled;
			width: 65%;
			min-width: 265px;
			margin: 0 auto 50px;
		}

		li {
			.medium-font;
			font-size: 130%;
			line-height: 1.4;
			margin: 0 0 14px;
		}

		li:before {
			content: " ";
			display: block;
			overflow: hidden;
			width: 65px;
			height: 1px;
			background: #fff;
			margin: 0 auto 14px;
		}

		li:first-child:before {
			display: none;
		}

		.intro,
		.section-heading {
			text-shadow: none;
		}
	}

	.bx-wrapper,
	.bx-viewport {
		width: 100%;
		height: 100%;
	}

	.bx-controls {
		position: absolute;
		bottom: 20px;
		right: 30px;
		width: 100%;
		z-index: 99;
		text-align: right;
	}

	.bx-default-pager {
		.clearfix;
		white-space: nowrap;

		.bx-pager-item {
			width: 14px;
			height: 14px;
			display: inline-block;
			margin: 0 8px;
		}

		.bx-pager-link {
			background: #ffffff;
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			text-indent: -9999px;
			text-align: left;
			.border-radius(50%);
			.box-shadow(0px 0px 10px rgba(0,0,0,.5));
		}
	}

	.slideshow {
		width: 100%;
		height: 100%;

		.slide {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			.background-size(cover);
			background-position: center top;
			background-repeat: no-repeat;
		}
	}

	.btn-white.btn-lg {
		color: #3c7467;
	}

	.back-to-top {
		position: absolute;
		bottom: 18px;
		right: 0px;
	}
}

// --------------------------------------------------
// Blog

.blog-posts {

	.item {
		display: block;
		// max-width: 265px;
		margin: 0 0 70px;

		img {
			display: block;
			width: 100%;
			height: auto;
			border: 1px solid @blue;
			margin: 0 0 24px;
			padding: 2px;
		}

		h2 {
			color: @blue;
			font-size: 155%;
			line-height: 1.1;
			margin: 0 0 10px;
		}

		.date {
			display: block;
			color: @gray-light;
			font-size: 110%;
			margin: 0 0 10px;
		}

		p {
			margin: 10px 0 20px;
			color: @gray;
			font-size: 115%;
			line-height: 1.2;
		}

		&:hover {
			text-decoration: none;

			h2 {
				text-decoration: underline;
			}
		}

		.more {
			.medium-font;
		}
	}
}

// --------------------------------------------------
// Client services

.services {
	//padding-right: 120px;

	h2 {
		color: @blue;
		.medium-font;
		font-size: 178%;
		margin: 0 0 50px;
	}

	h3 {
		color: @orange;
		font-size: 143%;
	}

	p {
		font-size: 115%;
		color: @gray;
	}

	.row {
		position: relative;
		padding-left: 90px;
	}

	.icon {
		position: absolute;
		top: -10px;
		left: 10px;
		max-width: 74px;
		display: block;
	}

	.item {
		margin-bottom: 20px;
		padding-right: 50px;
	}
}

// --------------------------------------------------
// Contact map

.contact-map {

	> img {
		display: block;
		width: 100%;
		max-width: 900px;
		margin: 0 auto 30px;
	}
	

	path {
	  stroke: white;
	  stroke-width: 0.25px;
	  fill: @blue;
	}

	.marker {

		circle {
			stroke: @green;
			stroke-width: 1.8px;
			fill: #fff;
		}

		line {
			stroke: @green;
			stroke-width: 1.8px;
		}
	}
}

.offices {
	padding-left: 3%;
	margin: 0 -70px;

	.office {
		margin-bottom: 60px;

		> .inner {
			max-width: 175px;
			margin: 0 auto;
		}
	}

	h3 {
		font-size: 143%;
		color: @blue;
		.medium-font;
		margin: 0 0 20px;
	}

	p {
		margin: 0 0 20px;
	}

	p,
	.tel {
		font-size: 115%;
	}
}

// --------------------------------------------------
// Team members

.team-list {

	.img {
		overflow: hidden;
		.border-radius(50%);
		width: 190px;
		height: 190px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.member {
		margin-bottom: 60px;

		h3 {
			font-size: 143%;
			color: @blue;
			.medium-font;
			margin: 0 0 40px;
		}

		.social {
			&:extend(.list-unstyled);
		}

		.editor {
			margin: 0 0 20px;
		}

		.pull-right .img {
			float: right;
		}
	}
}

// --------------------------------------------------
// Testimonials

.testimonial-list {

	.img {
		overflow: hidden;
		.border-radius(50%);
		width: 190px;
		height: 190px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.testimonial {
		margin-bottom: 60px;
		font-size: 115%;
		line-height: 1.6;
		.medium-font;

		p {
			margin: 20px 0 24px;
			font-style: italic;
		}

		.label {
			color: @blue;
		}
	}
}

// --------------------------------------------------
// Timeline

.timeline-key {
	.list-unstyled;
	margin: 0 0 30px;

	.swatch {
		display: inline-block;
		width: 12px;
		height: 12px;
		.border-radius(6px);
		position: relative;
		top: 1px;

		&.light-orange {
			background: @light-orange;
		}
		&.orange {
			background: @orange;
		}
		&.turquoise {
			background: @turquoise;
		}
		&.green {
			background: @green;
		}
	}
}

.company-timeline {

	.content-pad {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	svg.hits {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 2;
	}

	.toggle {
		font-size: 115%;
		color: @gray;
		.medium-font;
		display: inline-block;
		height: 46px;
		margin: 0 0 100px;

		.btn {
			margin-left: 12px;
		}

		&:hover .btn {
			//background: @brand-success;
			//color: #fff;
		}
	}

	.legend {
		position: absolute;
		bottom: 0px;
		.medium-font;
		font-size: 130%;
		color: @blue;

		&.left {
			left: 30px;
		}

		&.right {
			right: 30px;
		}
	}

	.graphic {
		position: relative;
		margin: 0 0 20px;

		svg {
			width: 100%;
			//height: 38%;
		}

		.hits {

			rect {
				cursor: pointer;
			}
		}

		.label {
			position: absolute;
			left: 0px;
			height: 75px;
			visibility: hidden;
			opacity: 0;
			.transition(all .2s ease-out);

			&.odd {
				height: 175px;
			}

			&.active {
				visibility: visible;
				opacity: 1;
				height: 90px;
			}

			&.active.odd {
				height: 190px;
			}

			.line {
				width: 2px;
				height: 100%;
				margin: 0 0 0 -1px;
			}

			.box {
				position: absolute;
				left: -15px;
				bottom: 100%;
				.medium-font;
				font-size: 115%;
				color: #fff;
				width: 215px;
				padding: 20px 20px 6px;
				.border-radius(10px);
				.transition(height .2s ease-out);

				p {
					margin: 0 0 10px;
				}

				> a {
					display: block;
					margin: 0 0 10px;
					color: #fff;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	.text-version {

		.show-open {
			display: none;
		}

		.toggle:hover {
			text-decoration: underline;

			.show-open,
			.hide-open {
				text-decoration: underline;
			}
		}

		&.open {

			.hide-open {
				display: none;
			}

			.show-open {
				display: inline-block;
			}

			ul {
				height: auto;
				margin-bottom: 60px;
			}
		}

		ul:extend(.list-unstyled) {
			font-size: 115%;
			overflow: hidden;
			height: 0px;
			.transition(all .5 ease-in-out);

			li {
				margin: 0 0 16px;
			}

			b {
				color: @blue;
			}

			span {

			}
		}
	}
}

.principles {

	td {
		vertical-align: middle;
	}

	.label {
		display: block;
		float: left;
		width: 17%;
		color: @text-color;
		font-size: 156%;
		.medium-font;
		white-space: nowrap;
		margin: 0 0 18px;
		padding: 5px 0 0 0;
	}

	.text {
		font-size: 115%;
		padding: 0 0 18px 0;
	}

}

// --------------------------------------------------
// Partners

.logo-grid {
	margin: 0 -5px;

	> div {
		padding: 0 5px;
		margin-bottom: 10px;
	}

	.tile {
		display: block;
		height: 230px;

		> .hit {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 4;
			width: 100%;
			height: 100%;
			background: url('/Data/skins/QC_v12/images/blank.png');
		}

		.front,
		.back {
			.transition(all .4s ease-in-out, border-color .1s ease-out);
		}

		.front {
			border: 1px solid #ddd;
			background-color: #fff;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}

		.back {
			border: 1px solid #ddd;
			background-color: #fff;
			font-size: 90%;
			line-height: 1.3;
			padding: 16px;

			p {
				max-height: 76px;
				overflow: hidden;
			}

			.large {
				.medium-font;
				color: @turquoise;
			}

			.link {
				.bold-font;
				position: absolute;
				left: 16px;
				bottom: 14px;
				white-space: nowrap;
			}
		}

		&:hover {

			.front,
			.back {
				border-color: @gray-light;
				// .box-shadow(0px 0px 10px rgba(red(@turquoise), green(@turquoise), blue(@turquoise), 0.4));
			}
		}
	}
}

.tile {
	position: relative;
	z-index: 1;
    .perspective(1200px);
    .transform-style(preserve-3d);
    .backface-visibility(hidden);

    > .front,
    > .back {
    	cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: white;
        .transition(all .4s ease-in-out);
        .backface-visibility(hidden);
        .transform-style(preserve-3d);
        .rotateY(-180deg);
    }

    .front {
        position: relative;
        z-index: 10;
        .rotateX(0deg);
        .rotateY(0deg);
    }

    .back {
    	z-index: 9;
        .rotateY(-180deg);
    }

    &.flip {
    	z-index: 2;

    	.front {
	        z-index: 9;
	        .rotateY(180deg);
	    }

	    .back {
            z-index: 10;
            .rotateX(0deg);
            .rotateY(0deg);
        }
    }
}

// --------------------------------------------------
// Case Studies

.case-study-list {

	.item {
		margin-bottom: 50px;

		h2 {
			color: @blue;
			font-size: 178%;
			.medium-font;
			margin: 0 0 20px;
		}

		h3 {
			font-size: 143%;
			color: @gray;
			margin: 0 0 18px;
		}

		p {
			font-size: 115%;
			margin: 0 0 18px;
		}
	}

	.more {
		color: @text-color;
		font-size: 128%;
		white-space: nowrap;
		display: inline-block;
		margin: -10px 0 50px;

		.btn {
			margin-left: 12px;
		}

		&:hover {

			.btn {
				//color: #fff;
				//background: @brand-success;
			}
		}
	}
}

// --------------------------------------------------
// Job list

.job-list {

	.item {
		margin: 0 0 10px;
	}

	.toggle {
		display: block;
		.medium-font;
		font-size: 143%;
		color: @text-color;
		position: relative;
		max-width: 640px;
		padding: 8px 56px 8px 0;

		.btn {
			margin-left: 10px;
			position: absolute;
			top: 0px;
			right: 0px;
		}

		&:hover {

			.btn {
				//background-color: @brand-success;
				//color: #fff;
			}
		}
	}

	.details {
		overflow: hidden;
		height: 0px;
		.transition(height .3s ease-out);

		.editor {
			padding: 40px 0 0;
		}
	}

	.visible-open {
		display: none;
	}

	.item.open {

		.hidden-open {
			display: none;
		}

		.visible-open {
			display: inline-block;
		}

		.details {
			height: auto;
		}
	}
}

// --------------------------------------------------
// Events

.events-list {
	margin-bottom: 60px;

	.event {
		margin-bottom: 40px;

		&.closed {

			.title,
			.title a {
				color: @text-color;
				text-decoration: none;
				cursor: default;
			}
		}
	}

	.actions {
		white-space: nowrap;
		text-align: right;
		padding-top: 4px;

		.btn {
			width: 46%;
			margin: 0 0 0 3%;
			text-align: center;
			white-space: nowrap;
		}

		.btn-grey {
			background: @gray-light;
			border: 1px solid @gray-light;
			cursor: default;
		}
	}

	.title {
		color: @blue;
		font-size: 172%;
		margin: 0 0 6px;
	}

	.location {
		display: block;
		font-size: 143%;
		margin: 0 0 6px;
		line-height: 1.35;
	}

	p {
		font-size: 115%;
		margin: 0 0 6px;
	}

	.controls {
		text-align: right;

		.pagination {
			margin: 0;
		}
	}
}

.video-carousel {
	position: relative;
	margin: 0 0 40px;

	.bx-viewport {
		margin-bottom: 20px;
	}

	.slider {
		position: relative;
	}

	.slide {
		height: 182px;
		text-align: center;
		cursor: pointer;

		.img {
			display: inline-block;
			position: relative;
			margin: 16px auto 0;
			.transition(all .35s ease-out);
		}

		img {
			width: auto;
			display: block;
			height: 150px;
			.transition(all .35s ease-out);
		}

		.label {
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 100%;
			display: block;
			color: #fff;
			padding: 8px;
			background: #111;
			background: rgba(0,0,0,.7);
			font-size: 90%;

			b {
				.bold-font;
			}
		}

		.slide-arrow-outline {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -42px 0 0 -30px;
			opacity: .6;
			.transition(opacity .35s ease-out);
		}
	}

	.slide.active {

		.img {
			margin-top: 0px;
		}

		img {
			height: 182px;
		}

		.slide-arrow-outline {
			opacity: 1;
		}
	}

	.slide.blank {

		img {
			height: 1px;
		}
	}

	.next,
	.prev {
		position: absolute;
		top: 50%;
		font-size: 400%;
		margin-top: -34px;
		.transform(scale(1.3, 1));
		color: @gray-light;

		a {
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}
	}

	.next {
		right: -30px;
	}

	.prev {
		left: -30px;
	}

	.info {
		position: relative;

		.item {
			position: absolute;
			width: 34%;
			left: 33%;
			top: 0px;
			text-align: center;
			opacity: 0;
			visibility: hidden;
			.transition(opacity .5s ease-out);
		}

		.item.active {
			position: relative;
			opacity: 1;
			visibility: visible;
			.transition(opacity .5s ease-in);
		}

		p {
			.medium-font;
			font-size: 115%;
			text-align: left;
			margin: 0 0 20px;
		}

		b {
			.medium-font;
			font-size: 125%;
			line-height: 1.2;
			color: @blue;
		}
	}
}

// --------------------------------------------------
// Event details

.event-details {

	.date {
		display: block;
		font-size: 178%;
		margin: -40px 0 50px;
	}

	h2 {
		color: @blue;
	}

	h2 {
		font-size: 178%;
		margin-bottom: 42px;
	}

	h3 {
		color: @gray;
		font-size: 143%;
		margin-bottom: 10px;
	}

	h4 {
		font-size: 128%;
		margin-bottom: 20px;
	}

	.editor {
		p,
		ul,
		ol {
			margin: 0;
		}
	}

	.item {
		margin-bottom: 50px;
	}

}

// --------------------------------------------------
// Solutions

.solutions-graphic {
	margin: 0 -25px;
	position: relative;

	img {
		width: 100%;
		height: auto;
		display: block;
	}

	.hit {
		display: block;
		position: absolute;
	}
}

// --------------------------------------------------
// News

.news-items {

	.heading {
		margin-bottom: 50px;
	}
	
	.item {
		position: relative;
		border: 3px solid #e3e3e3;
		.border-radius(10px);
		margin-bottom: 70px;
		padding: 28px 30px 60px;
		max-width: 380px;

		h3 {
			color: @blue;
			font-size: 143%;
			margin-bottom: 20px;
		}

		.date {
			display: block;
			font-size: 115%;
		}

		.btn {
			.medium-font;
			.button-variant(#fff; mix(@blue, #fff, 70%); mix(@blue, #fff, 70%));
			.border-radius(7px);
			position: absolute;
			top: 100%;
			left: 30px;
			right: 30px;
			font-size: 136%;
			margin: -28px 0 0;
			padding: 14px;
		}
	}
}

.year-nav {
	.list-inline;
	white-space: nowrap;
	text-align: right;
	float: right;
	margin-bottom: 50px;

	li {
		font-size: 128%;
		padding: 0 0 0 8px;
	}

	a {
		color: @text-color;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}

.news-item {

	.page-heading {
		margin-bottom: 20px;
	}

	.item-date {
		display: block;
		font-size: 115%;
		margin: 0 0 24px;
	}

	.tag-list {
		margin-top: 30px;
	}
}

.tag-list {
	.list-inline;
	position: relative;
	padding: 8px 0 0 70px;
	margin-bottom: 40px;

	li {
		padding: 0 8px 0 0;
	}

	a {
		color: @gray;
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}

	.label {
		position: absolute;
		top: 0px;
		left: 0px;
		color: #fff;
	}
}

.social-share {
	.list-inline;
	text-align: right;

	.label {
		font-size: 115%;
		color: @blue;
	}

	.btn {
		font-size: 130%;
	}

	.fa {
		position: relative;
	}

	.fa-google-plus {
		top: 2px;
		left: 1px;
	}

	.fa-twitter {
		top: 1px;
	}

	.fa-youtube {
		left: 1px;
	}
}

.other-news {

	h3 {
		font-size: 130%;
		color: @blue;
		margin: 0 0 12px;
	}

	ul {
		.list-unstyled;
	}

	li {
		margin: 0 0 10px;
	}

	a {
		color: @gray;
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}
}

// Press

.press-logos {

	.expand {
		display: block;
		font-size: 178%;
		color: @blue;
		margin: 0 0 30px;

		.btn {
			margin-left: 12px;
		}
	}

	.logos {
		height: 0px;
		overflow: hidden;

		.item {
			margin-bottom: @grid-gutter-width;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.visible-open {
		display: none;
	}

	&.open {

		.logos {
			height: auto;
		}

		.visible-closed {
			display: none;
		}

		.visible-open {
			display: inline-block;
		}
	}
}

// Articles (case studies, white papers etc)

.article {

	.page-heading {
		margin-bottom: 30px;
	}

	.author {
		display: block;
		color: @gray;
		font-size: 178%;
		margin: 0 0 34px;
	}

}

// Newsletters

.newsletters {
	padding: 40px 0;

	.row {
		margin: 0 -60px;
	}

	.item {
		margin-bottom: 60px;
		padding: 0 60px;
		text-align: left;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 0 auto 36px;
			// border: 4px solid #808080;
		}

		h3 {
			text-align: left;
			color: @blue;
			font-size: 143%;
			margin: 0 0 30px;
		}

		.editor {
			text-align: left;
			margin: 0 -20px 30px 0;

			li {
				margin-bottom: 12px;
			}
		}
	}

	.archive {
		float: right;
		margin-right: 50px;
	}
}

// Videos

.video-list {

	.row {
		margin: 0 -50px;
	}

	.item {
		margin-bottom: 50px;
		padding: 0 50px;

		.img {
			width: 100%;
			display: inline-block;
			position: relative;
			margin: 0 auto 16px;
			border: 2px solid #808080;
		}

		img {
			width: 100%;
			height: auto;
			display: block;
		}

		.label {
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 100%;
			display: block;
			color: #fff;
			padding: 8px 14px;
			background: #111;
			background: rgba(0,0,0,.7);
			font-size: 90%;

			b {
				.bold-font;
			}
		}

		.slide-arrow-outline {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -42px 0 0 -30px;
			opacity: .6;
		}

		p {
			.medium-font;
			font-size: 128%;
			text-align: left;
			margin: 0 0 16px;
		}

		b {
			.medium-font;
			font-size: 112%;
			line-height: 1.2;
			color: @blue;
		}
	}

}

.video-player {
	margin: 0 0 40px;

	iframe {
		border: none;
	}
}

// --------------------------------------------------
// Editor (WYSIWYG)

.wysiwygeditor {
	background: #fff !important;
	padding: 20px !important;
	font-size: 16px !important;
}

.editor,
.wysiwygeditor {
	font-size: 120%;
	line-height: 1.5;

	.grey {
		color: @text-color;
	}

	a.grey {
		color: @text-color;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	ul, ol {
		padding: 0 0 0 1.2em;
		margin: 0 0 26px;

		li {
			padding: 0 0 0 4px;
		}
	}

	.larger {
		font-size: 150%;
		margin: 0 0 40px;

		b {
			.medium-font;
			//color: @blue;
		}
	}

	.large {
		font-size: 119%;
		margin: 0 0 18px;

		b {
			.medium-font;
			color: @blue;
		}
	}

	p {
		margin: 0 0 18px;
	}

	&.pad-bot {
		margin-bottom: 60px;
	}

	h2 {
		.bold-font;
		font-size: 178%;
		color: @green;
		margin: 0 0 40px;
	}

	h3 {
		.medium-font;
		font-size: 143%;
		color: @blue;
		margin: 0 0 18px;
	}

	.turquoise {
		color: @turquoise;
	}

	iframe {
		border: none;
	}
}



// --------------------------------------------------
// Generic gallery

.gallery {
	padding: 30px 0 0;

	.gallery-title {
		.medium-font;
		font-size: 143%;
		color: @blue;
		margin: 0 0 15px;
		padding: 0 0 6px;
		border-bottom: 1px solid @gray-lighter;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	a {
		display: block;
		position: relative;
		margin-bottom: @grid-gutter-width;
	}

	.caption {
		display: block;
		background: rgba(0,0,0,.8);
		color: #fff;
		.normal-font;
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
		padding: 8px 8px 7px;
		font-size: 85%;
		line-height: 1.2;
		text-align: center;
	}
}

.gallery.videos {

	.sprite {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -42px 0 0 -30px;
		opacity: .8;
	}

	a:hover {

		.caption {
			background: #000;
		}

		.sprite {
			opacity: 1;
		}
	}
}

.tos-wrapper {
	
	* {
		//box-sizing: content-box;
	}

	&.tos-fixed {
		z-index: 10001;
	}
}

.htmlmodule {
	position: relative;
}

.modulelinks {
	position: absolute;
	z-index: 9999;
	top: 4px;
	left: 4px;
	white-space: nowrap;

	a {
		color: #0075b0;
		display: inline-block;
		background-color: rgba(238,238,238,.8);
		padding: 2px 5px;
		overflow: hidden;
		vertical-align: baseline;
		height: 18px;

		&:hover {
			text-decoration: none;
			background-color: #eee;
		}

		&.ui-icon {
			width: 18px;
		}
	}
}

.footer-navigation .modulelinks,
.moduletitle .modulelinks {
	top: -30px;	
}

.templatewrapper {
	margin-bottom: 35px
}

.pageditlinks {
	margin: 0 0 40px;

	a {
		font-size: 16px;
		display: inline-block;
		background: #eee;
		padding: 5px 8px 4px;
		margin: 0 2px 4px 0;
		color: @text-color;

		&:hover {
			background: #e4e4e4;
			text-decoration: none;
		}
	}
}

