//
// MOBILE (0px - 479px)
// ------------------------------------------------------------------------------------------------------

@media (max-width: @screen-xs) {
	
	// --------------------------------------------------
	// Page banner image

	.page-banner {

		> img {
			width: 140%;
			margin-left: -20%;
		}
	}

}