//
// MOBILE LANDSCAPE AND DOWN ( < 768px)
// ------------------------------------------------------------------------------------------------------

@media (max-width: @screen-xs-max) {

	body {
		font-size: 13px;
	}

	.text-left-xs {
		text-align: left !important;
	}

	.container {
		overflow: hidden;
		border: none;

		> .content-pad {
			background: #fff;
			padding: 36px;

			&.has-fixed-menu {
				padding: 36px;
			}

			.nopad {
				margin-left: -36px;
				margin-right: -36px;
			}
		}
	}

	.btn-circle-outline {
		width: 30px;
		height: 30px;
		.border-radius(15px);
		font-size: 14px;
		line-height: 14px;
		padding: 7px 0 8px;
	}

	.page-heading {
		margin: 0 0 40px 0;
	}

	// --------------------------------------------------
	// Forms

	.form {

		.two {
			margin-left: 0px;
			margin-right: 0px;

			> .form-group {
				float: none;
				padding-left: 0px;
				padding-right: 0px;
				width: auto;
			}
		}

		.submit-row {
			text-align: left;

			.btn-lg {
				width: 100%;
			}
		}
	}

	// --------------------------------------------------
	// Page sections

	.page-section {

		> .container {
			padding: 36px 36px 0px;
		}

		&.intro {
			text-align: left;
			padding-top: 0px;

			h1 {
				font-size: 190%;
				margin: 0 0 30px;
			}

			p {
				font-size: 130%;
			}
		}
	}

	// --------------------------------------------------
	// Header
	
	.site-header {

		.navbar-header {
			margin: 0;
		}

		.navbar-brand {
			height: 50px;
			padding: 10px 15px;
		}

		.fixed-header-placeholder {
			display: none;
		}

		.fixed-header {

			.logo,
			.fixed-right {
				display: none;
			}

			&.affix {
				position: static;

				> .container {
					border: none;
				}

			}

		}

		.nav {
			background: #4D5151;
			text-align: left;

			> li {
				.medium-font;
			}

			> li.expanded {

				.fa-caret-down {
					display: inline-block;
				}

				.fa-caret-right {
					display: none;
				}
			}

			> li > a {
				border-bottom: 1px solid darken(#4D5151, 5%);
				border-top: 1px solid lighten(#4D5151, 6%);
			}
			
			li {
				display: block;
				padding: 0;
				width: auto;
			}

			a > span {
				display: block;
				padding-left: 35px;
			}



			a:hover,
			li.active a:hover,
			li:hover a > span,
			li.active a > span {
				background: transparent;
				text-decoration: none;
			}

			li:hover {

				> .subnav,
				> ul.dynamic {
					height: 0px;
				}
			}

			li.expanded:hover,
			li.expanded {

				> .subnav,
				> ul.dynamic {
					height: auto;
				}
			}

			.fa-caret-down,
			.has-submenu .fa-caret-down {
				display: none;
			}

			.fa-caret-right {
				display: inline-block;
			}

			.fa-caret-down,
			.fa-caret-right {
				font-size: 120%;
				position: absolute;
				top: 11px;
				left: 12px;
			}

			.item-color(@color) {
				
				.fa-caret-down,
				.fa-caret-right {
					color: @color;
				}

				&.expanded > a {
					border-right: 3px solid @color;
				}
			}

			.green { .item-color(@green); }
			.turquoise { .item-color(@turquoise); }
			.blue { .item-color(@blue); }
			.purple { .item-color(@purple); }
			.red { .item-color(@red); }
			.orange { .item-color(@orange); }
		}

		.subnav,
		.nav li ul.dynamic {
			position: static;
			background: #3C3D3D;
			height: 0px;

			.col {
				display: block;
				width: auto;
				padding: 0;
				opacity: 1;
			}

			.col:before {
				display: none;
			}

			a {
				padding: 9px 35px 8px;
				border-bottom: 1px solid darken(#3C3D3D, 3%);
				border-top: 1px solid lighten(#3C3D3D, 4%);
			}

			a:hover {
				background: transparent;
			}
		}

	}

	// --------------------------------------------------
	// Footer

	.footer-navigation {
		padding: 24px 20px;

		h3 {
			font-size: 140%;
			margin: 0 0 10px;
		}

		.telephone-list {
			margin: 0;
		}
	}

	.footer-social {
		padding: 36px 0 28px;

		.buttons {

			h3 {
				font-size: 150%;
			}
		}

		.social-btn {
			width: 32px;
			height: 32px;
			line-height: 34px;
			.border-radius(16px);
			margin: 0 14px;
			font-size: 18px;

			&.google-plus { background: #4b4b4b; line-height: 38px; }
		}
	}

	.footer-bottom {
		text-align: center;

		ul {

			> li {
				display: block;
			}
		}
	}

	// --------------------------------------------------
	// Homepage banner slides

	.banner-slideshow {

		.banner-slide {

			.slide-content {
				position: static;
			}
		}

		.overlays {
			position: static;
		}

		.overlay-box {
			position: relative;
			top: 0px;
			left: 0px;
			right: 0px;
			padding: 14px (@grid-gutter-width / 2) 34px;
			.border-radius(0px);
			width: auto;
			font-size: 100%;

			p {
				display: none;
			}

			.more {
				.extrabold-font;
				position: absolute;
				bottom: 10px;
				right: 15px;
			}
		}

		.controls {
			display: block;
			position: absolute;
			top: auto;
			right: auto;
			bottom: 65px;
			left: 0px;
			width: 100%;
			margin: 0;
		}
	}

	// --------------------------------------------------
	// Homepage sections

	.home-section {

		> .container {
			padding: 30px 30px 40px;
		}

		.section-heading {
			font-size: 190%;
			margin: 0 0 30px;

			&:after {
				margin-top: 8px;
			}
		}

		.intro {
			font-size: 120%;
			line-height: 1.5;
			margin-bottom: 20px;
		}
	}

	.home-section.has-bg {

		.header {
			height: 185px;
			text-align: center;
			margin: 0 0 30px;
			padding: 60px 0 0 0;
			overflow: hidden;

			&,
			.intro,
			.section-heading,
			p {
				color: #fff;
			}

			.section-heading:after {
				display: none;
			}
		}

		&,
		p {
			color: @text-color;
		}

		.intro,
		.section-heading {
			text-shadow: none;
		}

		.section-heading:after {
			background: #fff;
		}
	}

	.home-section.solution {
		padding-top: 35px;

		> .container {
			padding-top: 20px;
		}

		.icon-features {
			margin-bottom: 0px;

			p {
				max-width: 320px;
			}

			p:before {
				display: none;
			}

			.item {
				display: inline-block;
				position: relative;
				margin: 0 auto 30px;
				padding: 2px 30px 0 82px;
				text-align: left;
			}

			img {
				width: 36px;
				margin: 0;
				position: absolute;
				top: 0px;
				left: 30px;
			}

			h3 {
				font-size: 140%;
			}
		}
	}

	.home-section.markets {
		text-align: left;

		.bg-image {
			height: 215px;
		}

		.pad {
			padding: 0;
		}

		.header {
			padding-right: 55%;
			margin-bottom: 0px;
			height: 165px;
		}

		.grid-list {
			text-align: center;
			margin: 0 -7px;
			max-width: 400px;
			margin: 0 auto;
			line-height: 0;

			.item {
				vertical-align: bottom;
				margin: 0 7px 14px;
				padding: 0px 10px;
				width: 100px;
				height: 80px;
				overflow: hidden;
				line-height: 1.2;
			}
		}
	}

	.home-section.research {
		padding: 64px 30px 0;

		> .container {
			overflow: visible;
			padding: 0;
		}

		.section-heading {
			margin: 0 0 40px;
		}

		.header {
			overflow: visible;
			margin: 0;
			padding: 20px 0 0;
			height: auto;
		}

		.intro {
			width: auto;
			min-width: 0px;
			margin-bottom: 8px;
			padding: 0;
			font-size: 110%;
		}

		.box {
			background: rgba(0,0,0,.4);
			margin: 0 -30px;
			padding: 16px 30px;
		}

		.more {
			font-size: 120%;
		}
	}

	.home-section.about {

		.grey {
			font-size: 110%;
			text-align: left;
		}

		.intro {
			width: 95%;
			font-size: 140%;
			margin-bottom: 30px;
		}

		> .pad {
			padding: 0;
		}

		.icon-features-horizontal {
			text-align: center;
			padding: 0;
			
			img {
				max-width: 45px;
				position: static;
				margin: 0 auto 16px;
			}

			.heading {
				font-size: 130%;
				margin: 0 0 2px;
			}

			p {
				font-size: 110%;
				text-decoration: underline;
			}

			.item:hover p {
				text-decoration: none;
			}
		}
	}

	// --------------------------------------------------
	// Blog

	.blog-posts {

		.item {
			max-width: none;
			margin-bottom: 40px;

			img {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	// --------------------------------------------------
	// Client services

	.services {

		h2 {
			padding-left: 65px;
		}

		.row {
			position: static;
			padding-left: 0px;
		}

		.icon {
			top: 30px;
			left: 32px;
			max-width: 52px;
		}

		.item {
			margin-bottom: 40px;
		}
	}

	// --------------------------------------------------
	// Contact map

	.contact-map {
		margin: 0 -30px;
	}

	.offices {

		.office {
			margin-bottom: 30px;
		}
		
		p,
		.tel {
			font-size: 100%;
		}

		p {
			margin: 0;
		}
	}

	// --------------------------------------------------
	// Team members

	.team-list {

		.member {
			margin-bottom: 30px;

			.pull-right {
				float: none !important;

				.img {
					float: none;
				}
			}

			h3 {
				font-size: 130%;
				margin: 0 0 10px;
			}
		}

		.img {
			margin: 0 auto 30px;
			width: 120px;
			height: 120px;
		}

		.editor {
			margin: 0 0 10px;
		}
	}

	// --------------------------------------------------
	// Testimonials

	.testimonial-list {

		.testimonial {

			.pull-right {
				float: none !important;
			}
		}

		.img {
			margin: 0 auto 30px;
			width: 120px;
			height: 120px;
		}
	}

	// --------------------------------------------------
	// Timeline

	.company-timeline {

		.text-version {

			ul {
				height: auto !important;
			}
		}
	}

	// --------------------------------------------------
	// Story

	.principles {

		.label {
			float: none;
		}
	}

	// --------------------------------------------------
	// Case Studies

	.case-study-list {

		.item {

			.text-right {
				text-align: left;
			}
		}
	}

	// --------------------------------------------------
	// Event details

	.event-details {

		.date {
			margin: -16px 0 36px;
		}

		h2 {
			margin-bottom: 20px;
		}

		h4 {
			margin-bottom: 16px;
		}

		.item {
			margin-bottom: 30px;
		}

	}

	// --------------------------------------------------
	// Video Carousel

	.video-carousel {
		position: relative;
		margin: 0 0 40px;

		.slider {
			padding-left: 20px;
			padding-right: 20px;
		}

		.next {
			right: -20px;
		}

		.prev {
			left: -20px;
		}

		.slide {

			.img {
				margin: 0 auto;
			}

			img {
				height: 100%;
			}
		}

		.info {
			.item {
				width: 100%;
				left: 0px;
			}
		}
	}

	// --------------------------------------------------
	// News

	.news-items {

		.heading {
			margin-bottom: 50px;
		}
		
		.item {
			max-width: none;
			margin-bottom: 60px;
			padding: 18px 20px 50px;

			.btn {
				left: 20px;
				right: 20px;
				padding: 10px;
				.medium-font;
			}
		}

		.pull-right {
			float: none !important;
		}
	}

	.year-nav {
		float: none;
		margin-bottom: 30px;
		text-align: center;
	}

	.social-share {
		text-align: left;

		.label {
			display: block;
			margin-bottom: 10px;
		}
	}

	// Articles (case studies, white papers etc)

	.article {

		.page-heading {
			margin-bottom: 15px;
		}

		.author {
			margin: 0 0 18px;
		}

	}

	// Newsletters

	.newsletters {

		.item {
			text-align: left;

			img {
				max-width: 150px;
				margin-bottom: 28px;
			}
		}
	}

	// Videos

	.video-list {

		.row {
			margin: 0 -30px;
		}

		.item {
			padding: 0 30px;

			.img {
				max-width: 280px;
			}

			.btn {
				float: none;
			}
		}

	}
}

//
// MOBILE LANDSCAPE ONLY (480px - 767px)
// ------------------------------------------------------------------------------------------------------

@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
	
	

}