//
// TABLET AND DOWN ( < 992px)
// ------------------------------------------------------------------------------------------------------

@media (max-width: @screen-sm-max) {

	body {
		font-size: 13px;
	}

	.container {

		> .content-pad {
			padding: 40px 60px;

			&.has-fixed-menu {
				padding: 40px 60px;
			}

			.nopad {
				margin-left: -60px;
				margin-right: -60px;
			}
		}
	}

	.page-heading {
		margin: 0 0 40px 0;
	}

	.site-header {

		.affix {

			.fixed-header.nav {
				text-align: right;
			}
		}

		.nav {
			a > span {
				padding-left: 14px;
				padding-right: 14px;
			}
		}

		.nav-outer {

			> .container {
				position: static;
			}
		}
	}

	// --------------------------------------------------
	// Page sections

	.page-section {

		> .container {
			padding: 50px 50px 0px;
		}

		&.intro {
			padding-top: 0px;
		}
	}


	// --------------------------------------------------
	// Footer

	.footer-navigation {
		font-size: 90%;

		.telephone-list {
			margin-bottom: 10px;

			b {
				width: 92px;
			}
		}
	}

	.footer-social {

		.buttons {

			h3 {
				font-size: 150%;
			}
		}

		.social-btn {
			width: 46px;
			height: 46px;
			line-height: 50px;
			.border-radius(23px);
			margin: 0 22px;
			font-size: 26px;

			&.google-plus { background: #4b4b4b; line-height: 54px; }
		}
	}

	// --------------------------------------------------
	// Homepage sections

	.home-section {
		font-size: 90%;

		> .container {
			padding: 80px 70px;
		}
	}

	.home-section.solution {

		> .container {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.home-section.markets {
		
		> .container {
			padding-top: 60px;
			padding-bottom: 60px;
		}

		.section-heading {
			margin-bottom: 30px;
		}
	}

	.home-section.research {

		> .container {
			padding-left: 70px;
			padding-right: 70px;
		}

		.box-slides {

			.box {
				height: 210px;
			}
		}

		footer {
			height: 30px;
		}
	}

	.home-section.about {

		.pad {
			padding: 0 40px 60px;
		}

		.icon-features-horizontal {
			padding: 0 0 0 4%;

			p {
				font-size: 120%;
			}
		}
	}

	.home-section.citizenship {

		.text {
			font-size: 90%;
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.back-to-top {
			right: 40px;
		}
	}

	.fixed-page-nav {
		display: none;
		font-size: 100%;
	}

	// --------------------------------------------------
	// Box slides

	.box-slides {

		.heading {
			font-size: 125%;
		}

		.box {
			padding: 30px 20px 0;
		}
	}

	// --------------------------------------------------
	// Contact map

	.offices {
		padding-left: 0px;
		margin: 0 -(@grid-gutter-width / 2);
	}

	// --------------------------------------------------
	// Testimonials

	.testimonial-list {

		.testimonial {

			.img {
				width: 125px;
				height: 125px;
			}
		}
	}

	// --------------------------------------------------
	// Team members

	.team-list {

		.img {
			width: 125px;
			height: 125px;
		}
	}

	// --------------------------------------------------
	// Events

	.events-list {

		.actions {
			text-align: left;

			.btn {
				width: auto;
				margin: 0 10px 0 0;
			}
		}
	}

	// --------------------------------------------------
	// Block quote with image

	blockquote.img {
		padding: 0;

		p {
			font-style: italic;
		}

		.img {
			position: static;
			margin: 0 auto 20px;
		}

		.person {
			display: block;
			font-size: 87%;
		}
	}

	// Newsletters

	.newsletters {

		.row {
			margin: 0 -30px;
		}

		.item {
			padding: 0 30px;
			text-align: center;
		}
	}
}

//
// TABLET ONLY (768px - 991px)
// ------------------------------------------------------------------------------------------------------

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	
	.fixed-page-nav {
		margin-left: -375px;
	}

	.site-header .navbar-collapse {

		.logo {
			left: 30px;
			//margin-left: -345px;
		}

		.fixed-right {
			right: 30px;
			//margin-right: -345px;
		}
	}

	// Homepage banner slides

	.banner-slideshow {

		.controls {
			right: 30px;
			margin-right: 0px;
		}
	}

	// Explore (home)

	.home-section.explore {

		.canvas {
			height: 385px;
		}
	}

	// --------------------------------------------------
	// Team members

	.team-list {

		.img {;
			width: 120px;
			height: 120px;
		}
	}

}