//
// DESKTOP AND DOWN ( < 1235px)
// ------------------------------------------------------------------------------------------------------

@media (max-width: @screen-md-max) {

	body {
		font-size: 13px;
	}

	.site-header {

		.nav {
			
			li {
				width: auto;
			}

			a > span {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}

	.box-slides {

		.next {
			right: -40px;
		}

		.prev {
			left: -40px;
		}
	}

	// --------------------------------------------------
	// Block quote with image

	blockquote.img {
		padding: 0 0 0 120px;

		.img {
			width: 100px;
			height: 100px;
		}
	}

	// --------------------------------------------------
	// Timeline

	.company-timeline {

		.graphic {

			.label {

				.box {
					font-size: 100%;
					padding: 15px;
				}
			}
		}
	}

	// --------------------------------------------------
	// Events

	.events-list {

		.actions {

			.btn {
				white-space: normal;
			}
		}
	}

}

//
// DESKTOP ONLY (992px - 1234px)
// ------------------------------------------------------------------------------------------------------

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	
	.fixed-page-nav {
		margin-left: -485px;
	}

	.site-header .navbar-collapse {

		.logo {
			margin-left: -455px;
		}

		.fixed-right {
			margin-right: -455px;
		}
	}

	.footer-navigation {
		font-size: 90%;
	}

	// Citizenship (home)

	.home-section.citizenship {
		font-size: 85%;

		.text {
			padding-top: 50px;
			width: 455px;
		}

		.section-heading {
			margin-bottom: 40px;
		}
	}

	// Homepage banner slides

	.banner-slideshow {

		.controls {
			margin-right: -455px;
		}
	}

	// Explore (home)

	.home-section.explore {

		.canvas {
			height: 423px;
		}
	}

	// --------------------------------------------------
	// Box slides

	.box-slides {

		.heading {
			font-size: 125%;
		}

		.box {
			padding: 30px 20px 0;
		}
	}

	// --------------------------------------------------
	// Team members

	.team-list {

		.img {;
			width: 160px;
			height: 160px;
		}
	}

	// --------------------------------------------------
	// Testimonials

	.testimonial-list {

		.img {;
			width: 160px;
			height: 160px;
		}
	}

}