//
// LARGE (1235px > )
// ------------------------------------------------------------------------------------------------------

@media (min-width: @screen-lg-min) {
	
	.fixed-page-nav {
		margin-left: -607px;
	}

	.site-header .navbar-collapse {

		.logo {
			margin-left: -577px;
		}

		.fixed-right {
			margin-right: -577px;
		}
	}

	.container {

		> .content-pad {
			padding: 64px 130px;

			.nopad {
				margin-left: -130px;
				margin-right: -130px;
			}
		}
	}

	// Homepage banner slides

	.banner-slideshow {

		.controls {
			margin-right: -577px;
		}
	}

	// Explore (home)

	.home-section.explore {

		.canvas {
			height: 578px;
		}
	}

	// Citizenship (home)

	.home-section.citizenship {
		
		.text {
			width: 577px;
		}
	}


	// Videos

	.video-list {

		.row {
			margin: 0 -100px;
		}

		.item {
			padding: 0 100px;
		}

	}
}