﻿

/* Some Edit Mode CSS */
body.NonCmsBasePage div#wrapwebsite
{
  background-color: White;
}
body.NonCmsBasePage div#wrapwebsite div#wrapcontent
{
  height: auto !important;
}


#mcNav
{
  z-index:25;
  position: absolute;
  top: 400px;
  right: 0;
  left: 0;
  text-align: center;
}


#mcNav .op
{
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  -khtml-opacity: 0.70;
  opacity: 0.70;
}

#mcNav .mcNavCont
{
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#mcNav .prev
{
  float: left;
  display: block;
  overflow: hidden;
  padding-top: 24px;
  width: 24px;
  height: 0;
  cursor: pointer;
  background: url("images/grey_arrows.png") no-repeat scroll 0px 0px transparent;
}

#mcNav .prev:hover
{
  background-position: 0px -24px;
}

#mcNav .next
{
  float: left;
  display: block;
  overflow: hidden;
  padding-top: 24px;
  width: 24px;
  height: 0;
  cursor: pointer;
  background: url("images/grey_arrows.png") no-repeat scroll 0px -48px transparent;
}

#mcNav .next:hover
{
  background-position: 0px -72px;
}

#mcNav .item
{
  float: left;
  display: block;
  overflow: hidden;
  padding-top: 24px;
  width: 24px;
  height: 0;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  background: url("images/grey_circle.png") no-repeat scroll 0px 0px transparent;
}

#mcNav .item:hover, 
#mcNav .selected
{
  background-position: 0px -24px;
}

.settingsPanels 
{
  background-color: White;
  padding:8px;
 }

.settingContainer
{
}
.settingContainer .settingRow
{
  padding: 5px;
}
.settingContainer .settingRow .lbl
{
  padding-bottom: 4px;
  font-weight: bold;
}
      
.padFive
{
  padding: 5px;
}


