body {  }
.productlist h3 { color:#3399CC; }
.productcontainer { border-bottom: solid thin #3399CC; padding:7px; float:left; clear:both; width:100%; }
.productcontainer h4 { margin-top: 0px; margin-bottom: 3px;  font-size: 1.3em; color:#3399CC; }
.productcontainer p { margin: 0px;  }
.offercontainer { clear:both; }