﻿
.htmlmodule { font-family:Arial,Sans-Serif; font-size: 1em;  color: #666466; }
.htmlmodule p { font-family:Arial,Sans-Serif; font-size: 1em; line-height:19px; color: #666466; }
.htmlmodule ul { margin:0; padding-left: 15px; }
.htmlmodule ul li {  font-family:Arial,Sans-Serif;margin: 4px 0;  color: #666466;}

.htmlmodule .ui-widget { font-family: Arial,Lucida Grande,Lucida Sans,sans-serif;}

.widecenterskin .htmlmodule .modulecontent { font-family:Arial,Sans-Serif; padding-right:10px;} 

.subheader { font-weight: bold; font-size: 14px; color: #7AB800; margin:3px 0; }

.callOutText { color:#666466;
font-size:20px;
font-style:normal;
font-weight:normal;
line-height:26px;
margin:20px 0; }

.quoteText { font-weight: bold; font-size: 14px; color: #003C69; }

.quoteSource {  font-size: 10px; color: #666466; }

.quoteTextGreen { font-weight: bold; font-size: 14px; color: #7AB800; }
.quoteTextBigBlue { font-weight: bold; font-size: 14px; color: #003C69; }
.quoteTextBigGreen { font-weight: bold; font-size: 14px; color: #7AB800; }


.greenlink, .green, .greenbold, .greenboldbig { color:#7AB800 !important;}
.bluelink, .blue, .bluebold , .blueboldbig{ color:#003C69 !important;}



a.greenlink:link, a.green:link, a.greenbold:link, a.greenboldbig:link {text-decoration: none;}
a.greenlink:visited, a.green:visited, a.greenbold:visited, a.greenboldbig:visited {text-decoration: none;}
a.greenlink:hover, a.green:hover, a.greenbold:hover, a.greenboldbig:hover {text-decoration: underline;}
a.greenlink:active, a.green:active, a.greenbold:active, a.greenboldbig:active {text-decoration: none;}
 

.greenbold {  font-weight:bold; }
.bluebold {  font-weight:bold; }

.blueboldbig{  font-weight:bold;  font-size: 1.1em; }
.greenboldbig {  font-weight:bold;  font-size: 1.1em; }


.highlight1 { background-color:#FF0; }
.highlight2 { background-color:lime; }

.floatrightimage { float:right; margin-right:15px; }
.floatleftimage { float:left; width:100%; margin-left:15px; }

.floatpanel { float:left;  width:100%; margin: 10px 0; }
.floatpanel .section {float:left; margin-right:0px; }

.AllLinksBlue p a {color:#003C69 !important;}

.ImageBanner {margin-bottom:10px;}
.ImageBanner p {margin:0;}


.Glossary {}
.Glossary h3 {font-weight:700; text-decoration:underline; font-size:101%; margin:6px 0; }
.Glossary p { margin:8px 0 12px 0; }