.blogRoll  {   }
.blogRoll  .blogitem {  margin-bottom:10px; border-bottom:1px dotted #4F7997; }
.blogRoll  .blogitem .postlistcontent{ margin-bottom:3px;  padding-right:10px; }
.blogRoll  .blogitem .blogtext { margin-bottom:5px;   }
.blogRoll  .blogitem .blogtext p { margin:6px 0; }

.blogArchiveRoll {}
.blogArchiveRoll .blogtitle {}
.blogArchiveRoll .blogdate 
{
	font-size:smaller;
	padding:3px 5px 3px 0;
	text-align:left;
}
.blogArchiveRoll .blogpager{margin-top:10px;}


h1.blogtitle  {
	border-bottom:1px dotted #4F7997;
	font-size:16px;
	font-weight:400;
	min-height:24px;
	margin:0;
	padding:0 0 3px;
	vertical-align:text-bottom;
	position:relative;
}

h2.blogtitle  
{
	border-bottom:1px dotted #4F7997;
	
	font-size:16px;
	font-weight:400;
	height:22px;
	margin:0;
	padding:3px 0 8px;
	vertical-align:middle;
	position:relative; 
}
h2.blogtitle a {color:#003C69;}
h2.blogtitle a:link,
h2.blogtitle a:visited,
h2.blogtitle a:active { text-decoration:none; }
h2.blogtitle a:hover {	text-decoration:underline;}



h3.blogtitle 	
{
	color:#003C69;
	font-size:106%;
	font-weight:bold;
	margin:5px 0 0;
	position:relative;
}

h3.blogtitle 	a
{
	text-decoration:none;
	color:#003C69;
}

h3.blogtitle a:link,
h3.blogtitle a:visited,
h3.blogtitle a:active { text-decoration:none; }
h3.blogtitle a:hover {	text-decoration:underline;}

.blogtitle a.ModuleEditLink { position:absolute; right:0; }

.blogitem .blogdate { padding: 3px 5px 3px 0px; text-align:left; font-size:smaller;  }


h3.blogtitle a.ModuleEditLink,
h3.blogtitle a.ModuleEditLink:link,
h3.blogtitle a.ModuleEditLink:visited,
h3.blogtitle a.ModuleEditLink:hover,
h3.blogtitle a.ModuleEditLink:active 
{
	 color:#39C; 
	 font-size:10px; 
	 float:right; 
}
 
 
div.blogtext
{
	line-height:20px;
}
 
.blog_Feeds ul,
.blog_Statistics ul,
.blog_Categories ul,
.blog_Archives ul 
{
  margin:3px 0;
  padding:0; 
}

.blog_Feeds ul li,
.blog_Statistics ul li,
.blog_Categories ul li,
.blog_Archives ul li
{
  margin:3px 0;
  padding:0; 
}

div.blogview div.blogdate { margin:3px 0; }
div.blogview div.blogtext { min-height: 300px; padding-right:10px; } 

div.blogpager {margin-top:5px; padding: 5px 0 5px 0;  height:20px; border-top:1px dotted #4F7997; }


div.blogpager a { padding: 2px; text-decoration:none; }
div.blogpager a:link { }
div.blogpager a:visited {}
div.blogpager a:hover { text-decoration:underline; }
div.blogpager a:active {}
 
div.blogpager a.prevPost { float:left; }
div.blogpager a.nextPost { float:right; }


div.blogRoll {}
div.blogRoll ul.archiveList { padding:0; list-style-type:none;  margin-left:0px;}
div.blogRoll ul.archiveList li.item { margin-left:0px; }
div.blogRoll ul.archiveList li.item h3.blogtitle {margin-top:10px; }
div.blogRoll ul.archiveList li.item h3.blogtitle a.title {}
div.blogRoll ul.archiveList li.item h3.blogtitle a.date { float:right; font-size:88%; font-weight:400;  color:#666666}

div.blogRoll ul.archiveList li.item div.bdate {text-align:left;  padding: 3px 5px 3px 0px; text-align:left; font-size:10px;}
div.blogRoll ul.archiveList li.item div.bdate a {text-decoration:none; }



div.blogtext .callOutText {
	color:#666466;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	line-height:16px;
	margin:20px 0 12px 0;
}