
div.AspNet-TreeView { font-size: 12px; }
 
div.AspNet-TreeView ul { list-style: none; margin: 0px 0px 0px 0px; padding: 0; }
.AspNet-TreeView-Show { }
.AspNet-TreeView-Hide { display:none;}
div.AspNet-TreeView ul li { padding: 3px 0 0px 0; }
div.AspNet-TreeView ul ul { margin: 10px 0 0px 0px;}
div.AspNet-TreeView ul li img { border: none; vertical-align: middle; margin: 0 2px 0 0; }
div.AspNet-TreeView li a { text-decoration: none;}

div.AspNet-TreeView li.AspNet-TreeView-Root {}
div.AspNet-TreeView li.AspNet-TreeView-Parent {}
div.AspNet-TreeView li.AspNet-TreeView-Leaf {}

div.AspNet-TreeView .AspNet-TreeView-ClickableNonlink { cursor: pointer;}

  
div.AspNet-TreeView .AspNet-TreeView-Collapse, 
div.AspNet-TreeView .AspNet-TreeView-Expand 
{visibility:collapse; display:none !important;}
  



li.AspNet-TreeView-Leaf,
li.AspNet-TreeView-Root ,
li.AspNet-TreeView-Selected ,
li.AspNet-TreeView-Parent
{ 
    display: block;
    list-style:none;
    text-decoration:none;	
    padding: 2px 5px 2px 10px;
    color: #003c69;	
    min-height: 18px;
}
li.AspNet-TreeView-Hover {	}
li.AspNet-TreeView-Hover a {  color:#7AB800 !important; text-decoration:underline;		}

 
li.AspNet-TreeView-Root 
{ margin: 0; }

li.AspNet-TreeView-ParentSelected ,
li.AspNet-TreeView-Selected ul li.AspNet-TreeView-ParentSelected
{ margin: 0;  }

li.AspNet-TreeView-Leaf img,
li.AspNet-TreeView-Root img {display:none;}

div.AspNet-TreeView ul li.AspNet-TreeView-ChildSelected ul li.AspNet-TreeView-Selected,
div.AspNet-TreeView ul li.AspNet-TreeView-ChildSelected ul li.AspNet-TreeView-Parent,
div.AspNet-TreeView ul li.AspNet-TreeView-ChildSelected ul li.AspNet-TreeView-Leaf,
li.AspNet-TreeView-ParentSelected 
{
  margin: 0; 
}
 

.AspNet-TreeView-Leaf.AspNet-TreeView-Selected a,
.AspNet-TreeView-Root.AspNet-TreeView-Selected a,
.AspNet-TreeView-Root.AspNet-TreeView-ChildSelected > a
{
 color:#7ab800 !important;
}

.AspNet-TreeView-Leaf.AspNet-TreeView-ParentSelected a
{ 
    color: #003c69 !important;
}
 
.AspNet-TreeView > ul li .AspNet-TreeView-Leaf.AspNet-TreeView-Selected
{ 
    background-image:  url(/Quantifi/Images/menu_sub_selected.png);
    background-position:left 2px;
    background-attachment:scroll; 
    background-repeat:no-repeat;
}
 

li.AspNet-TreeView-Leaf a,
li.AspNet-TreeView-Root a ,
li.AspNet-TreeView-Parent a
{padding: 0px 0px 0px 0px; color: #003c69;}


li.AspNet-TreeView-Root ul li.AspNet-TreeView-Leaf { padding: 0px 0px 0px 20px; font-size:10px; font-weight:400;}
.AspNet-TreeView ul li.AspNet-TreeView-Root {font-weight:bold;}



/*

.AccordianLeftNavControl {font-size:100%;}
.AccordianLeftNavControl h3 {position:relative;}
.AccordianLeftNavControl h3 span.toggle { position:absolute;  width:16px; height:16px; margin-top:0.5em; overflow:hidden; background-image:url("/Quantifi/Images/css/qlighttheme/ui-icons_003c69_256x240.png"); background-position:-32px -16px;}
.AccordianLeftNavControl h3 span.current  {background-image:url("/Quantifi/Images/css/qlighttheme/ui-icons_7ab800_256x240.png"); background-position:-64px -16px; }
.AccordianLeftNavControl h3 a {display:block;
font-size:1em; color:#003C69;
padding:0.5em 0.5em 0.5em 1.5em;}
.AccordianLeftNavControl .subNav {padding:2px;}

.AccordianLeftNavControl h3.current a {color:#7AB800;}




*/
 
.AccordianLeftNavControl a.Menu-Hover 
{ 
	color:#7AB800 !important; text-decoration:underline;
}


.AccordianLeftNavControl .acclink {z-index:20;}