﻿


body.pagebody { background-color: #BDBDBD; /*background-color: #BDBDBD;*/ }

div.altcontent1 {margin:0 36px; }



div.mainContentControl {  padding:30px 0px 0px 0px; height:400px; width:100%; position:relative;}

div.mainContentControl .mainContent{ margin:0; padding:0;}
div.mainContentControl .mainContentLink 
{
  /*padding-top: 274px;*/
  padding-top:400px;
  width: 100%;
  cursor: pointer;
  display: block;
  height: 0px;
  overflow: hidden;
  position:relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-image: url(/Data/logos/blank.gif);
}
	
div.mainContentControl .mainContentAdmin 
{	
	position:absolute; 
  border:1px solid;
  background-color:White;
  padding:3px;
  top:3px;
  right:3px;
}
	
#mainLink
{
  margin-top:30px;
  padding-top: 274px;
  width: 883px;
  cursor: pointer;
  display: block;
  height: 0px;
  overflow: hidden;
  
  background-repeat: no-repeat;
  background-attachment: scroll;
  /*background-position: 0 47px;*/
  background-position: 0 0;
  background-image: url(/Data/logos/blank.gif);
}

div#wrapwebsite { height: auto !important; margin: 0 auto; height: 100%; position: relative; min-width:955px; max-width: 1280px; }
 

#wrapwebsite
{
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  /*background-image: url(/Quantifi/Images/homepage_bg_wide.jpg);*/
}

#content div.wrapcenter {
  margin:24px 36px 10px 36px;
}

div#wrapfooter {background-color:#BDBDBD;}


div#wrapwebsite div#wrapcontent 
{
	min-height:335px;
  /*height:735px;*/
  width:955px;
  margin:0 auto;
}

div#wrapwebsite div#wrapfooter {
    background-color: #BDBDBD;
    background-image: url("images/footer_imageBar_9_1280.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    display: block;
    font-size: 10px;
    height: 3em;
    padding-top: 15px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 5;
}

#content .hpTopCenter
{
  margin:0 36px;
}

.leftside
{
  width: 283px;
  margin: 0px 17px 0px 0px;
}
.center-rightandleftmargins
{
  width: 283px;
  margin: 0px 16px 0px 0px;
}
.rightside
{
  width: 283px;
  margin: 0px 0px 0px 0px;
}
.modulecontent
{
  padding: 0;
}


h2.moduletitle
{
  text-decoration: none;
  font-weight: 700;
  color: #79B800;
  display: block;
  font-size: 14px;
  height: 22px;
  margin: 0;
  padding: 8px 0 0 20px;
}

a.ModuleEditLink
{
  color: Black !important;
}

.hpModule,
.hpLatest,
.hpNews
{
  width: 283px;
  height: 173px;
  position: relative;
}

.hpLatest .mask,
.hpModule .mask,
.hpNews .mask
{
  width: 283px;
  height: 173px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #003c69;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}

.hpModule .content h2, 
.hpLatest .content h2 
{  
	height: 22px;
  margin: 0;
  padding: 8px 0 0 20px;
  color: #79B800;
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
 }

.hpModule .content,
.hpLatest .content,
.hpNews .content
{
  display: block;
  height: 173px;
  position: relative;
  width: 283px;
  z-index: 25;
}

.hpNews .content h2.linksheader 
{
	border-bottom:1px dotted white;
	height:22px;
	margin:0;
	padding:8px 0 0 20px;
}

.hpNews .content h2.linksheader a 
{
	color:#79B800;
	display:block;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
}


.hpNews .content div.imagelinks { }
.hpNews .content div.imagelinks ul.linkitems { padding:0; }

.hpNews .content div.imagelinks ul.linkitems li.linkitem, 
.hpNews .content div.imagelinks ul.linkitems li.linkaltitem
{
  margin: 0;
  list-style-type: none;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.hpNews .content div.imagelinks ul.linkitems li.linkitem .title a, 
.hpNews .content div.imagelinks ul.linkitems li.linkaltitem .title a
{
  font-size: 12px;
  color: #96bad4;
}

.hpNews .content div.imagelinks ul.linkitems li.linkitem .date, 
.hpNews .content div.imagelinks ul.linkitems li.linkaltitem .date
{
  font-size: 10px;
  color: White;
}

.hpNews .content div.imagelinks ul.linkitems li.linkitem .desc, 
.hpNews .content div.imagelinks ul.linkitems li.linkaltitem .desc
{
  font-size: 11px;
  color: White;
  line-height: 13px;
}

.hpNews .content div.imagelinks ul.linkitems li.linkitem .desc p, 
.hpNews .content div.imagelinks ul.linkitems li.linkaltitem .desc p
{ font-size: 11px;
  line-height: 13px;
}

.hpNews .content div.imagelinks ul.linkitems li.linkitem .desc a, 
.hpNews .content div.imagelinks ul.linkitems li.linkaltitem .desc a
{
  /*font-size: 8px;*/
  color: #96bad4;
  /*line-height: 12px;*/
  text-decoration: underline;
}

.hpNews .content div.imagelinks ul.linkitems li.linkitem .desc a img, 
.hpNews .content div.imagelinks ul.linkitems li.linkaltitem .desc a img
{vertical-align:text-top;}
 
.hpLatest .content .info
{  
  margin: 0;
  border-top: 1px dotted white;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.hpLatest .content .info h3
{
  font-size: 12px;
  color: #96bad4;
}
.hpLatest .content .info a
{
  font-size: 10px;
  color: #96bad4;
}
.hpLatest .content .info p
{
  font-size: 10px;
  color: White;
}

.hpLatest .content .info ul   {
  margin:10px 0px 10px 0px;
  padding-left:15px;
}

.hpLatest .content .info ul li {
  font-size: 10px;
  color: White;
}


 
.marketsfragment h2
{
  margin: 0;
  padding: 8px 0px 0px 20px;
  height: 22px;
  border-bottom:1px dotted white;
}

.marketsfragment h2 a,
.marketsfragment h2 a:link,
.marketsfragment h2 a:visited,
.marketsfragment h2 a:active,
.marketsfragment h2 a:hover
{
  font-weight: 700;
  font-size: 14px;
  color: #79b800;
  display: block;
  text-decoration: none;
}
 
.marketsfragment ul
{
  margin: 0;
  padding: 0;
  color: White;
}
.marketsfragment ul li
{
  padding-top: 7px;
  list-style-type: none;
  /*border-top: 1px dotted white;*/
  height: 40px;
}

.marketsfragment ul li a,
.marketsfragment ul li  a:link,
.marketsfragment ul li  a:visited,
.marketsfragment ul li  a:active,
.marketsfragment ul li  a:hover
{
  font-size:12px;
  text-decoration:none;
  cursor: pointer;
  font-weight: 700;
  color: White;
}

.marketsfragment .lfSpan
{
  width: 133px;
  padding-left: 19px;
  float: left;
}
.marketsfragment .rSpan
{
  width: 131px;
}

#MarketsFragment .Mask
{
  width: 283px;
  height: 173px;
  position: absolute;
  z-index: 0;
  background-color: #003c69;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  top: 0;
  left: 0;
}


#wrapfooter { position:relative; }

#wrapfooter #footerImg 
{
  position:absolute;
  top:0;
  right:0;
}


#topnav {margin-left:36px; margin-right:36px; height:24px;}
/*
div.AspNet-Menu-Horizontal ul.AspNet-Menu 
{  border-bottom:1px dotted #4F7997;}


div.AspNet-Menu-Horizontal ul.AspNet-Menu 
{ border-top:1px dotted white;  }
div.AspNet-Menu-Horizontal ul.AspNet-Menu li.AspNet-Menu-Leaf a.AspNet-Menu span {color:White;}


#wrapheader .subNav a { color: White; }
#wrapheader .subNav span { color: White; }
*/
/*  download file form */
/*
.downloadfileform {}
.downloadfileform fieldset { border: 0 none; margin-top: 25px; padding: 0;}
.downloadfileform label{ display: block;}
.downloadfileform input.text { margin-bottom: 12px;padding: 0.4em; width: 95%;}
*/


.downloadfileform { display:none; }
.downloadfileform .validateTips { border:1px solid #FFFFFF; margin:5px 0 5px 0; font-size: 11px; padding:2px; }



.downloadfileform fieldset { border: 0 none; margin-top: 15px; padding: 0;}
.downloadfileform .label{ display: block;}
.downloadfileform input.text { margin-bottom: 12px; padding: 0.2em; width: 95%;}
.downloadfileform select.ddl { margin-bottom: 12px; padding: 0.2em; width: 100%; margin-top:1px;}
.downloadfileform .optin {margin:5px 0 5px 0;}
.downloadfileform .optin label {font-size:smaller; display:inline !important;}
.downloadfileform .privacy {font-size:smaller;}

#bg1, #bg2 {position: absolute; top:0; left:0; right:0; bottom:0;}