h2.forumhead { margin: 0px 0px 0px 0px; padding: 0px 0px 3px 5px; font-size:170%;}
.forumthreadcrumbs { margin: 0px 0px 3px 0px;}
.forumpostheader {padding: 0px 0px 0px 5px;  background-color: #ECECEC; font-weight: bold;   }
.postwrapper {float: left; width: 100%; background-color: #F1E3CB;}
.postleft {clear: left; float: left; text-align:center;  width: 20%; padding: 15px 5px 5px 5px; margin: 0px 0px 0px 0px; }
.postright {  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 21%; background-color: white; }
.posttopic {   background-color: #F1E3CB; }
.postbody { padding: 10px 5px 0px 5px; min-height: 200px; }
.forumpostuserpropertylist {margin: 0px 0px 0px 0px; text-align: center; }
.forumpostusername { list-style-type:none;   }
.forumpostuseravatar { list-style-type:none; }
.forumpostuserattribute { list-style-type:none; }
div.forums table, div.forumview table { margin: 5px 0px 0px 0px; }
div.forums table thead tr.moduletitle,
div.forumview table thead tr.moduletitle
{ font-family: Arial, Helvetica, sans-serif; font-size: 14px;
	 color: #3399CC; }