﻿
.clear { clear: both; }

/* FlipBoxList */
.FlipBoxList .sponsorListHolder { margin-bottom: 30px; }
.FlipBoxList .sponsor { width: 200px; height: 180px; float: left; margin: 4px 9px 4px 0px; position: relative; cursor: pointer; }
.FlipBoxList .sponsorFlip { position: absolute; left: 0; top: 0; width: 200px; height: 180px; border: 1px solid #ddd; background-color: #FFFFFF; }
.FlipBoxList .sponsorFlip:hover { border: 1px solid #999; -moz-box-shadow: 0 0 10px #999 inset; -webkit-box-shadow: 0 0 10px #999 inset; box-shadow: 0 0 10px #999 inset; }
.FlipBoxList .sponsorFlip img { position: absolute; top: 50%; left: 50%; margin: -70px 0 0 -70px; }
.FlipBoxList .sponsorData { display: none; }
.FlipBoxList .sponsorDescription {  color: #003C69; font-size: 11px; padding: 25px 10px 10px 15px; }

.FlipBoxList .sponsorDescription p {margin:0;line-height:14px;}
.FlipBoxList .sponsorURL { font-size: 10px; font-weight: bold; padding:0 5px; text-align:center;  }
.FlipBoxList .sponsorURL a { font-size: 10px; color: #7AB800;font-weight: bold;   }

.FlipBoxList .note { font-size: 12px; font-style: italic; padding-bottom: 20px; text-align: center; }
.FlipBoxList a,FlipBoxList a:visited { color: #0196e3; text-decoration: none; outline: none; }
.FlipBoxList a:hover { text-decoration: underline; }
.FlipBoxList a img { border: none; }
.FlipBoxList .description { margin-bottom: 10px; }

.FlipBoxList .sponsor .editItemLink {position: absolute; right: 0; top: 0; z-index:100; display:block; }


.FlipBoxList .sponsorDescription .quoteSource {color:#666466;font-size:10px;line-height:12px;}


div.ContentArchiveModule { }
div.ContentArchiveModule div.moduleDesc { }
div.ContentArchiveModule .list { padding: 0; margin: 1em 0; }
div.ContentArchiveModule .list .listItem {  border-bottom: 1px dotted #4F7997; margin-bottom: 10px; padding-bottom:10px; }

div.ContentArchiveModule .listItem h3 { position: relative; color: #003C69; font-size: 16px; margin-bottom: 5px; }
div.ContentArchiveModule .listItem h3 a.editItemLink { color: #3399CC; padding-left: 10px; font-size: 10px; right: 0; }
div.ContentArchiveModule .listItem h4 { color: #7AB800; font-size: 12px; margin-bottom: 5px; }

div.ContentArchiveModule .listItem .desc {margin-bottom:5px;}

div.ContentArchiveModule .listItem p.link { margin: 1em 0; color: #003C69; }
div.ContentArchiveModule .listItem p.link span { }
div.ContentArchiveModule .listItem p.link a { color: #003C69; font-weight: 700; text-decoration: none; }
div.ContentArchiveModule .listItem p.link a:link { }
div.ContentArchiveModule .listItem p.link a:visited { }
div.ContentArchiveModule .listItem p.link a:hover { text-decoration: underline; }
div.ContentArchiveModule .listItem p.link a:active { }

div.ContentArchiveModule div.archiveLink { padding: 5px; text-align: center; }
div.ContentArchiveModule div.archiveLink a { font-size: 14px; font-weight: 700; }



div.ArchiveView .archivelist { padding: 0; margin: 1em 0; }
div.ArchiveView .archivelist .listItem { list-style-type: none; border-bottom: 1px dotted #4F7997; margin-bottom: 5px; }
div.ArchiveView .archivelist .listItem h3 { font-size: 14px; cursor: pointer; }
div.ArchiveView .archivelist .listItem div.date { font-size: 10px; text-align: right; }





div.TagCloudWrapper  
{
	padding:3px;
  _padding: 0px;
  background-image: url(images/side_blank.jpg); 
  background-attachment: scroll; 
  background-position: center top; 
  background-repeat: no-repeat;	
  background-color:transparent;
}


.tagsview {}

.tagsview .taggedItemList {}

.tagsview .taggedItemList .item 
{
	border-bottom: 1px dotted #4F7997;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.tagsview .taggedItemList .item h2
{
    color: #003C69;
    font-size: 106%;
    font-weight: bold;
    margin: 5px 0 0;
    position: relative;
}
.tagsview .taggedItemList .item h2 a {color: #003C69; text-decoration:none;}
.tagsview .taggedItemList .item h2 a:hover {  text-decoration:underline;}
.tagsview .taggedItemList .item h4 { margin:3px 0; }
.tagsview .taggedItemList .item p { font-size: 95%; margin:5px 0;}
.tagsview .taggedItemList .item ul { font-size: 95%; margin:5px 0;}
.tagsview .taggedItemList .item ul li { font-size: 95%; }
.tagsview .taggedItemList .item .date { font-size:11px; }
.tagsview .taggedItemList .item .desc { }


.tagsview .taggedItemList .alt { }
.tagsview .taggedItemList .ContentItem h4 { color: #7AB800; font-size: 12px; margin-bottom: 5px; }

 

/* Item Tags View */
div.tagsPanel {position:relative;}
div.tagsPanel .label	 { margin-right:10px; cursor:pointer; font-size:10px}
div.tagsPanel .tags	 { }
div.tagsPanel .tags a { margin-right:10px; text-decoration:none; font-size:10px; }
div.tagsPanel .tags a:hover {  text-decoration:underline;}



.tagsPanel .label { float: left; height:18px; }	
.tagsPanel .label .openclose { float: left;	 margin-top: -4px; }
.tagsPanel .label .loading
{		
	float: left;
	height: 12px; 
	width: 12px;
}
.tagsPanel .tags{	float: left;}
			
.tagsPanel .tags  .taglink
{
	float: left;
	height:18px;
}

.vMiddle {vertical-align:middle;}

.alltagscontainer {}
.alltagscontainer ul {list-style-type:none; margin:0; padding:0;}
.alltagscontainer ul li {}
.alltagscontainer ul li a {font-size:16px;}


/*  download file form */
.downloadfileform { display:none; }
.downloadfileform .validateTips { border:1px solid #FFFFFF; margin:5px 0 5px 0; font-size: 11px; padding:2px; }



.downloadfileform fieldset { border: 0 none; margin-top: 15px; padding: 0;}
.downloadfileform .label{ display: block;}
.downloadfileform input.text { margin-bottom: 12px; padding: 0.2em; width: 95%;}
.downloadfileform select.ddl { margin-bottom: 12px; padding: 0.2em; width: 100%; margin-top:1px;}
.downloadfileform .optin {margin:5px 0 5px 0;}
.downloadfileform .optin label {font-size:smaller; display:inline !important;}
.downloadfileform .privacy {font-size:smaller;}

.dlm.tyd .ui-dialog .ui-dialog-buttonpane	{margin-top:0px;}

.dlm.tyd .ui-dialog-buttonpane.ui-widget-content {margin-top: 0;padding-top: 0;  border: none;}





/* widget overrides */
.ui-corner-all { -moz-border-radius:0; border-radius: 0px;}
.ui-widget-overlay { opacity: 0.6; Alpha(Opacity=60);}
.ui-widget { font-family:Arial, Lucida Grande, Lucida Sans,sans-serif;}
.ui-widget-content {color:color: #585858;}




/*ADMIN Styles*/


.panelwrapper .adminWrapper {position:absolute;  z-index:100;   top:0; right:0;}
.panelwrapper .adminWrapper .adminContainer {   float:right !important;    padding:2px;  z-index:98; }
.panelwrapper .adminWrapper .adminContainer a,
.panelwrapper .adminWrapper .adminContainer input { float: right;  margin-left: 3px; color:#003C69;}


.pagelayout .addcontent{float: left; margin: 0 0 20px; }
.pagelayout .panelayout { clear: both; margin: 0 0 20px 0; padding: 0;}
.pagelayout .panelayout h2 {text-align: center; margin: 0 10px 10px 0;}
.pagelayout .regularpanes{margin: 0 auto; width: 630px; clear: both;}
.pagelayout .pane{float: left; clear: none;margin: 20px 0 20px 0; position: relative;}
.pagelayout .layoutcenter{margin: 20px 30px;}
.pagelayout .layoutalt1,
.pagelayout .layoutalt2{float: none;clear: both; width: 190px; margin: 0 auto; position: relative;}
.pagelayout .altlayoutnotice{margin-bottom: 20px;}
.pagelayout .panelistbox{position: relative; width: 190px;}
.pagelayout .pane select {width: 170px; margin-right: 10px;}
.pagelayout .layoutbuttons{right: 0; top: 5px; position: absolute;}
.pagelayout .layoutbuttons input{display: block; margin-bottom: 10px;}

.moduletitle .ModuleEditLink { float: right; font-size: 8px; margin-left: 3px; }

.modulesubtitle { height: 23px; vertical-align: bottom; font-size: small; font-weight: 700; margin: 5px 0 0; padding: 4px 0 4px 5px; }

.pagelayout h2 { font-size: 14px; }

/* Form styles */
.editforminput { margin-bottom: 5px; padding: 3px; }
.editforminput .editLabel, .editforminput .editLableRow { padding: 1px; font-weight: 700; }
.editforminput .editLabel { width: 20em; float: left; clear: left; }
.editforminput .editLableRow { margin-bottom: 5px; }

.altRow { background-color: #F2F2F2; }


fieldset { border: 1px solid #ccc; margin: 0; padding: 1em; }
legend { font-weight: 700; }
.settinglabel { float: left; clear: left; width: 20em; padding: 1px; }
.settinglabelFixedHeight { float: left; clear: left; width: 20em; height: 77px; padding: 1px; }
.settinglabel, .settinglabelFixedHeight { font-weight: 700; font-size: smaller; }
.settingrow { clear: left; padding: 4px 0; }
.settingrow { clear: left; padding: 4px 0; }
.settingrow .ajax__htmleditor_editor_base ajax__htmleditor_editor_default { }
.settinglabeltight { float: left; clear: left; width: 8em; font-weight: 700; padding: 1px; }
.settingrowtight { clear: left; padding: 1px 0; }
.modulebuttonrow { clear: left; text-align: center; }
.smalltextbox { width: 4em; }
.normaltextbox { width: 10em; }
.mediumtextbox { width: 15em; }
.widetextbox { width: 25em; }
.verywidetextbox { width: 35em; }
.txterror { font-size: 100%; font-weight: 700; color: Red; }
.watermarktextbox { width: 9em; color: Gray; }
.subscribeemail { color: Gray; width: 14em; }
.txtcopyright { font-size: 80%; font-weight: 400; }
input.openid_login { background: url('images/openidlogin.gif') no-repeat; background-color: #fff; background-position: 0 50%; color: #000; padding-left: 18px; }


/* Grids and Tables */
table.editgrid th { font-weight: 700; padding: 7px; }
.AspNet-GridView table thead tr th { padding: 2px; }
.AspNet-GridView table tbody tr td { color: #333; background: #FFF; border-bottom: solid 1px #CCC; border-right: solid 1px #CCC; text-align: left; padding: 2px 20px 2px 2px; }
.AspNet-GridView table tbody tr.AspNet-GridView-Alternate td { background: #F7F6F3; }
table.editgrid td { padding: 7px; }


/* Lists */
.topnav { position: absolute; top: 0; right: 0; width: 100%; height: 26px; text-align: right; padding: 0 20px 0 0; }
.topnav ul { float: right; display: inline; margin: 5px 0 0 10px; }
li.topnavitem { float: left; list-style-type: none; border-left: solid thin #666; padding: 0 7px; }
li.firstnav { float: left; list-style-type: none; padding: 0 7px 0 0; }
li.linkitem, li.linkaltitem { display: block; min-height: 18px; border-bottom-color: #737373; border-width: 0 0 1px; margin: 5px 0 0; }
/*.linkitem a { padding:7px 0 0 4px; }*/
.simplelist, .simplelist li { list-style: none; padding: 0 0 10px 3px; }
ul.linkitem { list-style-type: none; margin: 0; padding: 2px; }


ul.linkitems { list-style-type: none; margin: 0; padding: 2px; }


li.linkitem, li.linkaltitem .linksthumb { }
li.linkitem, li.linkaltitem .linktext { position: relative; }

li.linkitem { position: relative; }
li.linkitem .title { margin-bottom: 2px; font-weight: bold; }
li.linkitem .imgThumb { float: left; margin-right: 3px; margin-bottom: 2px; }
li.linkitem .date { font-weight: bold; color: #297493; font-size: 90%; margin-bottom: 2px; }
li.linkitem .loc { position: absolute; right: 0px; top: 0px; font-size: 90%; }
li.linkitem .editlink { position: absolute; right: 2px; top: 2px; z-index: 5; }
li.linkitem .editlink img { filter: alpha(opacity=75); -moz-opacity: 0.75; -khtml-opacity: 0.75; opacity: 0.75; }
li.linkitem .desc p { margin-top: 0px; margin-bottom: 0px; }
li.linkitem .desc .readmore { font-size: 86%; }

li.linkaltitem { margin-top: 10px; margin-bottom: 10px; position: relative; }
li.linkaltitem .title { margin-bottom: 2px; font-weight: bold; }
li.linkaltitem .imgThumb { float: left; margin-right: 3px; margin-bottom: 2px; }
li.linkaltitem .date { font-weight: bold; color: #297493; font-size: 90%; margin-bottom: 2px; }

li.linkaltitem .loc { position: absolute; right: 0px; top: 0px; font-size: 90%; }
li.linkaltitem .editlink { position: absolute; right: 2px; top: 2px; z-index: 5; }
li.linkaltitem .editlink img { filter: alpha(opacity=75); -moz-opacity: 0.75; -khtml-opacity: 0.75; opacity: 0.75; }
li.linkaltitem .desc p { margin-top: 0px; margin-bottom: 0px; }
li.linkaltitem .desc .readmore { font-size: 90%; }


div.imagelinks { }
div.linksheader { display: block; }
div.linksfooter { display: block; }

div.sitemap ul, div.sitemap ul li { list-style: none; font-size: 100%; }
.site-statistics { border-bottom: solid thin #ccc; margin: 0 0 5px; padding: 0 0 5px; }
ul.userstats { list-style-type: none; font-size: 90%; margin: 0 0 0 -40px; }
ul.userstats ul { display: block; margin: 0; padding: 0; }
ul.userstats li { position: relative; list-style: none; font-size: 100%; }
div.AspNet-RadioButtonList ul, div.AspNet-CheckBoxList ul { list-style-type: none; margin: 0; padding: 0; }
div.simplehorizontalmenu { clear: both; width: 100%; height: 27px; }
ul.simplehorizontalmenu { float: left; list-style: none; margin: 0; padding: 0; }
ul.simplehorizontalmenu li { display: inline; padding: 0 10px; }
li.linkitem a, li.linkaltitem a { color: #626365; text-decoration: none; }
li.AspNet-RadioButtonList-Item, li.AspNet-CheckBoxList-Item { white-space: nowrap; }
ul.simplehorizontalmenu li.selecteditem { font-weight: 700; }

 

/* Links */
h1.siteheading a.siteheading:link, a.siteheading:visited, a.siteheading:hover, a.siteheading:active { color: #616365; }
a.ModuleEditLink, a.ModuleEditLink:link, a.ModuleEditLink:visited, a.ModuleEditLink:hover, a.ModuleEditLink:active { color: #003C69; font-size: 10px; }
a: hover { color: #003C69; }
.sitelink, a.sitelink:link, a.sitelink:visited, a.sitelink:hover, a.sitelink:active, h3 a, a, a:link, a:visited, a:active, .modulepager, a.ModulePager:link, a.ModulePager:visited, a.ModulePager:active, #wrapfooter, #wrapfooter a { color: #666; }
legend a, a.siteheading:link, a.siteheading:visited, a.siteheading:hover, a.siteheading:active, a.sitelink:link, a.sitelink:visited, a.sitelink:active, a.selectedcrumb:link, a.selectedcrumb:visited, a.selectedcrumb:active, a.unselectedcrumb:link, a.unselectedcrumb:visited, a.unselectedcrumb:active { text-decoration: none; }
a.sitelink:hover, a.selectedcrumb:hover, li.linkitem a:hover, li.linkaltitem a:hover, a.unselectedcrumb:hover, #wrapfooter a { text-decoration: underline; }
.pageditlinks a { margin: 3px 7px 3px 0px; }
a.adminlink, a.adminlink:link, a.adminlink:visited, a.adminlink:hover, a.adminlink:active { font-size: 16px; border-left: 1px solid #a4a4a4; padding: 8px 8px 10px 8px; line-height: 32px; color: #555; text-decoration: none; }
a.adminlink:hover { text-decoration: underline; }

.accent { color: #666; font-weight: 700; }
.buttonlink { background-color: transparent; color: #03F; cursor: pointer; text-decoration: underline; font-size: 13px; border-style: none; }


/* breadcrumbs */
.breadcrumbs { width: 99%; padding-top: 8px; font-size: 10px; color: #003c69; }
.breadcrumbs span { color: #003c69; font-weight: 700; }
.selectedcrumb { font-weight: 400; color: #003c69 !important; text-decoration: underline !important; }
.unselectedcrumb { font-weight: 700; color: #b2b2b2 !important; }

.modulepager { font-size: 100%; font-weight: 700; }
a.ModulePager:hover { color: #000; text-decoration: underline; }
a.SelectedPage:hover { color: #000; text-decoration: underline; }
.selectedpage { font-size: 80%; font-weight: 700; line-height: 12px; }
.selectedpage, a.SelectedPage:link, a.SelectedPage:visited, a.SelectedPage:active { color: #000; }
.modulepager, .ModulePager, .PageInfo, .SelectedPage, .pageditlinks a { font-size: 12px; margin-top: 5px; }
.PageInfo { margin-right: 10px; }

.modulecontent { vertical-align: top; padding: 0 0 0 0px; }
.modulefooter { display: none; font-size: smaller; text-align: center; }
.modulerow { background-color: #FFF; }


.altcontent1 .rtop, 
.altcontent1 .rbottom, 
.center-leftmargin .rtop, 
.center-leftmargin .rbottom, 
.center-rightmargin .rtop, 
.center-rightmargin .rbottom, 
.center-nomargins .rtop, 
.center-nomargins .rbottom, 
.center-rightandleftmargins .rtop, 
.center-rightandleftmargins .rbottom, 
.logolist, 
.pageicons, 
.skiplink { display: none; }

.gmaptextbox { width: 27em; }
.gmap { margin: 0 0 10px; }

.foldergallery h1 { font-size: large; margin-bottom: 20px; }
.albumMetaName { font-weight: 700; }
.albumFloat { float: left; text-align: center; margin-right: 8px; margin-bottom: 4px; }
.albumMetaSectionHead { background-color: Gray; color: #FFF; font-weight: 700; }

.ratingcontainer { float: right; }
.ratingrow { white-space: nowrap; }
.ratingStar { white-space: nowrap; height: 14px; margin: 1em; }
.ratingStar .ratingItem { font-size: 0; width: 13px; height: 12px; display: block; background-repeat: no-repeat; cursor: pointer; margin: 0; padding: 0; }
.ratingStar .Filled { background-image: url('images/ratingStarFilled.png'); }
.ratingStar .Empty { background-image: url('images/ratingStarEmpty.png'); }
.ratingStar .Saved { background-image: url('images/ratingStarSaved.png'); }
.ratingcomments { border: #000 1px solid; background-color: #eee; color: #000; width: 300px; height: 210px; position: absolute; margin-top: 15px; padding: 5px; }
.ratingcommentbox { width: 280px; height: 100px; }

.forumnotify { white-space: nowrap; vertical-align: middle; padding: 10px 0px 5px 0px; }
.forumnotify img { float: left; }

div.addthisbutton { position: absolute; top: 37px; right: 280px; }
.clearpanel { clear: left; padding-top: 15px; }
.minheightpanel { min-height: 200px; }
.center { text-align: center; }
.vevent { padding: 10px; }
.vevent abbr { border: 0; }
.whoson { float: left; padding: 5px; }
.clear { clear: both; }
.searchterm { color: #000; background-color: #FF0; }
.templatewrapper { border-bottom: solid 4px #000; }
.linkdescription { font-size: 100%; font-weight: 400; font-style: italic; }


div.editContactUs p.info, div.contactus p.info { font-size: 11px; }


div.editContactUs h3 { font-size: 106%; }


fieldset.wrapperDownloadFile div.left { float: left;   }
fieldset.wrapperDownloadFile div.right { float: left; }

table.formDownloadFile th { text-align: left;  vertical-align:top; }
table.formDownloadFile td { text-align: left;  vertical-align:top; }





 #moreInfo {}
 #moreInfo h3.head {}
 #moreInfo h3.head a { text-decoration:none; padding-left:18px; background:transparent url('/Data/SiteImages/min.png') no-repeat left center;  } 
 #moreInfo h3.head a:hover { text-decoration:underline;} 
 #moreInfo h3.open a { background:transparent url('/Data/SiteImages/max.png') no-repeat left center; }
 
 
 .formDownloadFile .validator { border: 1px solid #DF0101; padding:2px 18px 1px 2px; float:left; background:transparent url('/Data/SiteImages/warning.png') no-repeat right center; width:88%; margin-top:3px;}
 
 
 

.AspNet-TreeView-Leaf a.feed 
{
  margin-left: 3px;
  padding: 0 0 0 16px !important;
  background: url("images/rss_12.png") no-repeat 0 50%;
}

#wrapfooter a.feed 
{
  margin-left: 3px;
  padding: 0 0 0 16px !important;
  background: url("images/rss_12.png") no-repeat 0 50%;
}

.rsslinks  .modulecontent p { margin-top:6px;}
.rsslinks  .modulecontent a 
{
  line-height:22px;
  font-weight:bold;
	text-decoration:none;
	color: #003C69;
	font-size: 1em;
	padding: 0 0 0 18px;
	background: url("images/rss_14.png") no-repeat 0 50%;
}

.rsslinks .modulecontent a:visited, 
.rsslinks .modulecontent a:link, 
{
	color: #003C69;
 
	}

.rsslinks .modulecontent a:hover
{
	color: #7AB800;
}



.QLightTheme  .q-selected .ui-icon { background-image: url("Images/ui-icons_7ab800_256x240.png"); }


.settingsPanels 
{
  background-color: White;
  padding:8px;
 }

.settingContainer
{
}
.settingContainer .settingRow
{
  padding: 5px;
}
.settingContainer .settingRow .lbl
{
  padding-bottom: 4px;
  font-weight: bold;
}
      
.padFive
{
  padding: 5px;
}

.link-status 
{
  display:none;
  
}

.checking-link 
{ 
  position: relative;
}
  
.checking-link .link-status 
{
  display:block;
	height: 16px; 
	width:16px;
  position: absolute;
  top: 2px;
  right: -20px;  
  background:transparent url('/Data/SiteImages/indicators/indicator_arrows.gif') no-repeat center center;
 }
 
.good-link { position:relative; }
 
.good-link .link-status 
{
  display:block;
	height: 16px; 
	width:16px;
  position: absolute;
  top: 2px;
  right: -20px;  
  background:transparent url('/Data/SiteImages/accept.png') no-repeat center center;
 }
 
  
.link-not-found 
{
  border: 1px solid #DF0101; 
  position: relative;
  padding:3px; 
}
 
 .link-not-found  .link-status 
 {  
   display:block;
   height: 16px; 
   width:16px;
   position: absolute;
   top: 2px;
   right: -20px;  
   background:transparent url('/Data/SiteImages/warning.png') no-repeat center center;
 }




.toolbarright .linkCheck {
	  background:transparent url('/Data/SiteImages/accept.png') no-repeat 5px 50%;
}



.isActive {}
.isActive input[type=checkbox] {  }
 
.settings th,td { padding: 2px 0; }
 
.settings .chbox label {  padding:2px 2px 1px 2px; }
 
.settings .isActive label.status-warning 
{ 
  border: 1px solid #DF0101; 
  padding-right: 18px;
  background:transparent url('/Data/SiteImages/warning.png') no-repeat right center;
 }

.settings .isActive label.status-good  
{
  border: 1px solid #ffffff;   
  padding-right: 18px;
  background:transparent url('/Data/SiteImages/accept.png') no-repeat right center;   
}

.settings  .restriced label.status-warning,
.settings label.status-yellow-warning{
  background: url("/Data/SiteImages/warning-yellow.png") no-repeat scroll right center #F5F6CE;
  border: 1px solid #F5F6CE;
  padding-right: 18px;
}

 
 
 
 
 .infoMsg
{
  background-color: #819FF7;
  position: relative;
  padding: 4px 30px 4px 30px;
  margin: 5px 0;
  border: 1px solid #fff;
  background-image: url('/Data/SiteImages/info.gif');
  background-position: 3px 3px;
  background-repeat: no-repeat;
}

.infoMsg .closebutton
{
  height: 20px;
  margin: -11px 0 0;
  padding: 1px;
  position: absolute;
  right: 0.3em;
  top: 50%;
  width: 19px;
  height: 18px;
  width: 18px;
}

.infoMsg .closebutton span
{
  background-image: url('/Data/SiteImages/close.gif');
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin: 1px;
  overflow: hidden;
  text-indent: -99999px;
  height: 18px;
  width: 18px;
}

.successMsg
{
  background-color: #819FF7;
  position: relative;
  padding: 4px 30px 4px 30px;
  margin: 5px 0;
  border: 1px solid #fff;
  background-image: url('/Data/SiteImages/accept.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;
}

.successMsg .closebutton
{
  height: 20px;
  margin: -11px 0 0;
  padding: 1px;
  position: absolute;
  right: 0.3em;
  top: 50%;
  width: 19px;
  height: 18px;
  width: 18px;
}

.successMsg .closebutton span
{
  background-image: url('/Data/SiteImages/close.gif');
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin: 1px;
  overflow: hidden;
  text-indent: -99999px;
  height: 18px;
  width: 18px;
}
.errorMsg
{
  background-color: #FA5858;
  position: relative;
  padding: 4px 30px 4px 30px;
  margin: 5px 0;
  border: 1px solid #fff;
  background-image: url('/Data/SiteImages/warning-yellow.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;
}

.errorMsg .closebutton
{
  height: 20px;
  margin: -11px 0 0;
  padding: 1px;
  position: absolute;
  right: 0.3em;
  top: 50%;
  width: 19px;
}

.errorMsg .closebutton span
{
  background-image: url('/Data/SiteImages/close.gif');
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin: 1px;
  overflow: hidden;
  text-indent: -99999px;
  height: 18px;
  width: 18px;
}


/*  standard table grid    */
 div.tblGrid
 {
    margin:16px 0;
 }
div.tblGrid  table 
{
    border-color: #CBCBCB #8B8A8A #8B8A8A #CBCBCB;
    border-style: solid;
    border-width: 1px;
}
div.tblGrid   tr.headerRow {background-color: #CEE3F6;}
div.tblGrid   tr.headerRow td, 
div.tblGrid   tr.headerRow th {border-bottom: 1px solid #CBCBCB;  }
div.tblGrid   tr.itemRow {}
div.tblGrid   tr.itemRow:hover {background-color: #CEECF5;}
div.tblGrid   tr.altRow {background-color: #F2F2F2;}
div.tblGrid   tr.altRow:hover {background-color: #CEECF5;}
div.tblGrid th, div.tblGrid td {height: 16px; padding: 4px;}



span.help-me
{
  position: relative;
  padding: 0px 5px;
  background-image: url(/Data/SiteImages/FeatureIcons/help.gif);
  background-repeat: no-repeat;
  background-position: center center;
  height: 12px;
  width: 12px;
  display: inline-block;
}
    
    
span.help-me .tip
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: White;
  border: 1px solid #000000;
}
span.help-me .tip p
{
  padding: 15px;
  margin: 0;
  min-width: 100px;
}


.link-accept
{
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 23px;
  text-decoration: none;
  background: url('/Data/SiteImages/accept.png') no-repeat scroll 5px 50% transparent;
}
.link-add
{
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 23px;
  text-decoration: none;
  background: url('/Data/SiteImages/add.png') no-repeat scroll 5px 50% transparent;
}
.link-edit
{
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 23px;
  text-decoration: none;
  background: url('/Data/SiteImages/page_edit.png') no-repeat scroll 5px 50% transparent;
}
.link-trash
{
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 23px;
  text-decoration: none;
  background: url('/Data/SiteImages/trash.png') no-repeat scroll 5px 50% transparent;
}

.link-manage
{
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 23px;
  text-decoration: none;
  background: url('/Data/SiteImages/office/folders.gif') no-repeat scroll 5px 50% transparent;
}


.link-save
{
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 23px;
  text-decoration: none;
  background: url('/Data/SiteImages/office/save.gif') no-repeat scroll 5px 50% transparent;
}


.link-xls
{
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 23px;
  text-decoration: none;
  background: url('/Data/SiteImages/Icons/xlsx.png') no-repeat scroll 5px 50% transparent;
}

.link-sort-up
{
    cursor: pointer;
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 18px;
  text-decoration: none;
  background: url('/Data/SiteImages/UpArrow.gif') no-repeat scroll 5px 50% transparent;
}
.link-sort-down
{
  cursor: pointer;
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 24px;
  text-decoration: none;
  background: url('/Data/SiteImages/DownArrow.gif') no-repeat scroll 5px 50% transparent;
}

.link-search
{
  cursor: pointer;
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 28px;
  text-decoration: none;
  background: url('/Data/SiteImages/search.gif') no-repeat scroll 5px 50% transparent;
}
.link-clear-search
{
  cursor: pointer;
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 24px;
  text-decoration: none;
  background: url('/Data/SiteImages/cancel.gif') no-repeat scroll 5px 50% transparent;
}

.link-cancel
{
  cursor: pointer;
  color: #666666;
  font-size: 12px;
  padding: 3px 3px 3px 24px;
  text-decoration: none;
  background: url('/Data/SiteImages/CancelChanges.gif') no-repeat scroll 5px 50% transparent;
}