﻿<%@ Page Title="" Language="C#" MasterPageFile="~/App_MasterPages/layout.Master" AutoEventWireup="true" CodeBehind="Download.aspx.cs" Inherits="Quantifi.UI.Controls.DownloadModule.Download" %>





<asp:Content ID="Content1" ContentPlaceHolderID="leftContent" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="rightContent" runat="server">
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="pageEditContent" runat="server">
</asp:Content>
