﻿<div>
  <p class="normal">
    <span style='font-size: 10.0pt; font-family: Arial;'>Dear {0}, </span>
  </p>
  <br />
  <p class="normal">
    <span style='font-size: 10.0pt; font-family: Arial;'>Thank you for your interest in Quantifi. We are a specialist provider of analytics, trading and risk management solutions. Our award-winning solutions are trusted by the world's most sophisticated financial institutions including five of the six largest global banks, two of the three largest asset managers, leading hedge funds, insurance companies, pension funds and other market participants in over 16 countries.</span>
  </p>
  <br />
  <p class="normal">
    <span style='font-size: 10.0pt; font-family: Arial;'>Learn more about <a href="/our-firm.aspx?utm_source=internal&amp;utm_medium=email&amp;utm_campaign=literature_request">
      <span style='color: #1F497D; font-weight: bold;'>Quantifi</span></a>, our <a href="/solutions.aspx?utm_source=internal&amp;utm_medium=email&amp;utm_campaign=literature_request">
        <span style='color: #1F497D; font-weight: bold;'>Solutions</span></a> and our
      <a href="/services.aspx?utm_source=internal&amp;utm_medium=email&amp;utm_campaign=literature_request">
        <span style='color: #1F497D; font-weight: bold;'>Services</span></a>.</span>
  </p>
  <br />
  <p class="normal">
    <span style='font-size: 10.0pt; font-family: Arial;'>The file you have requested is
      attached to this email. If you require any further information please don't hesitate
      to contact a member of our team at: </span>
  </p>
  <br />

  <p class="normal">
    <span style='font-size: 10.0pt; font-family: Arial;'>North America: +1 (212) 784 6815<br />
      EMEA: +44 (0) 20 7248 3593<br />
      APAC: +61 (02) 9221 0133<br />
    </span>
  </p>
  <br />
  <p class="normal">
    <span style='font-size: 10.0pt; font-family: Arial;'><a href="mailto:enquire@quantifisolutions.com">enquire@quantifisolutions.com</a>
      <br />
      <a href="http://www.quantifisolutions.com?utm_source=internal&amp;utm_medium=email&amp;utm_campaign=literature_request">www.quantifisolutions.com</a> </span>
  </p>
  <br />
  <p class="normal">
    <span style='font-size: 10.0pt; font-family: Arial;'>The Quantifi Team</span>
  </p>
  <br />
  <div class="normal">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top">
          <table border="0">
            <tr>
              <td valign="top" style="padding: 3px 0;">
                <b><span style='font-size: 10.5pt; font-family: "Arial","sans-serif"; color: #0075B0'>Quantifi 'Category Leader' for Buy Side Risk Analytics</span></b><br />
                <span style='font-size: 10.5pt; font-family: "Arial","sans-serif"; color: #616365'>Chartis RiskTech Quadrant &gt;&gt; <b><a href="http://quantifisolutions.com/quantifi-recognised-as-category-leader-for-buy-side-risk-analytics-in--chartis-risktech-quadrant.aspx"><span style='color: #616365'>Read More</span></a></b></span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://quantifisolutions.com/quantifi-recognised-as-category-leader-for-buy-side-risk-analytics-in--chartis-risktech-quadrant.aspx">
                  <img border="0" src="/Data/Sites/1/images/emails/chartis-logo (100x20).jpg" alt="Chartis Logo" /></a>
              </td>
            </tr>
          </table>
        </td>

      </tr>
    </table>
  </div>
  <br />
  <div class="normal">
    <table border="0" cellpadding="2" cellspacing="2">
      <tbody>
        <tr>
          <td valign="center">
            <a target="_blank" href="http://www.youtube.com/user/Quantifi" title="" style="text-decoration: none;">
              <img width="45" height="18" border="0" src="/Quantifi/Images/Social/youtube_48_18.png"
                alt="" style="display: block;">
            </a>
          </td>
          <td>&nbsp;&nbsp; &nbsp;
          </td>
          <td valign="center">
            <a href="http://www.linkedin.com/company/205569" title="Follow us on LinkedIn">
              <img width="72" height="18" border="0" src="/Quantifi/Images/Social/linkedin_logo.jpg"
                alt="Follow us on LinkedIn" style="vertical-align: middle;"></a>
          </td>
          <td>&nbsp;&nbsp; &nbsp;
          </td>
          <td valign="center">
            <a href="https://twitter.com/#!/Quantifi" title="Follow us on LinkedIn">
              <img width="97" height="18" border="0" src="/Quantifi/Images/Social/logo_twitter_withbird_18h_blue.png"
                alt="" style="display: block;"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
